<header class="z-15 js-page-header fixed top-0 w-full no-blur transition-colors" id="headerNav">
    <div class="flex items-center px-6 py-6 xl:px-24">
        <!-- Logo -->
        <a (click)="goToHome()" class="shrink-0">
            <img src="/assets/img/logo.svg" class="dark:hidden logo"/>
        </a>

        <span *ngIf="isHelpCenter" (click)="goToHelpCenter()"
              class="font-display ml-8 text-center text-2xl text-white cursor-pointer">Learn</span>

        <!-- Menu / Actions -->
        <div [ngClass]="{'nav-menu--is-open': isMobileNavOpened}"
             class="js-mobile-menu dark:bg-jacarta-800 invisible fixed inset-0 z-10 ml-auto items-center bg-white opacity-0 lg:visible lg:relative lg:inset-auto lg:flex lg:bg-transparent lg:opacity-100 dark:lg:bg-transparent">
            <!-- Mobile Logo / Menu Close -->
            <div class="t-0 dark:bg-jacarta-800 fixed left-0 z-10 flex w-full items-center justify-between bg-white p-6 lg:hidden">
                <!-- Mobile Logo -->
                <a href="/" class="shrink-0">
                    <img src="/assets/img/logo.svg" class="max-h-7">
                </a>

                <!-- Mobile Menu Close -->
                <button (click)="toggleMobileNav()"
                        class="js-mobile-close border-jacarta-100 hover:bg-accent focus:bg-accent group dark:hover:bg-accent ml-2 flex h-10 w-10 items-center justify-center rounded-full border bg-white transition-colors hover:border-transparent focus:border-transparent dark:border-transparent dark:bg-white/[.15]"
                        aria-label="close mobile menu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                         class="fill-jacarta-700 h-4 w-4 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"></path>
                    </svg>
                </button>
            </div>

            <!--            <form [formGroup]="mobileSearchForm" id="mobileSearchContainer" class="relative mt-24 mb-8 w-full lg:hidden">-->
            <!--                <input formControlName="name" (input)="onMobileSearch()" type="search" class="text-jacarta-700 placeholder-jacarta-500 focus:ring-accent border-jacarta-100 w-full rounded-2xl border py-3 px-4 pl-10 dark:border-transparent dark:bg-white/[.15] dark:text-white dark:placeholder-white" placeholder="Search">-->
            <!--                <span class="absolute left-0 top-0 flex h-full w-12 items-center justify-center rounded-2xl">-->
            <!--                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-500 h-4 w-4 dark:fill-white">-->
            <!--                        <path fill="none" d="M0 0h24v24H0z"></path>-->
            <!--                        <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"></path>-->
            <!--                    </svg>-->
            <!--                </span>-->

            <!--                <div *ngIf="isSearchingByName" id="mobileSearchDropdown"-->
            <!--                     class="om-dropdown z-10 w-full whitespace-nowrap rounded-xl bg-white transition-all will-change-transform lg:invisible shadow-2xl">-->
            <!--                    <div *ngIf="collections?.length">-->
            <!--                        <div (click)="goToCollection(collection)" *ngFor="let collection of collections" class="search-result">-->
            <!--                            <span class="search-id-container">-->
            <!--                                <img class="object-cover" [src]="collection.imageURL">-->
            <!--                                <span>{{collection.collectionName}}</span>-->
            <!--                            </span>-->

            <!--                            <span *ngIf="collection.totalSupply" class="additional-info">-->
            <!--                                {{collection.totalSupply }} items-->
            <!--                            </span>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                    <div *ngIf="isSearchingByName && !isLoadedCollections">-->
            <!--                        <div class="vw-100 flex justify-center items-center pb-20">-->
            <!--                            <ngx-ui-loader loaderId="mobileSearchLoader"></ngx-ui-loader>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                    <div *ngIf="isSearchingByName && isLoadedCollections && !collections?.length">-->
            <!--                        <div class="vw-50 block text-center">-->
            <!--                            <span *ngIf="searchForm.get('name').value.length >= 3" class="text-jacarta-300 text-center mt-24">-->
            <!--                                Not found any matching collection-->
            <!--                            </span>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                    <div *ngIf="isSearchingByName && !isLoadedCollections && !collections?.length">-->
            <!--                        <div class="vw-50 block text-center">-->
            <!--                            <span *ngIf="searchForm.get('name').value.length < 3" class="text-jacarta-300 text-center mt-24">-->
            <!--                                Search using minimum 3 characters-->
            <!--                            </span>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </form>-->

            <!-- Primary Nav -->
            <nav [ngClass.lt-md]="['mt-24']" class="navbar w-full">
                <ul class="flex flex-col lg:flex-row">
                    <!--                    <li *ngIf="!isMobileNavOpened">-->
                    <!--                        <span *ngIf="!isSearchOpen" (click)="toggleSearch()" class="flex h-full w-12 items-center justify-center rounded-2xl">-->
                    <!--                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="search-icon fill-white h-4 w-4">-->
                    <!--                                <path fill="none" d="M0 0h24v24H0z"></path>-->
                    <!--                                <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"></path>-->
                    <!--                            </svg>-->
                    <!--                        </span>-->

                    <!--                        <form [formGroup]="searchForm" *ngIf="isSearchOpen" id="searchContainer" class="relative ml-12 mr-8 hidden basis-3/12 lg:block xl:ml-[8%]">-->
                    <!--                            <input formControlName="name" (input)="onSearch()" type="search" class="text-jacarta-700 placeholder-jacarta-500 focus:ring-accent border-jacarta-100 w-full rounded-2xl border py-[0.6875rem] px-4 pl-10 dark:border-transparent dark:bg-white/[.15] dark:text-white dark:placeholder-white" placeholder="Search">-->
                    <!--                            <span class="absolute left-0 top-0 flex h-full w-12 items-center justify-center rounded-2xl">-->
                    <!--                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-500 h-4 w-4 dark:fill-white">-->
                    <!--                                    <path fill="none" d="M0 0h24v24H0z"></path>-->
                    <!--                                    <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"></path>-->
                    <!--                                </svg>-->
                    <!--                            </span>-->

                    <!--                            <div *ngIf="isSearchingByName" id="searchDropdown"-->
                    <!--                                 class="om-dropdown dropdown-menu dark:bg-jacarta-800 group-dropdown-hover:visible !-right-4 !top-[85%] !left-auto-->
                    <!--                                  z-10 hidden min-w-[14rem] whitespace-nowrap rounded-xl bg-white transition-all will-change-transform before:absolute-->
                    <!--                                   before:-top-3 before:h-3 before:w-full lg:invisible lg:absolute lg:grid lg:!translate-y-4 lg:py-4 lg:px-2 lg:opacity-0-->
                    <!--                                    lg:shadow-2xl">-->
                    <!--                                <div *ngIf="collections?.length">-->
                    <!--                                    <div (click)="goToCollection(collection)" *ngFor="let collection of collections" class="search-result">-->
                    <!--                                        <span class="search-id-container">-->
                    <!--                                            <img class="object-cover" [src]="collection.imageURL">-->
                    <!--                                            <span>{{collection.collectionName}}</span>-->
                    <!--                                        </span>-->

                    <!--                                        <span *ngIf="collection.totalSupply" class="additional-info">-->
                    <!--                                            {{collection.totalSupply }} items-->
                    <!--                                        </span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div *ngIf="isSearchingByName && !isLoadedCollections">-->
                    <!--                                    <div class="vw-50 flex justify-center items-center">-->
                    <!--                                        <ngx-ui-loader loaderId="searchLoader"-->
                    <!--                                                       hasProgressBar="true"-->
                    <!--                                        ></ngx-ui-loader>-->
                    <!--                                        <span class="text-jacarta-300 text-center mt-24">-->
                    <!--                                            {{collections?.length > 0 ? 'Searching more...' : 'Searching collections...'}}-->
                    <!--                                        </span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div *ngIf="isSearchingByName && isLoadedCollections && !collections?.length">-->
                    <!--                                    <div class="vw-50 block text-center">-->
                    <!--                                        <span *ngIf="searchForm.get('name').value.length >= 3" class="text-jacarta-300 text-center mt-24">-->
                    <!--                                            Not found any matching collection-->
                    <!--                                        </span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                                <div *ngIf="isSearchingByName && !isLoadedCollections && !collections?.length">-->
                    <!--                                    <div class="vw-50 block text-center">-->
                    <!--                                        <span *ngIf="searchForm.get('name').value.length < 3" class="text-jacarta-300 text-center mt-24">-->
                    <!--                                            Search using minimum 3 characters-->
                    <!--                                        </span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </form>-->
                    <!--                    </li>-->
                    <li *ngIf="!isConnectedToWallet && !isMobileNavOpened" class="group">
                        <a
                                (click)="toggleWalletTypeSelect()"
                                class="text-jacarta-700 lg:text-white font-display hover:text-accent focus:text-accent dark:hover:text-accent dark:focus:text-accent flex items-center justify-between py-3.5 text-base dark:text-white lg:px-5"
                        >Connect</a
                        >
                    </li>

                    <li *ngIf="!isMobileNavOpened" class="js-nav-dropdown nav-item dropdown group relative">
                        <a
                                class="dropdown-toggle text-jacarta-700 lg:text-white font-display hover:text-accent focus:text-accent dark:hover:text-accent dark:focus:text-accent flex items-center justify-between py-3.5 text-base dark:text-white lg:px-5"
                                id="navDropdown-3"
                                aria-expanded="false"
                                role="button"
                                data-bs-toggle="dropdown">
                            Products
                            <i class="lg:hidden">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"/>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/>
                                </svg>
                            </i>
                        </a>
                        <span class="dropdown-menu -left-6 top-[85%] z-10 hidden flex flex-col whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:visible group-hover:opacity-100 dark:bg-jacarta-800 lg:invisible lg:absolute lg:!grid lg:translate-y-4 lg:py-8 lg:px-5 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2"
                              aria-labelledby="navDropdown-1">
                            <span class="flex space-x-4 items-center w-full">
                                <span (click)="goToCreate()" class="w-half">
                                    <a class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600">
                                      <span class="mr-3 p-[0.375rem]">
                                        <img class="feature-icon" src="/assets/icons/settings.png">
                                      </span>
                                        <span class="font-display text-base text-jacarta-700 dark:text-white">Creator Studio</span>
                                    </a>
                                </span>
                                <span (click)="goToONFTGateway()" class="w-half"
                                      ngxTippy
                                      data-tippy-content="Bridge any ERC-721 between 9 chains with the original recoverability.">
                                    <a class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600">
                                      <span class="mr-3 p-[0.375rem]">
                                        <img class="feature-icon" src="/assets/icons/square.png">
                                      </span>
                                        <span class="font-display text-base text-jacarta-700 dark:text-white">NFT Bridge</span>
                                    </a>
                                </span>
                            </span>
                            <span class="flex space-x-4 items-center w-full">
                                <span (click)="goToToken()" class="w-half">
                                    <a class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600">
                                      <span class="mr-3 p-[0.375rem]">
                                        <img class="feature-icon" src="/assets/icons/connect.png">
                                      </span>
                                        <span class="font-display text-base text-jacarta-700 dark:text-white">Omnichain Token</span>
                                    </a>
                                </span>
                                <span (click)="goToTokenBridge()" class="w-half" ngxTippy
                                      data-tippy-content="Move OSEA - the Omnichain Token - between all supported chains.">
                                    <a class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600">
                                      <span class="mr-3 p-[0.375rem]">
                                        <img class="feature-icon" src="/assets/icons/storage.png">
                                      </span>
                                        <span class="font-display text-base text-jacarta-700 dark:text-white">OSEA Bridge</span>
                                    </a>
                                </span>
                            </span>
                        </span>
                    </li>

                    <!--                    <li class="js-nav-dropdown nav-item dropdown group relative">-->
                    <!--                        <a-->
                    <!--                                class="dropdown-toggle text-jacarta-700 lg:text-white font-display hover:text-accent focus:text-accent dark:hover:text-accent dark:focus:text-accent flex items-center justify-between py-3.5 text-base dark:text-white lg:px-5"-->
                    <!--                                id="navDropdown-5"-->
                    <!--                                aria-expanded="false"-->
                    <!--                                role="button"-->
                    <!--                                data-bs-toggle="dropdown"-->
                    <!--                                (click)="goToExplore()"-->
                    <!--                        >Explore-->
                    <!--                            <i class="lg:hidden">-->
                    <!--                                <svg-->
                    <!--                                        xmlns="http://www.w3.org/2000/svg"-->
                    <!--                                        viewBox="0 0 24 24"-->
                    <!--                                        width="24"-->
                    <!--                                        height="24"-->
                    <!--                                        class="h-4 w-4 dark:fill-white"-->
                    <!--                                >-->
                    <!--                                    <path fill="none" d="M0 0h24v24H0z"/>-->
                    <!--                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/>-->
                    <!--                                </svg>-->
                    <!--                            </i>-->
                    <!--                        </a>-->
                    <!--                        <span class="dropdown-menu -left-6 top-[85%] z-10 hidden flex flex-col whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:visible group-hover:opacity-100 dark:bg-jacarta-800 lg:invisible lg:absolute lg:!grid lg:translate-y-4 lg:py-8 lg:px-5 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2"-->
                    <!--                              aria-labelledby="navDropdown-1">-->
                    <!--                            <span class="flex space-x-4 items-center w-full">-->
                    <!--                                <span (click)="goToExplore()" class="w-half">-->
                    <!--                                    <a class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600">-->
                    <!--                                      <span class="mr-3 rounded-xl bg-accent-lightest p-[0.375rem]">-->
                    <!--                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"-->
                    <!--                                             height="24" class="h-4 w-4 fill-accent">-->
                    <!--                                          <path fill="none" d="M0 0h24v24H0z"></path>-->
                    <!--                                          <path d="M22 12.999V20a1 1 0 0 1-1 1h-8v-8.001h9zm-11 0V21H3a1 1 0 0 1-1-1v-7.001h9zM11 3v7.999H2V4a1 1 0 0 1 1-1h8zm10 0a1 1 0 0 1 1 1v6.999h-9V3h8z"></path>-->
                    <!--                                        </svg>-->
                    <!--                                      </span>-->
                    <!--                                        <span class="font-display text-base text-jacarta-700 dark:text-white">Collections</span>-->
                    <!--                                    </a>-->
                    <!--                                </span>-->
                    <!--                                <span (click)="goToRankings()" class="w-half">-->
                    <!--                                    <a class="flex items-center rounded-xl px-5 py-2 transition-colors hover:bg-jacarta-50 hover:text-accent focus:text-accent dark:hover:bg-jacarta-600">-->
                    <!--                                      <span class="mr-3 rounded-xl bg-accent-lightest p-[0.375rem]">-->
                    <!--                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"-->
                    <!--                                             height="24" class="h-4 w-4 fill-accent">-->
                    <!--                                          <path fill="none" d="M0 0h24v24H0z"></path>-->
                    <!--                                          <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-2.29-2.333A17.9 17.9 0 0 1 8.027 13H4.062a8.008 8.008 0 0 0 5.648 6.667zM10.03 13c.151 2.439.848 4.73 1.97 6.752A15.905 15.905 0 0 0 13.97 13h-3.94zm9.908 0h-3.965a17.9 17.9 0 0 1-1.683 6.667A8.008 8.008 0 0 0 19.938 13zM4.062 11h3.965A17.9 17.9 0 0 1 9.71 4.333 8.008 8.008 0 0 0 4.062 11zm5.969 0h3.938A15.905 15.905 0 0 0 12 4.248 15.905 15.905 0 0 0 10.03 11zm4.259-6.667A17.9 17.9 0 0 1 15.973 11h3.965a8.008 8.008 0 0 0-5.648-6.667z"></path>-->
                    <!--                                        </svg>-->
                    <!--                                      </span>-->
                    <!--                                        <span class="font-display text-base text-jacarta-700 dark:text-white">Rankings</span>-->
                    <!--                                    </a>-->
                    <!--                                </span>-->
                    <!--                            </span>-->
                    <!--                        </span>-->
                    <!--                    </li>-->

                    <li *ngIf="!isMobileNavOpened" class="js-nav-dropdown group relative">
                        <a
                                class="dropdown-toggle text-white no-shadow font-display hover:text-accent focus:text-accent flex items-center justify-between py-3.5 text-base lg:px-5"
                                id="navDropdown-4"
                                aria-expanded="false"
                                role="button"
                                data-bs-toggle="dropdown">
                            Resources
                        </a>
                        <ul
                                class="dropdown-menu dark:bg-jacarta-800 left-0 top-[85%] z-10 hidden min-w-[200px] gap-x-4 whitespace-nowrap rounded-xl bg-white transition-all will-change-transform group-hover:visible group-hover:opacity-100 lg:invisible lg:absolute lg:grid lg:translate-y-4 lg:py-4 lg:px-2 lg:opacity-0 lg:shadow-2xl lg:group-hover:translate-y-2"
                                aria-labelledby="navDropdown-4"
                        >
                            <li class="group">
                                <a
                                        (click)="goToHelpCenter()"
                                        class="text-jacarta-700 font-display hover:text-accent focus:text-accent flex items-center justify-between py-3.5 text-base lg:px-5"
                                >Help Center</a>
                            </li>

                            <li (click)="goToDocumentation()" class="group">
                                <a class="text-jacarta-700 font-display hover:text-accent focus:text-accent flex items-center justify-between py-3.5 text-base lg:px-5">
                                    Documentation
                                </a>
                            </li>

                            <li (click)="goToTerms()" class="group">
                                <a class="text-jacarta-700 font-display hover:text-accent focus:text-accent flex items-center justify-between py-3.5 text-base lg:px-5">
                                    Terms of Services
                                </a>
                            </li>

                            <li (click)="goToAccelerator()" class="group">
                                <a class="text-jacarta-700 font-display hover:text-accent focus:text-accent flex items-center justify-between py-3.5 text-base lg:px-5">
                                    Creators Accelerator
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li *ngIf="isMobileNavOpened" class="js-nav-dropdown nav-item dropdown group relative">
                        <a (click)="goToUserProfile()"
                           class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
                           id="navDropdown-6" aria-expanded="false" role="button" data-bs-toggle="dropdown">
                            My Profile
                        </a>
                    </li>

                    <li *ngIf="isMobileNavOpened" class="js-nav-dropdown nav-item dropdown group relative">
                        <a (click)="goToToken()"
                           class="dropdown-toggle flex items-center justify-between py-3.5 font-display text-base text-jacarta-700 hover:text-accent focus:text-accent dark:text-white dark:hover:text-accent dark:focus:text-accent lg:px-5"
                           id="navDropdown-8" aria-expanded="false" role="button" data-bs-toggle="dropdown">
                            OSEA Token
                        </a>
                    </li>

                    <li *ngIf="!isMobileNavOpened" class="group flex items-center">
                        <button (click)="goToCreate()"
                                class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                            Create
                        </button>
                    </li>

                    <li *ngIf="isMobileNavOpened" class="group flex items-center">
                        <button *ngIf="isConnectedToWallet" (click)="goToCreate()"
                                class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                            Create
                        </button>

                        <button *ngIf="!isConnectedToWallet" (click)="toggleWalletTypeSelect()"
                                class="hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                            Connect
                        </button>
                    </li>
                </ul>
            </nav>

            <!-- Mobile Connect Wallet / Profile / Socials -->
            <div *ngIf="!isConnectedToWallet" class="mt-10 w-full lg:hidden">
                <hr class="dark:bg-jacarta-600 bg-jacarta-100 my-5 h-px border-0"/>

                <!-- Socials -->
                <div class="flex items-center justify-center space-x-5">
                    <a href="https://twitter.com/omnisea" target="_blank" class="group">
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                            <path
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            ></path>
                        </svg>
                    </a>
                    <a href="https://discord.gg/omnisea" target="_blank" class="group">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="discord"
                             class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"></path>
                        </svg>
                    </a>

                    <a href="https://instagram.com/omnisea.nft" target="_blank" class="group">
                        <svg viewBox="0 0 24 24"
                             class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white"
                             fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2.162C15.204 2.162 15.584 2.174 16.849 2.232C18.215 2.294 19.482 2.568 20.457 3.543C21.432 4.518 21.706 5.785 21.768 7.151C21.826 8.416 21.838 8.796 21.838 12C21.838 15.204 21.826 15.584 21.768 16.849C21.706 18.215 21.432 19.482 20.457 20.457C19.482 21.432 18.215 21.706 16.849 21.768C15.584 21.826 15.204 21.838 12 21.838C8.796 21.838 8.416 21.826 7.151 21.768C5.785 21.706 4.518 21.432 3.543 20.457C2.568 19.482 2.294 18.215 2.232 16.849C2.174 15.584 2.162 15.204 2.162 12C2.162 8.796 2.174 8.416 2.232 7.151C2.294 5.785 2.568 4.518 3.543 3.543C4.518 2.568 5.785 2.294 7.151 2.232C8.416 2.174 8.796 2.162 12 2.162ZM12 0C8.741 0 8.332 0.014 7.052 0.072C5.102 0.161 3.389 0.639 2.014 2.014C0.639 3.389 0.161 5.102 0.072 7.052C0.014 8.332 0 8.741 0 12C0 15.259 0.014 15.668 0.072 16.948C0.161 18.898 0.639 20.611 2.014 21.986C3.389 23.361 5.102 23.839 7.052 23.928C8.332 23.986 8.741 24 12 24C15.259 24 15.668 23.986 16.948 23.928C18.898 23.839 20.611 23.361 21.986 21.986C23.361 20.611 23.839 18.898 23.928 16.948C23.986 15.668 24 15.259 24 12C24 8.741 23.986 8.332 23.928 7.052C23.839 5.102 23.361 3.389 21.986 2.014C20.611 0.639 18.898 0.161 16.948 0.072C15.668 0.014 15.259 0 12 0Z"
                                  fill="currentColor"></path>
                            <path d="M12.0018 5.83594C8.59884 5.83594 5.83984 8.59494 5.83984 11.9979C5.83984 15.4009 8.59884 18.1599 12.0018 18.1599C15.4048 18.1599 18.1638 15.4009 18.1638 11.9979C18.1638 8.59494 15.4048 5.83594 12.0018 5.83594ZM12.0018 15.9979C9.79284 15.9979 8.00184 14.2069 8.00184 11.9979C8.00184 9.78894 9.79284 7.99794 12.0018 7.99794C14.2108 7.99794 16.0018 9.78894 16.0018 11.9979C16.0018 14.2069 14.2108 15.9979 12.0018 15.9979Z"
                                  fill="currentColor"></path>
                            <path d="M18.4048 7.03625C19.2001 7.03625 19.8448 6.39154 19.8448 5.59625C19.8448 4.80096 19.2001 4.15625 18.4048 4.15625C17.6096 4.15625 16.9648 4.80096 16.9648 5.59625C16.9648 6.39154 17.6096 7.03625 18.4048 7.03625Z"
                                  fill="currentColor"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Actions -->
            <div class="ml-8 hidden lg:flex xl:ml-12">
                <a
                        *ngIf="!isConnectedToWallet"
                        class="js-wallet border-jacarta-100 hover:bg-accent focus:bg-accent group dark:hover:bg-accent flex h-10 w-10 items-center justify-center rounded-full border bg-white transition-colors hover:border-transparent focus:border-transparent dark:border-transparent dark:bg-white/[.15]"
                        aria-label="wallet"
                        id="walletSelectButton"
                        data-bs-toggle="modal"
                        data-bs-target="#walletSelectModal"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-700 h-4 w-4 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white"
                    >
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M22 6h-7a6 6 0 1 0 0 12h7v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v2zm-7 2h8v8h-8a4 4 0 1 1 0-8zm0 3v2h3v-2h-3z"
                        />
                    </svg>
                </a>

                <a
                        *ngIf="isConnectedToWallet"
                        class="mr-4 js-wallet border-jacarta-100 hover:bg-accent focus:bg-accent group dark:hover:bg-accent flex h-10 w-10 items-center justify-center rounded-full border bg-white transition-colors hover:border-transparent focus:border-transparent dark:border-transparent dark:bg-white/[.15]"
                        aria-label="wallet"
                        data-bs-toggle="modal"
                        data-bs-target="#walletSelectModal"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-700 h-4 w-4 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white"
                    >
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M22 6h-7a6 6 0 1 0 0 12h7v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v2zm-7 2h8v8h-8a4 4 0 1 1 0-8zm0 3v2h3v-2h-3z"
                        />
                    </svg>
                </a>

                <a *ngIf="isConnectedToWallet"
                   (click)="goToUserProfile()"
                   class="js-wallet border-jacarta-100 hover:bg-accent focus:bg-accent group dark:hover:bg-accent flex h-10 w-10 items-center justify-center rounded-full border bg-white transition-colors hover:border-transparent focus:border-transparent dark:border-transparent dark:bg-white/[.15]"
                   aria-label="user">
                    <svg *ngIf="!profileAvatar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                         height="24"
                         class="h-4 w-4 fill-jacarta-700 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M11 14.062V20h2v-5.938c3.946.492 7 3.858 7 7.938H4a8.001 8.001 0 0 1 7-7.938zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"></path>
                    </svg>

                    <span *ngIf="profileAvatar"
                          [style.background-image]="'url(\''+profileAvatar+'\')'"
                          (load)="isAvatarLoaded = true"
                          [ngClass]="{'loaded': isAvatarLoaded}"
                          loading="eager"
                          class="avatar-image">
                    </span>
                </a>
            </div>
        </div>

        <div class="ml-auto flex lg:hidden">
            <!-- Mobile Menu Toggle -->
            <button (click)="toggleMobileNav()"
                    class="js-mobile-toggle border-jacarta-100 hover:bg-accent dark:hover:bg-accent focus:bg-accent group ml-2 flex h-10 w-10 items-center justify-center rounded-full border bg-white transition-colors hover:border-transparent focus:border-transparent dark:border-transparent dark:bg-white/[.15]"
                    aria-label="open mobile menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                     class="fill-jacarta-700 h-4 w-4 transition-colors group-hover:fill-white group-focus:fill-white dark:fill-white">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M18 18v2H6v-2h12zm3-7v2H3v-2h18zm-3-7v2H6V4h12z"></path>
                </svg>
            </button>
        </div>
    </div>
</header>

<div class="modal fade" id="walletSelectModal" tabindex="-1" aria-labelledby="walletSelectModalLabel"
     aria-hidden="true">
    <div [ngClass.lt-md]="['full']" [ngClass.md]="['half']" class="modal-dialog sidebar one-forth max-w-2xl">
        <div class="modal-content">
            <!-- Body -->
            <div class="modal-body relative p-0 flex flex-col w-full h-full">
                <button #walletSelectCloseButton type="button" class="invisible w-0 h-0 opacity-0"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-700 h-6 w-6 dark:fill-white">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path
                                d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        />
                    </svg>
                </button>

                <span class="p-6 flex flex-col space-y-2 items-center mb-4">
                    <span class="text-jacarta-500 font-medium font-display text-lg">Choose your wallet</span>
                    <span class="text-jacarta-300 font-light font-display text-base">If you don't have it yet, click to install.</span>
                </span>

                <div class="p-6 flex flex-col w-full h-full space-y-5">
                    <div class="flex flex-col w-full">
                        <span class="text-jacarta-300 text-base font-display font-medium mb-1">EVM</span>

                        <div (click)="connectEVMWalletWithModal()" class="wallet-category-box shadow-lg">
                            <span class="flex items-center space-x-4">
                                <img src="/assets/img/wallets/metamask_24.svg" class="object-cover h-8">
                                <img src="/assets/img/wallets/wallet_connect_24.svg" class="object-cover h-8">
                                <img src="/assets/img/wallets/torus_24.svg" class="object-cover h-8">
                            </span>

                            <span *ngIf="['METAMASK', 'TORUS', 'WALLET_CONNECT'].includes(connectedWalletDetails?.provider)"
                                  class="flex items-center">
                                <span class="badge-blured accent small px-4 py-4 block text-sm text-white">
                                    Connected
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="flex flex-col w-full space-y-2">
                        <span class="text-jacarta-300 text-base font-display font-medium mb-1">Aptos</span>

                        <div (click)="connectAptosMartianWallet()" class="wallet-category-box shadow-lg">
                            <span class="flex items-center">
                                <img src="/assets/img/wallets/martian.png" class="object-cover h-8">
                                <span class="text-jacarta-500 font-medium font-display ml-4">Martian</span>
                            </span>

                            <span *ngIf="connectedWalletDetails?.provider === 'APTOS_MARTIAN'" class="flex items-center">
                                <span class="badge-blured accent small px-4 py-4 block text-sm text-white">
                                    Connected
                                </span>
                            </span>
                        </div>

                        <div (click)="connectAptosPetraWallet()" class="wallet-category-box shadow-lg">
                            <span class="flex items-center">
                                <img src="/assets/img/wallets/petra.jpg" class="object-cover h-8">

                                <span class="text-jacarta-500 font-medium font-display ml-4">Petra</span>
                            </span>

                            <span *ngIf="connectedWalletDetails?.provider === 'APTOS_PETRA'" class="flex items-center">
                                <span class="badge-blured accent small px-4 py-4 block text-sm text-white">
                                    Connected
                                </span>
                            </span>
                        </div>

                        <div (click)="connectAptosPontemWallet()" class="wallet-category-box shadow-lg">
                            <span class="flex items-center">
                                <img src="/assets/img/wallets/pontem.png" class="object-cover h-8">
                                <span class="text-jacarta-500 font-medium font-display ml-4">Pontem</span>
                            </span>

                            <span *ngIf="connectedWalletDetails?.provider === 'APTOS_PONTEM'" class="flex items-center">
                                <span class="badge-blured accent small px-4 py-4 block text-sm text-white">
                                    Connected
                                </span>
                            </span>
                        </div>
                    </div>


<!--                    <div class="flex flex-col w-full space-y-2">-->
<!--                        <span class="text-jacarta-300 text-base font-display font-medium mb-1">Sui Testnet</span>-->

<!--                        <div (click)="connectSuiSuietWallet()" class="wallet-category-box shadow-lg relative">-->
<!--                            <span class="flex items-center">-->
<!--                                <img src="/assets/img/wallets/suiet.svg" class="object-cover h-8">-->

<!--                                <span class="text-jacarta-500 font-medium font-display ml-4">Suiet</span>-->

<!--                                <app-react-container-wrapper-component id="suietButton" (handleConnect)="onSuiSuietConnect($event)"></app-react-container-wrapper-component>-->
<!--                            </span>-->

<!--                            <span *ngIf="connectedWalletDetails?.provider === 'SUI_SUIET'" class="flex items-center">-->
<!--                                <span class="badge-blured accent small px-4 py-4 block text-sm text-white">-->
<!--                                    Connected-->
<!--                                </span>-->
<!--                            </span>-->
<!--                        </div>-->

<!--                        <div class="wallet-category-box shadow-lg relative">-->
<!--                            <span class="flex items-center">-->
<!--                                <img src="/assets/img/wallets/ethos.svg" class="object-cover h-8">-->

<!--                                <span class="text-jacarta-500 font-medium font-display ml-4">Ethos</span>-->

<!--                                <app-ethos-wallet-connector-wrapper-component id="ethosButton" (handleConnect)="onSuiEthosConnect($event)"></app-ethos-wallet-connector-wrapper-component>-->
<!--                            </span>-->

<!--                            <span *ngIf="connectedWalletDetails?.provider === 'SUI_ETHOS'" class="flex items-center">-->
<!--                                <span class="badge-blured accent small px-4 py-4 block text-sm text-white">-->
<!--                                    Connected-->
<!--                                </span>-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <!-- end body -->
        </div>
    </div>
</div>
