$color-accent: #EC255A;
$color-accent-lightest: #fde9ef;

.logo {
  max-width: 160px;
}

.backdrop-blur {
  a {
    color: $color-accent !important;
  }
}

.search-icon {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}

.om-dropdown {
  opacity: 100;
  visibility: visible;
  max-height: 65vh;
  width: max-content;
  overflow: hidden;
  overflow-y: scroll;
  left: 0 !important;

  .search-result {
    width: 50vw;
    border-top: 1px solid #F5F8FA;
    border-bottom: 1px solid #F5F8FA;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
      background-color: #F5F8FA;
    }

    .search-id-container {
      display: flex;
      align-items: center;
      font-weight: 700;
      color: #131740;
      font-size: 14px;

      img {
        border-radius: 100%;
        width: 48px;
        height: 48px;
        margin-right: 16px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .additional-info {
      display: flex;
      align-items: center;
      color: #A1A2B3;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &#mobileSearchDropdown {
    .search-result {
      width: 100%;

      .search-id-container {
        max-width: 80%;
        white-space: break-spaces;
      }
    }
  }
}

.dropdown-toggle {
  box-shadow: none;
}

.feature-icon {
  width: 40px !important;
  max-width: 40px !important;
  height: auto;
  outline: none;
}

.avatar-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 2px solid #fff;
  object-fit: cover;
  outline: none;
}

#myReactComponentContainer {
  //visibility: hidden;
  //opacity: 0;
  position: absolute;
  z-index: 9999999999;
}

#walletSelectModal {
  .wallet-category-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    width: 100%;
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $color-accent-lightest;
    }
  }

  #suietButton, #ethosButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
