<!-- Collection Image -->
<div class="item-image-cover-container flex items-center justify-center relative">
    <div *ngIf="details" class="cover-inner-details flex flex-col">
        <span *ngIf="details.squareImageURI"
              [style.background-image]="'url(\''+(details.squareImageURI)+'\')'"
              class="square-image mb-6"></span>

        <h1 class="text-white font-display text-center mt-6 mb-6 text-5xl md:text-left lg:text-6xl xl:text-7xl">
            {{details.collectionName}}
        </h1>

        <div class="flex justify-start items-center">
            <span *ngIf="!isConnectedToWallet"
                  (click)="connectWallet()"
                  class="badge-blured accent mr-8 flex justify-center items-center">
                Connect
            </span>

            <span *ngIf="isConnectedToWallet && !isActionButtonDisabled"
                  class="badge-blured accent mr-8 flex justify-center items-center"
                  data-bs-toggle="modal"
                  data-bs-target="#mintSettingsModal">
                {{actionButtonLabel}}
            </span>

            <span (click)="goToCreator()" class="badge-blured flex justify-center items-center">
                By: {{getCreatorAlias()}}
             </span>
        </div>
    </div>

    <figure [style.background-image]="'url(\''+(hdImageLoaded ? hdImageSrc : imageSrc)+'\')'" class="relative">
        <img hidden
             *ngIf="hdImageSrc"
             [src]="hdImageSrc"
             (load)="hdImageLoaded = true;"
             class="hidden"
             loading="eager"
        />
    </figure>

    <div class="cover-inner-info-card">
        <div *ngIf="totalSupply !== undefined" class="info-tiles shadow-md border-jacarta-100 inline-flex flex-wrap items-center justify-center rounded-xl border bg-white relative">
            <span *ngIf="allowlist?.isEnabled && isUserAllowlisted" class="badge-blured accent small text-white text-sm absolute top-2 left-2">Whitelisted</span>

            <a class="dark:border-jacarta-600 border-jacarta-100 w-1/2 rounded-l-xl py-4 sm:w-32">
                <div class="font-display text-jacarta-700 mb-1 text-xl font-bold dark:text-white info-value">{{totalSupply > 0 ? totalSupply : 'Unlimited'}}</div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">Items</div>
            </a>
            <a *ngIf="totalSupply > 0"
               [ngxTippy]="isRiskingSupplyExceeded ? 'Someone is already minting the remaining NFT. Try only at your own risk. In case of exceeded supply, your transaction will fail and you will be eligible for a ' + details?.assetName + ' payment refund.' : null"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 rounded-l-xl py-4 sm:w-32">
                <ngx-skeleton-loader
                        *ngIf="remainingCount === undefined"
                        [theme]="{
                              height: '16px',
                              width: '24px',
                              border: '1px solid white'
                            }"
                        count="1"
                ></ngx-skeleton-loader>

                <div *ngIf="remainingCount !== undefined"
                     [ngClass]="{'text-red': isRiskingSupplyExceeded}"
                     class="font-display text-jacarta-700 mb-1 text-xl font-bold dark:text-white info-value">{{remainingCount}}</div>
                <div [ngClass]="{'text-red': isRiskingSupplyExceeded}"
                     class="font-display text-jacarta-300 text-lg tracking-tight info-label">Remaining</div>
            </a>
            <a *ngIf="mintPriceInUnits !== undefined"
               [ngxTippy]="'Pay '+ mintPriceFormatted + ' ' + details?.assetName + ' to mint'"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <img [src]="'/assets/img/currencies/'+details?.assetName+'.svg'" class="h-6 w-6 mr-1"/>
                    <span class="font-display font-bold text-xl info-value">{{mintPriceInUnits > 0 ? (mintPriceFormatted | number : '1.2-3') : 'Free'}}</span>
                </div>
                <div class="font-display text-jacarta-300 text-lg xs:text-md tracking-tight info-label">Mint Price</div>
            </a>

            <a *ngIf="isLoaded && (dateFromAsUnix > 0 || allowlist?.publicFrom > 0) && !isFinished && (!totalSupply || remainingCount)" class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <span *ngIf="isOngoing && isAllowedToMint" class="font-display font-bold text-xl info-value">Live</span>
                    <span *ngIf="isOngoing && !isAllowedToMint" class="font-display font-bold text-xl info-value">{{publicFromFormatted | titlecase}}</span>
                    <span *ngIf="!isOngoing" class="font-display font-bold text-xl info-value">{{(dateFrom | titlecase)}}</span>
                </div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">Start</div>
            </a>

            <a *ngIf="isLoaded && dateToAsUnix > 0" class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <span class="font-display font-bold text-xl info-value">{{isFinished ? 'Ended' : (dateTo | titlecase)}}</span>
                </div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">End</div>
            </a>
        </div>
    </div>

    <div *ngIf="details" class="cover-inner-more-button">
        <div class="button-round shadow-md dropdown dark:bg-jacarta-700 border bg-white">
            <a class="dark:bg-jacarta-700 bg-white dropdown-toggle flex items-center justify-between rounded-lg py-3.5 px-3 text-sm dark:text-white"
               role="button" id="collectionActions" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="dark:fill-jacarta-200 fill-jacarta-500">
                    <circle cx="2" cy="2" r="2"></circle>
                    <circle cx="8" cy="2" r="2"></circle>
                    <circle cx="14" cy="2" r="2"></circle>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end dark:bg-jacarta-800 z-10 hidden min-w-[200px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl" aria-labelledby="collectionActions" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-66px, 139.333px, 0px);">
                <button (click)="goToIpfsFileView()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg width="22" height="22" viewBox="0 0 20 23" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M19.21 5.22194L10.6386 0.936228C10.2371 0.734799 9.76286 0.734799 9.36 0.936228L0.788572 5.22194C0.305714 5.4648 0 5.95908 0 6.50051V16.5005C0 17.0419 0.305714 17.5362 0.79 17.7791L9.36143 22.0648C9.56143 22.1648 9.78143 22.2148 10 22.2148C10.2186 22.2148 10.4386 22.1648 10.6386 22.0648L19.21 17.7791C19.6943 17.5362 20 17.0419 20 16.5005V6.50051C20 5.95908 19.6943 5.4648 19.21 5.22194ZM10 3.81194L15.3771 6.50051L10 9.18908L4.62286 6.50051L10 3.81194ZM2.85714 8.81194L8.57143 11.6691V18.4748L2.85714 15.6177V8.81194ZM11.4286 18.4748V11.6691L17.1429 8.81194V15.6177L11.4286 18.4748Z" fill="currentColor"></path></svg>                    </span>
                    <span>
                        View on IPFS
                    </span>
                </button>
                <button (click)="goToIpfsMetadataView()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993zM4 5v14h16V5H4zm2 2h6v6H6V7zm2 2v2h2V9H8zm-2 6h12v2H6v-2zm8-8h4v2h-4V7zm0 4h4v2h-4v-2z"></path>
                        </svg>
                    </span>
                    <span>
                        View metadata
                    </span>
                </button>
                <button (click)="goToCollectionOnExplorer()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg width="22" height="22" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.36444 9.99861C4.36442 9.88134 4.38756 9.76521 4.43254 9.65691C4.47752 9.5486 4.54344 9.45026 4.62652 9.36752C4.70961 9.28478 4.80821 9.21927 4.91668 9.17477C5.02514 9.13026 5.14133 9.10763 5.25856 9.10818L6.74093 9.11304C6.97729 9.11304 7.20397 9.20697 7.3711 9.37416C7.53823 9.54135 7.63212 9.7681 7.63212 10.0045V15.6119C7.79911 15.5624 8.01328 15.5096 8.24789 15.4546C8.41079 15.4162 8.55596 15.3239 8.65988 15.1927C8.76379 15.0615 8.82036 14.899 8.8204 14.7316V7.77617C8.82039 7.65908 8.84344 7.54313 8.88822 7.43495C8.93301 7.32676 8.99866 7.22846 9.08142 7.14566C9.16418 7.06285 9.26243 6.99717 9.37057 6.95235C9.47871 6.90753 9.59461 6.88446 9.71167 6.88445H11.197C11.4333 6.88449 11.66 6.97843 11.8271 7.14561C11.9942 7.31279 12.0881 7.53953 12.0882 7.77596V14.2318C12.0882 14.2318 12.4599 14.0812 12.8222 13.9282C12.9568 13.8713 13.0716 13.776 13.1524 13.6542C13.2331 13.5324 13.2762 13.3895 13.2764 13.2434V5.54701C13.2764 5.42994 13.2994 5.31401 13.3442 5.20585C13.389 5.09768 13.4546 4.99941 13.5373 4.91662C13.6201 4.83384 13.7183 4.76817 13.8265 4.72336C13.9346 4.67856 14.0505 4.6555 14.1675 4.6555H15.6528C15.8891 4.6555 16.1158 4.74942 16.283 4.91661C16.4501 5.0838 16.544 5.31056 16.544 5.54701V11.8845C17.8318 10.951 19.1368 9.82806 20.1725 8.47789C20.3228 8.28191 20.4222 8.05176 20.4619 7.80799C20.5016 7.56421 20.4804 7.31439 20.4002 7.08081C19.6994 5.03788 18.385 3.26132 16.6366 1.99407C14.8882 0.72681 12.7912 0.0307121 10.6323 0.000951922C4.81072 -0.0772794 -0.0005215 4.6766 5.03732e-05 10.501C-0.00566572 12.344 0.475188 14.1558 1.39399 15.7533C1.5207 15.9718 1.70711 16.1496 1.93133 16.2658C2.15554 16.382 2.40825 16.4318 2.65976 16.4093C2.94076 16.3845 3.29061 16.3496 3.7065 16.3007C3.88752 16.2801 4.05464 16.1936 4.17604 16.0577C4.29743 15.9218 4.36461 15.746 4.3648 15.5638V9.99861" fill="currentColor"></path><path d="M4.33235 18.991C5.89799 20.1303 7.74818 20.8142 9.67825 20.967C11.6083 21.1197 13.543 20.7354 15.2683 19.8565C16.9935 18.9776 18.4421 17.6384 19.4538 15.9871C20.4655 14.3357 21.0007 12.4366 21.0004 10.4998C21.0004 10.2581 20.9892 10.019 20.9731 9.78125C17.1385 15.502 10.0584 18.1765 4.33228 18.9912" fill="currentColor"></path></svg>
                    </span>
                    <span>
                        View on Explorer
                    </span>
                </button>
                <hr class="dark:bg-jacarta-600 bg-jacarta-100 my-2 mx-4 h-px border-0">

                <button (click)="shareOnTwitter()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                            <path
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            ></path>
                        </svg>
                    </span>
                    <span>
                        Share
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mintConfirmationModal" tabindex="-1" aria-labelledby="mintConfirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog max-w-2xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mintConfirmationModalLabel">Minting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                            />
                        </svg>
                    </button>
                </div>

                <!-- Body -->
                <div [ngClass]="{'pt-28': isMinting || (!isConnectedToCollectionChain && !isMintedCrossChain) || isApprovingAsset, 'pt-10': !isMinting && !(!isConnectedToCollectionChain && !isMintedCrossChain) && !isApprovingAsset}"
                     class="modal-body relative pb-10">
                    <ngx-ui-loader loaderId="mintingLoader"
                                   bgsPosition="top-center"
                    ></ngx-ui-loader>

                    <div *ngIf="isApprovingAsset" class="w-full flex flex-col justify-center items-center">
                        <p class="text-xl text-jacarta-700 text-center">Approving {{details?.assetName}}</p>
                        <p class="text-jacarta-400 mt-3 text-center px-2">Wait for the approval transaction confirmation, and confirm the minting transaction.</p>
                    </div>

                    <div *ngIf="isApproveAssetError" class="w-full flex flex-col justify-center items-center">
                        <p class="text-xl text-jacarta-700 text-center text-red">Approve transaction failed</p>
                        <p class="text-jacarta-400 mt-3 text-center px-2">Cannot mint due to the approval transaction failure. Please, refresh and try again.</p>
                    </div>

                    <div *ngIf="isMintingSuccess" class="w-full flex flex-col justify-center items-center">
                        <p *ngIf="isConnectedToCollectionChain || (!isConnectedToCollectionChain && isMintedCrossChain)" class="text-xl text-jacarta-700 text-center">
                            Minted successfully 🥳
                        </p>
                        <p *ngIf="!isConnectedToCollectionChain && !isMintedCrossChain" class="text-xl text-jacarta-700 text-center flex justify-center items-center">
                            <span class="mr-3">Minting from </span>
                            <img [src]="'/assets/img/chains/'+connectedChainSymbol+'.png'" class="h-8 w-8 rounded-full"/>
                            <span class="mx-3">to</span>
                            <img [src]="'/assets/img/chains/'+collectionChainSymbol+'.png'" class="h-8 w-8 rounded-full"/>
                        </p>

                        <p *ngIf="!isConnectedToCollectionChain && !isMintedCrossChain" class="text-jacarta-400 mt-3 text-center px-2">Minting between chains takes a moment.</p>
                        <p *ngIf="!isConnectedToCollectionChain && !isMintedCrossChain" class="text-jacarta-400 mt-1 text-center px-2">If you want, you can wait here for the confirmation.</p>

                        <p *ngIf="isMintedCrossChain" class="text-jacarta-400 mt-3 text-center px-2">NFT was minted on {{mapChainSymbolToName(this.collectionChainSymbol)}} and belongs to you.</p>

                        <span *ngIf="mintedTokenFileURI" [style.background-image]="'url(\''+mintedTokenFileURI+'\')'"
                              class="image-highlighted object-cover rounded-2xl border-[5px] border-white shadow-xl mt-8 w-half">
                        </span>

                        <div *ngIf="(isConnectedToCollectionChain || (!isConnectedToCollectionChain && isMintedCrossChain)) && !mintedTokenFileURI"
                            class="mt-8 image-highlighted w-half">
                            <ngx-skeleton-loader
                                    count="1"
                                    [theme]="{
                                        'width': '100%',
                                        'height': '100%',
                                        'border-radius': '1rem',
                                        border: '5px solid white'
                                    }"
                            ></ngx-skeleton-loader>
                        </div>
                    </div>

                    <div *ngIf="isMintingError" class="w-full flex flex-col justify-center items-center">
                        <p class="text-xl text-jacarta-700 text-center text-red">Minting has failed</p>
                        <p class="text-jacarta-400 mt-3 text-center px-2">{{mintingErrorReason}}</p>
                    </div>

                    <div *ngIf="isMinting" class="w-full flex flex-col justify-center items-center">
                        <p *ngIf="isConnectedToCollectionChain" class="text-xl text-jacarta-700 text-center">Waiting for mint confirmation</p>
                        <p *ngIf="!isConnectedToCollectionChain" class="text-xl text-jacarta-700 text-center flex justify-center items-center">
                            <span class="mr-3">Minting from </span>
                            <img [src]="'/assets/img/chains/'+connectedChainSymbol+'.png'" class="h-8 w-8 rounded-full"/>
                            <span class="mx-3">to</span>
                            <img [src]="'/assets/img/chains/'+collectionChainSymbol+'.png'" class="h-8 w-8 rounded-full"/>
                        </p>
                        <p class="text-jacarta-400 mt-3 text-center px-2">{{!isConnectedToCollectionChain ? 'Minting from ' + mapChainSymbolToName(connectedChainSymbol) + ' to ' + mapChainSymbolToName(collectionChainSymbol) + ' will take a moment to complete.' : 'NFT will be minted after the transaction confirmation.'}}</p>
                    </div>
                </div>
                <!-- end body -->

                <div *ngIf="!isConnectedToCollectionChain" class="modal-footer">
                    <div class="steps space-x-4">
                        <span class="step" [ngClass]="{'active': !isMintingSuccess}">
                            <span class="step-icon">1</span>
                            <span class="step-title">Confirm</span>
                        </span>

                        <span class="step" [ngClass]="{'active': isMintingSuccess}">
                            <span class="step-icon">2</span>
                            <span class="step-title">Minting</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mintSettingsModal" tabindex="-1" aria-labelledby="mintSettingsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog shelf">
            <div class="modal-content">
                <!-- Body -->
                <div class="modal-body relative p-0 flex flex-col w-full h-full">
                    <button #mintSettingsModalCloseButton type="button" class="invisible w-0 h-0 opacity-0"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-700 h-6 w-6 dark:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                            />
                        </svg>
                    </button>

                    <span class="p-6 flex justify-center mb-4">
                        <span class="text-jacarta-700 font-medium font-display text-lg">Confirm mint details</span>
                    </span>

                    <div class="p-6 flex w-full h-full justify-between items-center">
                        <div class="flex flex-col justify-center items-center w-one-third">
                            <span class="font-display font-bold text-lg text-jacarta-500 mb-2">Quantity</span>
                            <span class="flex justify-center items-center font-display font-bold text-xl text-jacarta-700 space-x-2">
                                <span (click)="onQuantityChange(false)" class="cursor-pointer text-lg select-none">➖</span>
                                <span [ngClass]="{'text-accent': mintQuantity > maxToMint}"
                                      [ngxTippy]="mintQuantity > maxToMint ? maxMintInfo : null">
                                    {{mintQuantity}}
                                </span>
                                <span (click)="onQuantityChange(true)" class="cursor-pointer text-lg select-none">➕</span>
                            </span>
                            <span *ngIf="allowlist?.isEnabled" class="flex justify-center items-center display font-light text-sm text-jacarta-300 mt-2">
                                {{maxMintInfo}}
                            </span>
                        </div>

                        <div class="flex flex-col justify-center items-center w-one-third">
                            <span class="font-display font-bold text-lg text-jacarta-500 mb-2">Price</span>
                            <div class="flex justify-center items-center">
                                <img [src]="'/assets/img/currencies/'+details?.assetName+'.svg'" class="h-7 w-7 mr-1"/>
                                <span class="font-display font-bold text-xl">{{mintPriceInUnits > 0 ? (finalPriceFormatted | number : '1.2-3') : 'Free'}}</span>
                            </div>
                        </div>

                        <div class="flex flex-col justify-center items-center w-one-third">
                            <button *ngIf="isConnectedToWallet && !isActionButtonDisabled"
                                    (click)="onMint()"
                                    data-bs-toggle="modal"
                                    data-bs-target="#mintConfirmationModal"
                                    class="badge-blured accent flex justify-center items-center font-display">
                                <span>{{actionButtonLabel}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end body -->
            </div>
        </div>
    </div>
</div>

<section class="bg-light-base relative pb-12 pt-12 ph-15">
    <div class="w-full">
        <!-- Tabs -->
        <div *ngIf="details" class="scrollbar-custom mt-14 overflow-x-auto overflow-x-hidden rounded-lg">
            <div class="w-full">
                <!-- Tabs Nav -->
                <ul class="nav nav-tabs flex items-center justify-start overflow-hidden mb-12" role="tablist">
                    <!-- NFTs -->
                    <li *ngIf="nfts.length" [ngClass]="{'active': selectedTab === 'nfts'}" class="nav-item"
                        (click)="selectedTab = 'nfts'"
                        role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'nfts'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="nfts-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nfts"
                                type="button"
                                role="tab"
                                aria-controls="nfts"
                                aria-selected="false"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="mr-1 h-5 w-5 fill-current"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z"
                                />
                            </svg>
                            <span class="text-lg font-medium">Details</span>
                        </button>
                    </li>

                    <!-- Earnings -->
                    <li *ngIf="isCreator && mintPriceInUnits > 0" [ngClass]="{'active': selectedTab === 'earnings'}" class="nav-item"
                        (click)="selectedTab = 'earnings'"
                        role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'earnings'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="earnings-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#earnings"
                                type="button"
                                role="tab"
                                aria-controls="earnings"
                                aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM7 16v2h2v1h2v-1h.5a2.5 2.5 0 1 0 0-5h-3a.5.5 0 1 1 0-1H13v-2h-2V9H9v1h-.5a2.5 2.5 0 1 0 0 5h3a.5.5 0 1 1 0 1H7z"></path>
                            </svg>

                            <span class="text-lg font-medium">Earned</span>
                        </button>
                    </li>

                    <!-- Refunds -->
                    <li *ngIf="mintPriceInUnits > 0 && isRefundable" [ngClass]="{'active': selectedTab === 'refunds'}"
                        (click)="selectedTab = 'refunds'"
                        class="nav-item" role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'refunds'}"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="refunds-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#refunds"
                                type="button"
                                role="tab"
                                aria-controls="refunds"
                                aria-selected="false"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M22 6h-7a6 6 0 1 0 0 12h7v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v2zm-7 2h8v8h-8a4 4 0 1 1 0-8zm0 3v2h3v-2h-3z"></path>
                            </svg>

                            <span class="text-lg font-medium">Refunds</span>
                        </button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content">
                    <div *ngIf="selectedTab === 'nfts' && contentType !== 'MUSIC'" (click)="selectedTab = 'nfts'"
                         [ngClass]="{'show': selectedTab === 'nfts', 'active': selectedTab === 'nfts'}"
                         [ngClass.lt-md]="['flex-col', 'justify-start', 'items-start']"
                         class="tab-pane fade text-jacarta-500 flex" id="nfts" role="tabpanel" aria-labelledby="nfts-tab">
                        <div class="flex-1 md:flex-50 mr-[5rem]">
                            <div class="w-full flex flex-col">
                                <div *ngIf="details" class="flex items-center space-x-5 social-buttons">
                                    <svg *ngIf="details.twitter"
                                            aria-hidden="true"
                                            focusable="false"
                                            data-prefix="fab"
                                            data-icon="twitter"
                                            class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white"
                                            role="img"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512">
                                        <path
                                                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                                        ></path>
                                    </svg>

                                    <svg *ngIf="details.instagram" viewBox="0 0 24 24" class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.162C15.204 2.162 15.584 2.174 16.849 2.232C18.215 2.294 19.482 2.568 20.457 3.543C21.432 4.518 21.706 5.785 21.768 7.151C21.826 8.416 21.838 8.796 21.838 12C21.838 15.204 21.826 15.584 21.768 16.849C21.706 18.215 21.432 19.482 20.457 20.457C19.482 21.432 18.215 21.706 16.849 21.768C15.584 21.826 15.204 21.838 12 21.838C8.796 21.838 8.416 21.826 7.151 21.768C5.785 21.706 4.518 21.432 3.543 20.457C2.568 19.482 2.294 18.215 2.232 16.849C2.174 15.584 2.162 15.204 2.162 12C2.162 8.796 2.174 8.416 2.232 7.151C2.294 5.785 2.568 4.518 3.543 3.543C4.518 2.568 5.785 2.294 7.151 2.232C8.416 2.174 8.796 2.162 12 2.162ZM12 0C8.741 0 8.332 0.014 7.052 0.072C5.102 0.161 3.389 0.639 2.014 2.014C0.639 3.389 0.161 5.102 0.072 7.052C0.014 8.332 0 8.741 0 12C0 15.259 0.014 15.668 0.072 16.948C0.161 18.898 0.639 20.611 2.014 21.986C3.389 23.361 5.102 23.839 7.052 23.928C8.332 23.986 8.741 24 12 24C15.259 24 15.668 23.986 16.948 23.928C18.898 23.839 20.611 23.361 21.986 21.986C23.361 20.611 23.839 18.898 23.928 16.948C23.986 15.668 24 15.259 24 12C24 8.741 23.986 8.332 23.928 7.052C23.839 5.102 23.361 3.389 21.986 2.014C20.611 0.639 18.898 0.161 16.948 0.072C15.668 0.014 15.259 0 12 0Z" fill="currentColor"></path><path d="M12.0018 5.83594C8.59884 5.83594 5.83984 8.59494 5.83984 11.9979C5.83984 15.4009 8.59884 18.1599 12.0018 18.1599C15.4048 18.1599 18.1638 15.4009 18.1638 11.9979C18.1638 8.59494 15.4048 5.83594 12.0018 5.83594ZM12.0018 15.9979C9.79284 15.9979 8.00184 14.2069 8.00184 11.9979C8.00184 9.78894 9.79284 7.99794 12.0018 7.99794C14.2108 7.99794 16.0018 9.78894 16.0018 11.9979C16.0018 14.2069 14.2108 15.9979 12.0018 15.9979Z" fill="currentColor"></path><path d="M18.4048 7.03625C19.2001 7.03625 19.8448 6.39154 19.8448 5.59625C19.8448 4.80096 19.2001 4.15625 18.4048 4.15625C17.6096 4.15625 16.9648 4.80096 16.9648 5.59625C16.9648 6.39154 17.6096 7.03625 18.4048 7.03625Z" fill="currentColor"></path></svg>

                                    <svg *ngIf="details.discord" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="discord" class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                        <path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"></path>
                                    </svg>

                                    <svg *ngIf="details.metadata?.external_link" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white"><path d="M15.0008 0H8.00078V2H12.6008L6.30078 8.3L7.70078 9.7L14.0008 3.4V8H16.0008V1C16.0008 0.4 15.6008 0 15.0008 0Z"></path><path d="M14 16H1C0.4 16 0 15.6 0 15V2C0 1.4 0.4 1 1 1H5V3H2V14H13V11H15V15C15 15.6 14.6 16 14 16Z"></path></svg>
                                </div>
                                <h1 class="text-2xl font-bold mt-2 mb-2 text-jacarta-700">About {{details.collectionName}}</h1>
                                <span class="flex items-center space-x-2 mb-8 font-medium text-base">
                                        <span class="flex items-center">{{nfts.length || 'Unlimited'}} items</span>
                                        <span class="flex items-center">⦾</span>
                                        <span (click)="goToCreator()" class="flex items-center font-bold cursor-pointer">
                                            {{getCreatorAlias()}}
                                        </span>
                                    </span>
                                <div *ngIf="details?.metadata?.description" class="flex">
                                    <span class="flex font-medium text-base text-ellipsis text-justify text-long">
                                        {{details.metadata.description}}
                                    </span>
                                </div>

                                <div [ngClass.xs]="['mt-2', 'mb-2', 'space-y-2', 'items-start', 'flex-col']"
                                     [ngClass.gt-xs]="['mt-10', 'space-x-5', 'items-center']"
                                     class="flex">
                                    <span (click)="goToCollectionOnExplorer()" class="badge-blured white small flex justify-center items-center">
                                        Explorer
                                        <span class="ml-2 flex rounded-full items-center justify-center bg-accent p-[2px]">
                                            <img *ngIf="collectionChainName"
                                                 [src]="'/assets/img/chains/white/' + collectionChainName + '.png'"
                                                 class="rounded-full h-4 w-4" loading="eager">
                                        </span>
                                    </span>

                                    <span (click)="goToIpfsMetadataView()" class="badge-blured white small flex justify-center items-center">
                                        <span>
                                            View on IPFS
                                        </span>
                                        <svg width="22" height="22" viewBox="0 0 20 23" fill="currentColor"
                                             class="ml-2"
                                             xmlns="http://www.w3.org/2000/svg"><path d="M19.21 5.22194L10.6386 0.936228C10.2371 0.734799 9.76286 0.734799 9.36 0.936228L0.788572 5.22194C0.305714 5.4648 0 5.95908 0 6.50051V16.5005C0 17.0419 0.305714 17.5362 0.79 17.7791L9.36143 22.0648C9.56143 22.1648 9.78143 22.2148 10 22.2148C10.2186 22.2148 10.4386 22.1648 10.6386 22.0648L19.21 17.7791C19.6943 17.5362 20 17.0419 20 16.5005V6.50051C20 5.95908 19.6943 5.4648 19.21 5.22194ZM10 3.81194L15.3771 6.50051L10 9.18908L4.62286 6.50051L10 3.81194ZM2.85714 8.81194L8.57143 11.6691V18.4748L2.85714 15.6177V8.81194ZM11.4286 18.4748V11.6691L17.1429 8.81194V15.6177L11.4286 18.4748Z" fill="currentColor"></path></svg>
                                    </span>

                                    <span [ngxTippy]="'Commercial rights belong to: ' + (details.licence | lowercase | titlecase)"
                                          class="badge-blured white small flex justify-center items-center">
                                        <span>
                                            Licence
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="ml-2">
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path d="M14 20v2H2v-2h12zM14.586.686l7.778 7.778L20.95 9.88l-1.06-.354L17.413 12l5.657 5.657-1.414 1.414L16 13.414l-2.404 2.404.283 1.132-1.415 1.414-7.778-7.778 1.415-1.414 1.13.282 6.294-6.293-.353-1.06L14.586.686zm.707 3.536l-7.071 7.07 3.535 3.536 7.071-7.07-3.535-3.536z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="nfts?.length" class="flex-1 md:flex-50 overflow-x-hidden">
                            <div class="w-full overflow-x-hidden">
                                <span *ngIf="selectedNFT" class="w-full overflow-x-hidden flex image-hoverable-info relative">
                                    <span class="image-info space-x-5">
                                        <span (click)="goToSelectedNftIPFSFile()" class="flex flex-col justify-center items-center cursor-pointer">
                                            <svg width="22" height="22" viewBox="0 0 20 23" fill="#fff"
                                                class="h-10 w-10"
                                                xmlns="http://www.w3.org/2000/svg"><path d="M19.21 5.22194L10.6386 0.936228C10.2371 0.734799 9.76286 0.734799 9.36 0.936228L0.788572 5.22194C0.305714 5.4648 0 5.95908 0 6.50051V16.5005C0 17.0419 0.305714 17.5362 0.79 17.7791L9.36143 22.0648C9.56143 22.1648 9.78143 22.2148 10 22.2148C10.2186 22.2148 10.4386 22.1648 10.6386 22.0648L19.21 17.7791C19.6943 17.5362 20 17.0419 20 16.5005V6.50051C20 5.95908 19.6943 5.4648 19.21 5.22194ZM10 3.81194L15.3771 6.50051L10 9.18908L4.62286 6.50051L10 3.81194ZM2.85714 8.81194L8.57143 11.6691V18.4748L2.85714 15.6177V8.81194ZM11.4286 18.4748V11.6691L17.1429 8.81194V15.6177L11.4286 18.4748Z" fill="#fff"></path></svg>

                                            <span class="text-white font-semibold text-base">View on IPFS</span>
                                        </span>

                                        <span (click)="goToSelectedNftIPFSMetadata()" class="flex flex-col justify-center items-center cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="h-10 w-10">
                                              <path fill="none" d="M0 0h24v24H0z"></path>
                                              <path fill="#fff" d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993zM4 5v14h16V5H4zm2 2h6v6H6V7zm2 2v2h2V9H8zm-2 6h12v2H6v-2zm8-8h4v2h-4V7zm0 4h4v2h-4v-2z"></path>
                                            </svg>

                                            <span class="text-white font-semibold text-base">View metadata</span>
                                        </span>
                                    </span>
                                    <img [src]="selectedNFT.fileURL" class="h-[50vh] w-full object-cover cursor-pointer rounded">
                                </span>

                                <div *ngIf="nfts?.length > 1" id="nftSwiper" class="mt-8">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                        <img *ngFor="let nft of (nfts.length > 10 ? nfts.slice(0, 9) : nfts); let i = index"
                                             (click)="selectedNFT = nft"
                                             class="swiper-slide"
                                             [src]="nft.fileURL"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MUSIC NFTs - Old view -->
                    <div *ngIf="selectedTab === 'nfts' && contentType === 'MUSIC'" (click)="selectedTab = 'nfts'"
                         [ngClass]="{'show': selectedTab === 'nfts', 'active': selectedTab === 'nfts'}"
                         class="tab-pane fade" id="nfts" role="tabpanel" aria-labelledby="nfts-tab">
                        <div class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">
                            <article class="item-card" *ngFor="let nft of (nfts.length > 10 ? nfts.slice(0, 9) : nfts)">
                                <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 rounded-2.5xl block border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">
                                    <figure *ngIf="contentType !== 'MUSIC'" class="relative">
                                        <a>
                                            <img [src]="nft.fileURL" class="rounded-[0.625rem] w-full object-cover h-[50vh]" loading="eager">
                                        </a>
                                    </figure>

<!--                                    <vm-player *ngIf="contentType === 'MUSIC' && nft.fileURL" style="&#45;&#45;vm-player-theme: #EC255A">-->
<!--                                        <vm-audio>-->
<!--                                            <source [attr.data-src]="nft.fileURL" type="audio/mp3" />-->
<!--                                        </vm-audio>-->
<!--                                        <vm-ui>-->
<!--                                            <vm-scrim></vm-scrim>-->
<!--                                            <vm-skeleton></vm-skeleton>-->
<!--                                            <vm-controls pin="bottomLeft" active-duration="2750" full-width>-->
<!--                                                <vm-click-to-play></vm-click-to-play>-->
<!--                                                <vm-playback-control></vm-playback-control>-->
<!--                                                <vm-volume-control></vm-volume-control>-->
<!--                                                <vm-time-progress></vm-time-progress>-->
<!--                                            </vm-controls>-->
<!--                                        </vm-ui>-->
<!--                                    </vm-player>-->

                                    <div class="mt-7 flex items-center justify-between">
                                        <a>
                                            <span class="font-display text-jacarta-700 hover:text-accent text-base dark:text-white">{{details.collectionName}} #{{nft.tokenId}}</span>
                                        </a>
                                    </div>
                                    <div class="mt-2 text-sm">
                                        <span *ngIf="isOngoing"
                                              class="dark:text-jacarta-200 text-jacarta-700 mr-1">{{mintPriceFormatted | number : '1.2-3'}} {{details?.assetName}}</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- Earnings -->
                    <div *ngIf="selectedTab === 'earnings' && isCreator && mintPriceInUnits > 0" (click)="selectedTab = 'earnings'"
                         [ngClass]="{'show': selectedTab === 'earnings', 'active': selectedTab === 'earnings'}"
                         class="tab-pane fade" id="earnings" role="tabpanel" aria-labelledby="earnings-tab">

                        <div *ngIf="otherChains && isEarning" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Claim your earnings</span>
                            <span class="text-sm mt-4">Earnings from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} are locked until you claim them. Do it here and wait a moment for a transfer. You'll receive {{details?.assetName}} on the "claimed" chain. Connect to the {{mapChainSymbolToName(collectionChainSymbol)}} to enable claiming.</span>
                        </div>

                        <div *ngIf="otherChains && !isEarning" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Nothing to claim</span>
                            <span class="text-sm mt-4">Currently there are no earnings from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} to claim. All such earnings will be claimable here. Funds earned from minting on {{mapChainSymbolToName(collectionChainSymbol)}} are automatically sent to you.</span>
                        </div>

                        <div *ngIf="otherChains && isEarning" class="scrollbar-custom overflow-x-auto">
                            <div role="table"
                                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 lg:rounded-2lg w-full min-w-[736px] border bg-white text-sm dark:text-white">
                                <div class="dark:bg-jacarta-600 bg-jacarta-50 rounded-t-2lg flex" role="row">
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Chain</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Minted</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Earned</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Action</span>
                                    </div>
                                </div>
                                <a *ngFor="let chain of otherChains" class="flex transition-shadow hover:shadow-lg" role="row">
                                    <div [ngxTippy]="('Minted from ' + mapChainSymbolToName(chain))" class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <figure class="relative mr-2 w-8 shrink-0 self-start lg:mr-5 lg:w-12">
                                            <img [src]="'/assets/img/chains/'+chain+'.png'" class="rounded-2lg" loading="eager">
                                        </figure>

                                        <span class="font-display text-jacarta-700 text-sm font-semibold dark:text-white">
                                            {{mapChainSymbolToName(chain)}}
                                        </span>
                                    </div>

                                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        {{getMintedFromChainCount(earningsList[chain])}}
                                    </div>

                                    <div class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        {{(earningsList[chain] || 0) | number : '1.2-3'}} {{details?.assetName}}
                                    </div>

                                    <div [ngxTippy]="!isConnectedToCollectionChain ? ('Connect to the ' + mapChainSymbolToName(collectionChainSymbol) + ' to claim earnings from other chains.') : null"
                                         class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <span (click)="onClaimEarned(chain)"
                                              [ngClass]="{'pointer-events-none': !canClaimEarned(chain), 'text-jacarta-400': !canClaimEarned(chain), 'text-accent': canClaimEarned(chain)}"
                                              class="font-display">{{earningsClaimedToChainMap[chain] ? 'Claimed' : 'Claim'}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <!-- Refunds -->
                    <div *ngIf="selectedTab === 'refunds' &&  mintPriceInUnits > 0" (click)="selectedTab = 'refunds'"
                         [ngClass]="{'show': selectedTab === 'refunds', 'active': selectedTab === 'refunds'}"
                         class="tab-pane fade" id="refunds" role="tabpanel" aria-labelledby="refunds-tab">

                        <div *ngIf="otherChains && isRefundable" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Claim your refunds</span>
                            <span class="text-sm mt-4">If you mint NFT from the other chain, and in the meantime its collection's supply has exceeded (someone minted the last available NFT), your transaction will fail for that reason. Refunds from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} are waiting until you claim them. Do it here and wait a moment for a transfer. You'll receive {{details?.assetName}} on the "claimed" chain. Connect to the {{mapChainSymbolToName(collectionChainSymbol)}} to enable claiming.</span>
                        </div>

                        <div *ngIf="otherChains && !isRefundable" class="message-box info mt-4 mb-6 w-full">
                            <span class="text-lg font-bold font-display">Nothing to claim</span>
                            <span class="text-sm mt-4">Currently there are no refunds from other chains than the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} to claim. All such refunds (for transactions failed due to exceeded supply during Omnichain Mint) will be claimable here. Refunds for transactions failed on the Collection's {{mapChainSymbolToName(collectionChainSymbol)}} chain are automatically sent to you without claiming.</span>
                        </div>

                        <div *ngIf="otherChains && isRefundable" class="scrollbar-custom overflow-x-auto">
                            <div role="table"
                                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 lg:rounded-2lg w-full min-w-[736px] border bg-white text-sm dark:text-white">
                                <div class="dark:bg-jacarta-600 bg-jacarta-50 rounded-t-2lg flex" role="row">
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Chain</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Refundable</span>
                                    </div>
                                    <div class="w-[25%] py-3 px-4" role="columnheader">
                                        <span class="text-jacarta-700 dark:text-jacarta-100 w-full overflow-hidden text-ellipsis">Action</span>
                                    </div>
                                </div>
                                <a *ngFor="let chain of otherChains" class="flex transition-shadow hover:shadow-lg" role="row">
                                    <div [ngxTippy]="('Minting transaction on ' + mapChainSymbolToName(chain))" class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <figure class="relative mr-2 w-8 shrink-0 self-start lg:mr-5 lg:w-12">
                                            <img [src]="'/assets/img/chains/'+chain+'.png'" class="rounded-2lg" loading="eager">
                                        </figure>

                                        <span class="font-display text-jacarta-700 text-sm font-semibold dark:text-white">
                                            {{mapChainSymbolToName(chain)}}
                                        </span>
                                    </div>

                                    <div [ngClass]="{'font-bold': refundsList[chain] > 0}" class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        {{(refundsList[chain] || 0) | number : '1.2-3'}} {{details?.assetName}}
                                    </div>

                                    <div [ngxTippy]="!isConnectedToCollectionChain ? ('Connect to the ' + mapChainSymbolToName(collectionChainSymbol) + ' to claim refunds from other chains.') : null"
                                         class="dark:border-jacarta-600 border-jacarta-100 flex w-[25%] items-center border-t py-4 px-4" role="cell">
                                        <span (click)="onRefund(chain)"
                                              [ngClass]="{'pointer-events-none': !canClaimRefunds(chain), 'text-jacarta-400': !canClaimRefunds(chain), 'text-accent': canClaimRefunds(chain)}"
                                              class="font-display">{{refundsClaimedToChainMap[chain] ? 'Claimed' : 'Claim'}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
            </div>
        </div>
    </div>
</section>
