<!-- Banner -->
<div class="relative w-full">
    <figure class="w-full h-[7rem] bg-gradient-mesh-accent-1"></figure>
</div>
<!-- end banner -->

<!-- Help Center -->
<section class="relative py-24">
    <div class="container">
        <!-- Featured Post -->
        <article *ngIf="isLoaded" (click)="topics[0].redirectTo ? redirectTo(topics[0].redirectTo) : goToTopic(topics[0].name)" class="mb-[1.875rem] md:mb-16 cursor-pointer">
            <div class="flex flex-col overflow-hidden rounded-[1.25rem] transition-shadow hover:shadow-lg md:flex-row">
                <figure class="group overflow-hidden md:w-1/2">
                    <a>
                        <span [style.background-image]="'url(\''+topics[0].imagePath+'\')'"
                              class="card-cover transition-transform duration-[1600ms] will-change-transform group-hover:scale-105">
                        </span>
                    </a>
                </figure>

                <!-- Body -->
                <div
                        class="dark:border-jacarta-600 dark:bg-jacarta-700 border-jacarta-100 rounded-b-[1.25rem] border bg-white p-[10%] md:w-1/2 md:rounded-none md:rounded-r-[1.25rem]"
                >
                    <!-- Meta -->
                    <h2 class="font-display text-jacarta-700 dark:hover:text-accent hover:text-accent mb-4 text-xl dark:text-white sm:text-3xl">
                        <a>{{topics[0].name}}</a>
                    </h2>
                    <p class="dark:text-jacarta-200 mb-8">
                        {{topics[0].description}}
                    </p>

                    <!-- Date / Time -->
                    <div class="text-jacarta-400 flex flex-wrap items-center space-x-2 text-sm">
                        <span><time datetime="2022-02-05">16th August</time></span>
                    </div>
                </div>
            </div>
        </article>

        <div *ngIf="!isLoaded">
            <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                            height: '50vh',
                            width: '100%',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
            ></ngx-skeleton-loader>
        </div>

        <div *ngIf="isLoaded" class="category-items grid grid-cols-1 gap-[1.875rem] sm:grid-cols-2 md:grid-cols-3">
            <!-- Posts -->
            <article *ngFor="let topic of topics.slice(1)" (click)="topic.redirectTo ? redirectTo(topic.redirectTo) : goToTopic(topic.name)" class="group transition-shadow hover:shadow-lg cursor-pointer">
                <div class="overflow-hidden w-full h-full rounded-[1.25rem] flex justify-center items-center">
                    <span [style.background-image]="'url(\''+topic.imagePath+'\')'"
                          class="card-cover h-full w-full relative transition-transform duration-[1600ms] will-change-transform group-hover:scale-105">
                    </span>

                    <div class="absolute flex flex-col justify-center items-center w-full">
                        <h1 class="text-3xl text-white font-display">
                            {{topic.name}}
                        </h1>
                    </div>
                </div>
            </article>
        </div>

        <div *ngIf="!isLoaded" class="category-items grid grid-cols-1 gap-[1.875rem] sm:grid-cols-2 md:grid-cols-3">
            <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                            height: '33vh',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
            ></ngx-skeleton-loader>

            <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                            height: '33vh',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
            ></ngx-skeleton-loader>

            <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                            height: '33vh',
                            'border-radius': '5px',
                            border: '1px solid white'
                        }"
            ></ngx-skeleton-loader>
        </div>

        <h2 class="font-display text-jacarta-700 mb-10 text-center text-xl font-medium dark:text-white mt-16">
            Frequently asked questions
        </h2>

        <div class="accordion mx-auto max-w-[35rem]" id="accordionFAQ">
            <div *ngFor="let faqItem of faq; let i = index"
                 class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                <h2 class="accordion-header" [id]="'faq-heading-'+i">
                    <button
                            class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 dark:text-white"
                            type="button"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#faq'+i"
                            aria-expanded="false"
                    >
                        <span>{{faqItem.question}}</span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="accordion-arrow fill-jacarta-700 h-4 w-4 transition-transform dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                        </svg>
                    </button>
                </h2>
                <div
                        [id]="'faq'+i"
                        class="accordion-collapse collapse"
                        [attr.aria-labelledby]="'#faq-heading-'+i"
                        data-bs-parent="#accordionFAQ"
                >
                    <div
                            class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4"
                    >
                        <p class="dark:text-jacarta-200" [innerHTML]="faqItem.answer"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end help center -->
