<ng-progress></ng-progress>

<div id="wrapper">
    <div id="content">
        <app-header></app-header>

        <main>
            <router-outlet></router-outlet>
        </main>

        <m-web3-modal
                title="Connect your wallet"
                [description]="'Connect to one of the supported networks: Ethereum, Polygon, Moonbeam, Avalanche, BNB Chain, Fantom, Optimism, Arbitrum, or Harmony. In case of a connection problem, refresh the app.'"
        ></m-web3-modal>

        <app-footer></app-footer>
    </div>
</div>
