<!-- Banner -->
<div class="relative w-full">
    <figure class="w-full h-[7rem] bg-gradient-mesh-accent-1"></figure>
</div>
<!-- end banner -->

<!-- Help Center -->
<section class="relative py-24">
    <div class="container">
        <h1 class="text-center font-display text-4xl font-medium text-jacarta-700 dark:text-white">
            Terms Of Service
        </h1>
        <div class="article-content mx-auto max-w-[48.125rem]">
            <h2 class="text-base">Introduction</h2>
            <p>
                Please review these Terms of Use of Omnisea (the “Terms”) carefully, as they set forth legally binding terms
                and conditions between you, Company that govern your use of (a) the website located at
                https://omnisea.org/ (the “Website”); and (b) the Omnisea Smart Contracts; (including related trademarks, and other intellectual
                property (together, the “Omnisea Services”) whether such use is via the Website or, command line, locally
                installed programs, Software Development Kits, software code and blockchain and smart contract explorers
                (collectively “Direct Access”).
            </p>
            <p>
                PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION AND AFFECT YOUR LEGAL
                RIGHTS. AS OUTLINED IN SECTION 16 BELOW, THEY INCLUDE A MANDATORY ARBITRATION AGREEMENT AND CLASS ACTION
                WAIVER WHICH (WITH LIMITED EXCEPTIONS) REQUIRE ANY DISPUTES BETWEEN US TO BE RESOLVED THROUGH INDIVIDUAL
                ARBITRATION RATHER THAN BY A JUDGE OR JURY IN COURT.
            </p>
            <p>
                By accessing or using the Omnisea Services, you (“you” or the “User”) agree to these Terms on behalf of
                yourself and any entity you represent, and you represent and warrant that you have the right and authority
                to do so. You further represent and warrant that are fully able and competent to enter into, and abide by
                and comply with, these Terms.
            </p>

            <h2 class="text-base">Services Overview</h2>

            <p><b>Smart Contracts</b> are necessary Service to provide users the ability to interact with the chosen Blockchain
                in order to perform any of the following actions ("Blockchain Activities"): a) create Non-fungible Token ("NFT") collection ("Collection");
                b) paid or unpaid acquisition of an NFT ("Mint"); c) payout of funds earned by a User who created
                the collection ("Creator"); d) refund of funds paid for Mint in case of a Mint failure due to
                a collection supply exceed; e) any other kind of interaction with the Blockchain on which the Contracts
                have been deployed, especially querying data stored by the Users.</p>
            <p>
                The Website omnisea.org is a user interface designed to provide convenient access to the Omnisea
                Smart Contracts although the Omnisea Smart Contracts are also accessible via Direct Access.
            </p>
            <p>
                Company developed and deployed (“Deployment”) the Omnisea Smart Contracts on multiple blockchains
                to connect to multiple blockchains that can be used to create Collection, Mint NFT or transfer ("Bridge") NFT between
                different connected blockchains in a non-custodial and decentralized way.
            </p>
            <p>Company is not the owner, custodian, broker, possessor of the cryptocurrency funds ("Digital Assets")
                temporarily deposited ("Locked") to the Smart Contracts by a User in order to perform any interaction with
                the Blockchain or Services, especially during Mint. Company does not have access or technical ability to
                dispose those Locked Digital Assets.</p>

            <h2>Using Smart Contracts</h2>

            <p>
                In order to access and use the Omnisea Smart Contracts to engage in transactions using
                the Website or Direct Access, a User must first connect a wallet (“Wallet”) to the Omnisea Smart Contracts.
                Users of the Website can connect a MetaMask wallet or any other wallet supported by the Website in order
                to access the Omnisea Smart Contracts and to perform Blockchain Activities.
            </p>

            <h2>Using Website</h2>
            <p>The Website but not the Direct Access will be overseen by Company. Company may
                modify or discontinue support for the Website at any time, in its sole discretion.</p>

            <h2>Transaction Fees</h2>
            <p>
                A transaction fee may be charged for each transaction executed through the Omnisea
                Smart Contracts and/or other smart contracts deployed on the Blockchains (External Smart Contracts).
                The fees may be modified by Company, in its sole discretion, and will be a payable in the source Blockchain's
                native Digital Asset. The transaction fee for a specific transaction will be displayed to Users of the
                Website during the initiation of a transaction and must be accepted by the User before executing
                such a transaction. The User hereby consents to such fees being debited from their source Blockchain
                Digital Asset at the time the transaction is processed. Users accessing and using the Omnisea
                Smart Contracts via Direct Access may also see a similar transaction fee summary in the used environment.
            </p>

            <h2>Cross-chain Transactions</h2>
            <p>In case of transactions performed by a User that involve more than a one blockchain ("Cross-chain transaction"),
                for example Mint from Ethereum (connected User) to Polygon (Mint execution), the transaction fee will be charged in a source chain native Digital Asset.
                The fee amount is calculated by the Cross-chain messaging protocol ("GMP") - LayerZero, Axelar Network, or Router Protocol - and the GMP
                is solely responsible for delivering the transaction to the destination chain as well as refunding the
                potential transaction fee excess amount to the User.</p>

            <h2 class="text-base">License</h2>
            <p>You are hereby granted a non-exclusive, non-transferable, revocable, limited license to
                electronically access and use the Website in the manner described in this Agreement. You do not have
                the right to sublicense the Website. We may revoke or terminate this license at any time if you use, or
                attempt to use, the Website in a manner prohibited by this Agreement, or if this Agreement is terminated
                pursuant to Section 6 herein.</p>

            <p>
                You represent and warrant that agreeing to these Terms and your use of the Omnisea Services does
                not constitute, and that you do not expect it to result in, a breach, default, or violation of any
                applicable law or any contract or agreement to which you are a party or are otherwise bound.
            </p>

            <p>
                You represent and warrant that you will not, and will not attempt to, authorize anyone other than
                you to access any Omnisea Smart Contract and/or participate in any Cross-chain
                activities available through the Omnisea Services using a Wallet owned by you or a blockchain
                address for which you control the private keys or otherwise engage in Prohibited Use (as defined
                below) of the Wallet.
            </p>
            <p>
                You represent and warrant that you will not disrupt, interfere with, or otherwise adversely affect the
                normal flow of the Omnisea Services or otherwise act in a manner that may negatively affect other
                users' experience when using the Omnisea Services. This includes taking advantage of software
                vulnerabilities and any other act that intentionally abuses or exploits the design of the Omnisea
                Services.
            </p>

           <p>The Website and Omnisea Smart Contracts are owned and operated by BlockFactory Sp. z o.o. (Ltd).
               (“Company”), an entity formed under the laws of Poland.</p>

            <p>You accept these Terms by accessing and using the Omnisea Services.</p>

            <h2 class="text-base">Prohibited Use</h2>
            <p>
                Users of the Omnisea Services may not, directly or indirectly, engage in any of the following activities in
                connection with their use of the Omnisea Services (“Prohibited Uses”):
            </p>
            <ul>
                <li>A violation of any law, rule, or regulation of any jurisdiction that is applicable to the user;</li>
                <li>Violations or breaches of these Terms or any other document from time to time governing the use
                    of the Omnisea Services;</li>
                <li>Permit others to access the Omnisea Services through your wallet or a blockchain address you
                    control or otherwise engage in transactions using the Omnisea Services for any person other than
                    the Wallet owner;</li>
                <li>Perform, or attempt to perform, any actions that would interfere with the normal operation of the
                    Omnisea Services or affect the use of the Omnisea Services by other users;</li>
                <li>Engage in, or knowingly facilitate, any fraudulent, deceptive, or manipulative transaction activity in
                    any digital asset using the Omnisea Services, including by engaging or participating in “frontrunning”, “wash trading”, “pump and dump schemes”, or similar activities;</li>
                <li>Engage in, or knowingly facilitate, any money laundering, terrorist financing, or other illegal
                    activities;</li>
                <li>Access or attempt to access non-public systems, programs, data, or services;</li>
                <li>Copy, reproduce, republish, upload, post, transmit, resell, or distribute in any way, any data,
                    content, or any part of the Omnisea Services except as expressly permitted by applicable laws;</li>
                <li>Reverse engineer or attempt to reverse engineer the Omnisea Services except as expressly
                    permitted by applicable law.</li>
            </ul>

            <h2 class="text-base">Waivers</h2>
            <p>You agree and acknowledge that the Company, and its Affiliates shall not be liable
                for any direct, indirect, special, incidental, consequential or other losses of any kind, in tort, contract
                or otherwise (including but not limited to loss of fund, asset, revenue, income or profits, and loss of
                use or data), arising out of or in connection with your use of the Omnisea Services, the Omnisea
                Smart Contracts, the State Guardian Network Blockchain, the Website or Direct Access.</p>
            <p>For purposes of these Terms, “Affiliates” of an entity means the owners, directors, officers
                employees, advisors, agents of such entity and companies in which such entity has an interest.</p>
            <p>You undertake not to initiate or participate, and waive the right to participate in, any class action
                lawsuit or a class wide arbitration against the Company and/or its respective
                Affiliates.</p>
            <p>By accepting these Terms, you waive all rights, claims and/or causes of action (present or future)
                under law (including any tortious claims) or contract against Company, and its
                respective Affiliates in connection with your use of the Omnisea Services, the Omnisea Smart
                Contracts, the State Guardian Network Blockchain, the Website and/or Direct Access.</p>

            <h2 class="text-base">Termination</h2>
            <p>
                These Terms will remain in full force and effect for so long as you use the Omnisea Services. The Company
                may suspend or terminate your rights to use the Omnisea Services at any time for any
                reason at the Company’s sole discretion, including for any use of the Omnisea Services
                in violation of these Terms. Upon termination of your rights under these Terms, your right to access and
                use the Omnisea Services will terminate immediately. The Company will not have any
                liability whatsoever to you for any termination of your rights under these Terms, including blacklisting any
                network address you provide to the Company. Even after your rights under these Terms
                are terminated, Sections 7 and 8 of these Terms will remain in effect.
            </p>

            <h2 class="text-base">Disclaimers and Limitation of Liability</h2>
            <p>
                <span>Disclaimer</span>. THE OMNISEA SERVICES AND WEBSITE OMNISEA.ORG ARE
                PROVIDED ON AN “AS-IS” AND “AS AVAILABLE” BASIS, AND EACH OF THE OPERATOR EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF ANY
                KIND, WHETHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING ALL WARRANTIES OR
                CONDITIONS OF MERCHANTABILITY, MERCHANTABLE QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, ACCURACY, OR NON-INFRINGEMENT. THE
                OPERATOR MAKE ANY WARRANTY THAT THE OMNISEA SERVICES WILL
                MEET YOUR REQUIREMENTS, WILL BE AVAILABLE ON AN UNINTERRUPTED, TIMELY, SECURE,
                OR ERROR-FREE BASIS, OR WILL BE ACCURATE, RELIABLE, FREE OF VIRUSES OR OTHER
                HARMFUL CODE, COMPLETE, LEGAL, OR SAFE. IF APPLICABLE LAW REQUIRES ANY
                WARRANTIES WITH RESPECT TO THE OMNISEA SERVICES, ALL SUCH WARRANTIES ARE LIMITED
                IN DURATION TO SIXTY (60) DAYS FROM THE DATE OF FIRST USE.
            </p>
            <p>
                THE OPERATOR DOES NOT ENDORSE ANY THIRD PARTY AND
                SHALL NOT BE RESPONSIBLE IN ANY WAY FOR ANY TRANSACTIONS YOU ENTER INTO WITH ANY
                OTHER THIRD PARTY. YOU AGREE THAT THE OPERATOR AND ITS
                RESPECTIVE AFFILIATES WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGES OF ANY SORT
                INCURRED AS THE RESULT OF ANY INTERACTIONS BETWEEN YOU AND ANY THIRD PARTY.
            </p>
            <p>
                <span class="font-bold">Limitation of Liability</span>. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
                LIMITATION OF LIABILITY, INCLUDING LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
                INCIDENTAL DAMAGES, SO THE FOLLOWING LIMITATION MAY NOT APPLY TO YOU AND YOU MAY
                HAVE ADDITIONAL RIGHTS.
            </p>
            <p>
                TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL THE OPERATOR, AND/OR ITS RESPECTIVE AFFILIATES BE LIABLE TO YOU OR ANY THIRD PARTY
                FOR ANY LOST PROFITS, LOST DATA, OR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY,
                INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES ARISING OUT OF YOUR USE OF THE OMNISEA
                SERVICES, EVEN IF THE OPERATOR AND/OR THE DEVELOPERHAS BEEN ADVISED OF THE
                POSSIBILITY OF SUCH DAMAGES. ACCESS TO, AND USE OF, THE OMNISEA SERVICES IS AT
                YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE
                TO YOUR DEVICE OR COMPUTER SYSTEM, OR LOSS OF DATA, OR LOSS OF FUND RESULTING
                THEREFROM.
            </p>
            <p>
                THE OPERATOR, AND ITS REPSECTIVE AFFILIATES SHALL NOT BE LIABLE
                FOR ANY LOSS OR DAMAGE ARISING OUT OF YOUR FAILURE TO KEEP YOUR PRIVATE KEYS OR
                LOGIN CREDENTIALS TO YOUR WALLET SECURE OR ANY OTHER UNAUTHORIZED ACCESS TO
                OR TRANSACTIONS INVOLVING YOUR WALLET.
            </p>
            <p>
                TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, NOTWITHSTANDING ANYTHING TO
                THE CONTRARY CONTAINED HEREIN, THE LIABILITY OF THE OPERATOR
                TO YOU FOR ANY DAMAGES ARISING FROM OR RELATED TO THIS AGREEMENT (FOR ANY CAUSE
                WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION), WILL AT ALL TIMES BE
                LIMITED TO A MAXIMUM OF THE AMOUNT OF TRANSACTION FEES PAID BY YOU IN CONNECTION
                WITH YOUR USE OF THE OMNISEA SERVICES DURING THE PRECEDING SIX (6) MONTHS.
                THE EXISTENCE OF MORE THAN ONE CLAIM WILL NOT ENLARGE THIS LIMIT.
            </p>

            <h2 class="text-base">Indemnification</h2>
            <p>
                You agree to indemnify and hold the Company and its respective
                Affiliates (“Indemnified Party”) harmless, including costs and attorneys’ fees, from any loss, claim or
                demand made due to or arising out of: (i) your use of the Omnisea Services; (ii) your violation of these Terms;
                (iii) or your violation of applicable laws or regulations. The relevant Indemnified Party reserves the right, at
                your expense, to assume the exclusive defense and control of any matter for which you are required to
                provide indemnification, and you agree to cooperate in the defense of these claims. You agree not to settle
                any matter without the prior written consent of the relevant indemnified party or parties. The relevant
                Indemnified Party will use reasonable efforts to notify you of any such claim, action or proceeding upon
                becoming aware of it.
            </p>

            <h2 class="text-base">Taxes</h2>
            <p>You are solely responsible for determining the tax implications and tax reporting
                requirements associated with transactions you engage in involving the Omnisea Services, and for paying
                any applicable taxes in each applicable jurisdiction. The Company is not
                responsible for determining whether there are tax implications in connection with transactions involving the
                Omnisea Services, for reporting any such transactions, or for paying any applicable taxes.</p>

            <h2 class="text-base">Potential Risks Associated with Use of the Omnisea Services</h2>
            <p>
                Like all software, the Website, the Omnisea Smart Contracts, and even the Blockchain itself may be subject to exploits.
                The Company is not responsible for exploits of
                any kind. While the Company have taken a number of precautions to ensure the security
                of the Website, and the Omnisea Smart Contracts respectively, the
                technology is relatively new and it is not possible to guarantee that the code is completely free from bugs
                or errors. Users accept all risks that arise from using the Website and the Omnisea Smart Contracts,
                including, and not limited to, the risk of any funds being lost due to a failure or exploit of the Website,
                the Omnisea Smart Contracts, and/or External Contracts, especially GMP contracts.
            </p>
            <p>
                You accept the risk of your on-chain transaction failure, block, and/or delay due to, for example,
                GMP operations slowdown, delay, halt, network or software upgrade, or inability to execute the transaction due to
                set too low transaction fees (gas) amount by you or the Website or Omnisea Smart Contracts.
            </p>
            <p>
                The value of any Digital Asset, where value is attached to such an asset, may fluctuate. The
                Company makes no guarantees as to the price or value of any Digital Asset on any
                secondary market, including the yield of Cross-chain activities accessible using the Omnisea
                Services.
            </p>
            <p>
                The following risks are associated with blockchain-based digital assets that may be supplied to the
                Omnisea Smart Contracts or in participation of Cross-chain activities : the risk of losing private
                keys, theft resulting from third parties discovering your private key, value fluctuation of digital assets on the
                secondary market, disruptions to the Blockchain caused by network congestion, lack of usability
                of, or loss of value with respect to, digital assets due to a hard fork or other disruption to the
                Blockchain, or errors or vulnerabilities in the smart contract code associated with a given digital asset or
                transactions involving digital assets. Transfers on the Blockchain are irreversible. Once an
                instruction, signed by the required private key(s), to transfer a digital asset from one blockchain address to
                another has been executed, it cannot be undone.
            </p>
            <p>
                Support for the Website or Omnisea Smart Contracts may be modified or discontinued at any time.
                The Company reserves the right, at any time, in the Company’s sole discretion, to modify the Website and/or Omnisea Smart Contracts.
            </p>
            <p>
                In the event of a change to an underlying blockchain network, or other network disruption, resulting
                in a fork of the existing blockchain into one (or more) additional blockchains, the Omnisea Services may not
                halt and stop functioning. In addition, in the event of a fork, transactions on the network may be disrupted,
                including transactions involving the Omnisea Smart Contracts.
            </p>
            <p>
                All Blockchain networks connected to Omnisea charge a
                fee for engaging in a transaction on the network. Those network transaction fees fluctuate over time
                depending on a variety of factors. You are solely responsible for paying network transaction fees
                associated with transactions you engage in on the blockchain networks using the Omnisea Services. You
                are also solely responsible for any other third-party fees that may be incurred in connection with your use
                of the Omnisea Services.
            </p>

            <h2 class="text-base">Dispute Resolution, Governing Law, and Jurisdiction</h2>
            <p>
                Subject always to Clause 5 of these Terms, any claim, suit, or dispute arising out of or in connection with
                these Terms, including any question regarding its existence, validity or termination, shall be referred to and
                finally be resolved by arbitration in accordance with the arbitration rules of Poland, before
                a panel of three (3) arbitrators. Each of the Parties hereby has the right to appoint an arbitrator, and the two
                (2) appointed arbitrators shall select the third arbitrator. The panel shall reach its decisions by a vote of a
                majority. Any claim shall be brought individually on behalf of the person or entity seeking relief, not on behalf
                of a class or other persons or entities not participating in the arbitration and shall not be consolidated with
                the claim of any person who is not asserting a claim arising under or relating to this contract. The seat of
                arbitration shall be Poland and the language of any arbitration shall be Polish. Judgment
                on any award rendered by the arbitrators may be entered by any court of competent jurisdiction.
            </p>
            <p>
                These Terms and any dispute or claim arising out of or in connection with their subject matter or formation
                (including non-contractual disputes or claims) shall be governed by and construed in accordance with the
                law of Poland. You agree that the courts of Poland shall have exclusive
                jurisdiction over any dispute or claim arising out of or in connection with the subject matter or formation
                (including non-contractual disputes or claims) of these Terms.
            </p>
            <p>
                The Omnisea Services may not be appropriate or available for use in some jurisdictions. The Company and its
                respective Affiliates do not represent or warrant that the Services or any part thereof is
                appropriate or available for use in any particular jurisdiction. In choosing to access the Omnisea Services,
                you do so on your own initiative and at your own risk, and you are responsible for complying with all
                applicable local laws, rules and regulations.
            </p>

            <p>
                Omnisea Services including the Website, the Smart Contracts
                (each as defined below) are not intended for (a) access or use by Excluded Persons (as defined below);
                or (b) access or use by any person or entity in, or accessing or using the Website from, an Excluded Jurisdiction.
                Accordingly, Excluded Persons (as defined below) should not access or use this Website, Omnisea Services,
                Omnisea Smart Contracts (each as defined below).
            </p>
            <p>
                You represent and warrant that you are legally permitted to use the Omnisea Services in your
                jurisdiction, including that you are legally permitted to own the digital assets and interact with the
                Omnisea Services you use. You further represent and warrant you are responsible for ensuring
                compliance with the laws of your jurisdiction in connection with your use of the Omnisea Services
                and acknowledge that the Company is not liable for your compliance or noncompliance with any such laws.
            </p>

            <p>
                You represent and warrant that you are not an Excluded Person and are not in an Excluded
                Jurisdiction, and are not accessing or using Omnisea Services from an Excluded Jurisdiction.
            </p>
            <p>
                <span class="font-bold">“Excluded Persons”</span> refers to the following person(s) : (1) a person who is a citizen,
                domiciled in, resident of, or physically present / located in an Excluded Jurisdiction; (2) a
                body corporate: (a) which is incorporated in, or operates out of, an Excluded Jurisdiction,
                or (b) which is under the control of one or more individuals who is/are citizen(s) of,
                domiciled in, residents of, or physically present / located in, an Excluded Jurisdiction; (3)
                an individual or body corporate included in United Nations Consolidated List (accessible at
                https://www.un.org/securitycouncil/content/un-sc-consolidated-list); and/or (4) an
                individual or body corporate which is otherwise prohibited or ineligible in any way, whether
                in full or in part, under any laws applicable to such individual or body corporate from
                purchasing, acquiring and/or using the Omnisea Services.
            </p>
            <p>
                <span class="font-bold">“Excluded Jurisdiction”</span> means any of the following jurisdictions : (a) Singapore; (b)
                United States; (c) the People’s Republic of China; (c) a jurisdiction identified by the
                Financial Action Task Force (FATF) for strategic AML/CFT deficiencies and included in
                FATF’s listing of “High-risk and Other Monitored Jurisdictions” accessible at http://www.fatfgafi.org/publications/high-risk-and-other-monitored-jurisdictions; and/or (d) a jurisdiction in
                which the Omnisea Services would be subject of licensing.
            </p>

            <h2 class="text-base">Primary sales</h2>
            <p>
                The creation of an NFT collection by the User ("Creator") on any blockchain via the Omnisea Services,
                in particular through the Website and Omnisea Smart Contracts, constitutes the Creator's declaration of will to
                publish the Primary Sale offer.
            </p>
            <p>
                The use of the "Mint" functionality means paid or free use of the Primary sale offer by the User ("Collector").
            </p>
            <p>
                Omnisea is not a party to the transaction. The parties - Creator and Collector - voluntarily enter into
                an agreement with each other. Omnisea has no influence on the content of the agreement,
                also due to the nature of blockchain technology.
            </p>
            <p>
                Omnisea retains the right to charge a fee (commission) on each payment for Primary sale.
            </p>
            <p>
                Omnisea is not responsible for the success or failure of the transaction.
                The effectiveness of payment distribution between parties is not guaranteed.
            </p>
            <p>
                Any actions of parties, third parties and technical anomalies that are intended to intentionally or unintentionally circumvent
                the intended operation of the Omnisea Services are inconsistent with these Terms of Service,
                and their consequences are not the responsibility of Omnisea.
            </p>
            <p>
                Omnisea allows to set, but does not guarantee the effectiveness of the Creator's commission for each resale of NFT ("Royalties")
                on the secondary market ("Secondary Sale") - the implementation of this functionality depends on the entity performing the Secondary Sale service.
            </p>
            <p>
                Omnisea does not warrant and make no representations about the uninterrupted or error-free operation of any Service or its high performance.
            </p>
            <p>
                The Creator is solely responsible for his actions before, during and after the organization of the Primary Sale.
            </p>
            <p>
                Omnisea makes every effort to ensure that in the event of a failure of the transaction for a paid Mint,
                the Collector is entitled and can use the refund. However, Omnisea does not guarantee such certainty or the effectiveness of this action.
            </p>
            <p>
                Omnisea shall not be liable in any case for any infringement of the rights of third parties by the Creator
                - in particular, infringement of copyright and other intellectual property rights or a third party's enterprise.
            </p>
            <p>
                Omnisea retains the right to any moderation, modification or removal of content and Primary Sales for any reason.
            </p>
            <p>
                The Creator accepts that Omnisea may modify or remove its content or the Primary Sale.
                The Creator also agrees to the possibility of publicly informing about this circumstance by Omnisea.
            </p>
            <p>
                Omnisea retains the right to change the terms of this Agreement also during the term of the Primary Sale.
            </p>

            <h2 class="text-base">Electronic Communications with the Company</h2>
            <p>
                The communications between you and the Company use electronic means, either through the Website, or
                electronic mail, or whether the Company communicates by posting notices on the Website, or communicates
                with you via email. For contractual purposes, you: (i) hereby consent to receive communications from the
                Company in any electronic form; and (ii) hereby agree that all terms and conditions, agreements, notices,
                disclosures, and other communications that the Company provides to you electronically satisfy any legal
                requirement that would also be satisfied if such communications were to be in a hardcopy writing. The
                foregoing does not affect your non-waivable rights under any applicable law.
            </p>

            <h2 class="text-base">General</h2>
            <p>
                These Terms constitute the entire agreement between you and the Company regarding your use of the Omnisea Services.
                The section titles in these Terms are for convenience only and have no legal or contractual effect.
                The word “including” means “including without limitation.”
            </p>
            <p>
                If any provision of these Terms is, for any reason, held to be invalid or unenforceable,
                the other provisions of these Terms will be unimpaired and the invalid or unenforceable provision will be
                deemed modified so that it is valid and enforceable to the maximum extent permitted by law.
            </p>
            <p>
                Unless otherwise required by applicable laws, these Terms are subject to occasional
                revision. If the Operator will make any substantial changes, you will be notified of those
                changes and accept the updated Terms when you next use the Omnisea Services. These changes will be
                effective upon your acceptance of the updated Terms. In addition, continued use of the Omnisea Services
                following notice of such changes shall indicate your acknowledgement of such changes and agreement to
                be bound by the terms and conditions of such changes.
            </p>
        </div>
    </div>
</section>
<!-- end help center -->
