<div class="flex w-full justify-center space-x-3 mb-8">
    <button (click)="onActivityTypeChange('CREATE')"
            [ngClass]="{
            'bg-accent text-white border-transparent hover:border-jacarta-100 hover:bg-white hover:text-accent': selectedActivityType == 'CREATE',
            'bg-white text-jacarta-700 border-jacarta-100 hover:border-transparent hover:bg-accent hover:text-white': selectedActivityType != 'CREATE'
            }"
            class="group mr-2.5 mb-2.5 inline-flex items-center rounded-xl border px-4 py-3 border">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
             [ngClass]="{
                'fill-white group-hover:fill-jacarta-700': selectedActivityType == 'CREATE',
                'fill-jacarta-700 group-hover:fill-white': selectedActivityType != 'CREATE'
             }"
             class="mr-2 h-4 w-4">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 0 1-1.414 0l-9.9-9.9a1 1 0 0 1 0-1.414L10.9 2.1zm.707 2.122L3.828 12l8.486 8.485 7.778-7.778-1.06-7.425-7.425-1.06zm2.12 6.364a2 2 0 1 1 2.83-2.829 2 2 0 0 1-2.83 2.829z"></path>
        </svg>
        <span class="text-2xs font-medium">Creating collections</span>
    </button>

    <button (click)="onActivityTypeChange('MINT')"
            [ngClass]="{
            'bg-accent text-white border-transparent hover:border-jacarta-100 hover:bg-white hover:text-accent': selectedActivityType == 'MINT',
            'bg-white text-jacarta-700 border-jacarta-100 hover:border-transparent hover:bg-accent hover:text-white': selectedActivityType != 'MINT'
            }"
            class="group mr-2.5 mb-2.5 inline-flex items-center rounded-xl px-4 py-3 border">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
             [ngClass]="{
                'fill-white group-hover:fill-jacarta-700': selectedActivityType == 'MINT',
                'fill-jacarta-700 group-hover:fill-white': selectedActivityType != 'MINT'
            }"
             class="mr-2 h-4 w-4">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M14 20v2H2v-2h12zM14.586.686l7.778 7.778L20.95 9.88l-1.06-.354L17.413 12l5.657 5.657-1.414 1.414L16 13.414l-2.404 2.404.283 1.132-1.415 1.414-7.778-7.778 1.415-1.414 1.13.282 6.294-6.293-.353-1.06L14.586.686zm.707 3.536l-7.071 7.07 3.535 3.536 7.071-7.07-3.535-3.536z"></path>
        </svg>
        <span class="text-2xs font-medium">Minting</span>
    </button>

    <button (click)="onActivityTypeChange('REFUND')"
            [ngClass]="{
            'bg-accent text-white border-transparent hover:border-jacarta-100 hover:bg-white hover:text-accent': selectedActivityType == 'REFUND',
            'bg-white text-jacarta-700 border-jacarta-100 hover:border-transparent hover:bg-accent hover:text-white': selectedActivityType != 'REFUND'
            }"
            class="group mr-2.5 mb-2.5 inline-flex items-center rounded-xl px-4 py-3 border">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
             [ngClass]="{
                'fill-white group-hover:fill-jacarta-700': selectedActivityType == 'REFUND',
                'fill-jacarta-700 group-hover:fill-white': selectedActivityType != 'REFUND'
            }"
             class="mr-2 h-4 w-4">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M22 7h1v10h-1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v3zm-2 10h-6a5 5 0 0 1 0-10h6V5H4v14h16v-2zm1-2V9h-7a3 3 0 0 0 0 6h7zm-7-4h3v2h-3v-2z"></path>
        </svg>
        <span class="text-2xs font-medium">Refunds</span>
    </button>

    <button (click)="onActivityTypeChange('CLAIM_EARNED')"
            [ngClass]="{
            'bg-accent text-white border-transparent hover:border-jacarta-100 hover:bg-white hover:text-accent': selectedActivityType == 'CLAIM_EARNED',
            'bg-white text-jacarta-700 border-jacarta-100 hover:border-transparent hover:bg-accent hover:text-white': selectedActivityType != 'CLAIM_EARNED'
            }"
            class="group mr-2.5 mb-2.5 inline-flex items-center rounded-xl px-4 py-3 border">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
             [ngClass]="{
                'fill-white group-hover:fill-jacarta-700': selectedActivityType == 'CLAIM_EARNED',
                'fill-jacarta-700 group-hover:fill-white': selectedActivityType != 'CLAIM_EARNED'
            }"
             class="mr-2 h-4 w-4">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM5.003 8L5 20h10V8H5.003zM7 16h4.5a.5.5 0 1 0 0-1h-3a2.5 2.5 0 1 1 0-5H9V9h2v1h2v2H8.5a.5.5 0 1 0 0 1h3a2.5 2.5 0 1 1 0 5H11v1H9v-1H7v-2z"></path>
        </svg>
        <span class="text-2xs font-medium">Claiming Earnings</span>
    </button>
</div>

<!-- Creating collections activity -->
<div *ngIf="selectedActivityType == 'CREATE'" class="flex flex-col space-y-5 justify-center w-full">
    <a (click)="goToCollection(createCollectionActivity.metadata.id)"
       *ngFor="let createCollectionActivity of userActivity.CREATE || []"
       class="w-full relative flex items-center rounded-2.5xl border border-jacarta-100 bg-white p-8 transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700">
        <figure *ngIf="createCollectionActivity.metadata" class="mr-5 self-start">
            <img [src]="getImageFromFileURI(createCollectionActivity.metadata.fileURI)" class="h-24 object-cover rounded-lg" loading="lazy">
        </figure>

        <div *ngIf="createCollectionActivity.metadata">
            <h3 class="mb-1 font-display text-lg font-semibold text-jacarta-700 dark:text-white">
                {{createCollectionActivity.metadata.collectionName}}
            </h3>
            <span [ngClass]="{'success': createCollectionActivity.status === 'SUCCESS', 'info': createCollectionActivity.status === 'PENDING', 'accent': createCollectionActivity.status === 'ERROR'}"
                    class="mb-3 badge-blured small px-4 py-4 block text-sm text-white">{{createCollectionActivity.status | lowercase | titlecase}}</span>
            <span class="flex items-center space-x-2 text-xs text-jacarta-300">
                <span>{{getHumanizedDateFromTimestamp(createCollectionActivity.lzMessage.updated) || ''}}</span>
                <span>⦾</span>
                <span (click)="$event.stopImmediatePropagation(); goToLzScan(createCollectionActivity)" class="hover:text-accent">Explorer</span>
            </span>
        </div>

        <div class="ml-auto rounded-full border border-jacarta-100 p-3 dark:border-jacarta-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 group-hover:fill-white">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path d="M10.9 2.1l9.899 1.415 1.414 9.9-9.192 9.192a1 1 0 0 1-1.414 0l-9.9-9.9a1 1 0 0 1 0-1.414L10.9 2.1zm.707 2.122L3.828 12l8.486 8.485 7.778-7.778-1.06-7.425-7.425-1.06zm2.12 6.364a2 2 0 1 1 2.83-2.829 2 2 0 0 1-2.83 2.829z"></path>
            </svg>
        </div>
    </a>
</div>
<!-- end creating collections activity  -->

<!-- Minting activity -->
<div *ngIf="selectedActivityType == 'MINT'" class="flex flex-col space-y-5 justify-center w-full">
    <a *ngFor="let mintActivity of userActivity.MINT || []"
       class="w-full relative flex items-center rounded-2.5xl border border-jacarta-100 bg-white p-8 transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700">
        <figure *ngIf="mintActivity.metadata" class="mr-5 self-start">
            <img [src]="getImageFromFileURI(mintActivity.metadata.collectionFileURI)" class="h-24 object-cover rounded-lg" loading="lazy">
        </figure>

        <div *ngIf="mintActivity.metadata">
            <h3 class="mb-1 font-display text-lg font-semibold text-jacarta-700 dark:text-white">
                {{mintActivity.metadata.collectionName}}
            </h3>
            <span [ngClass]="{'success': mintActivity.status === 'SUCCESS', 'info': mintActivity.status === 'PENDING', 'accent': mintActivity.status === 'ERROR'}"
                  class="mb-3 badge-blured small px-4 py-4 block text-sm text-white">{{mintActivity.status | lowercase | titlecase}}</span>

            <span class="flex items-center space-x-2 text-xs text-jacarta-300">
                <span>{{getHumanizedDateFromTimestamp(mintActivity.lzMessage.updated) || ''}}</span>
                <span>⦾</span>
                <span (click)="$event.stopImmediatePropagation(); goToLzScan(mintActivity)" class="hover:text-accent">Explorer</span>
            </span>
        </div>

        <div class="ml-auto rounded-full border border-jacarta-100 p-3 dark:border-jacarta-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 group-hover:fill-white">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path d="M14 20v2H2v-2h12zM14.586.686l7.778 7.778L20.95 9.88l-1.06-.354L17.413 12l5.657 5.657-1.414 1.414L16 13.414l-2.404 2.404.283 1.132-1.415 1.414-7.778-7.778 1.415-1.414 1.13.282 6.294-6.293-.353-1.06L14.586.686zm.707 3.536l-7.071 7.07 3.535 3.536 7.071-7.07-3.535-3.536z"></path>
            </svg>
        </div>
    </a>
</div>
<!-- end minting activity  -->

<!-- Refunds activity -->
<div *ngIf="selectedActivityType == 'REFUND'" class="flex flex-col space-y-5 justify-center w-full">
    <a *ngFor="let refundActivity of userActivity.REFUND || []"
       class="w-full relative flex items-center rounded-2.5xl border border-jacarta-100 bg-white p-8 transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700">
        <div *ngIf="refundActivity.metadata">
            <h3 class="mb-1 font-display text-lg font-semibold text-jacarta-700 dark:text-white">
                {{refundActivity.metadata.collectionName}}
            </h3>
            <span [ngClass]="{'success': refundActivity.status === 'SUCCESS', 'info': refundActivity.status === 'PENDING', 'accent': refundActivity.status === 'ERROR'}"
                  class="mb-3 badge-blured small px-4 py-4 block text-sm text-white">{{refundActivity.status | lowercase | titlecase}}</span>

            <span class="flex items-center space-x-2 text-xs text-jacarta-300">
                <span>{{getHumanizedDateFromTimestamp(refundActivity.lzMessage.updated) || ''}}</span>
                <span>⦾</span>
                <span>{{refundActivity.metadata.price}} {{refundActivity.metadata.assetName}}</span>
                <span>⦾</span>
                <span (click)="$event.stopImmediatePropagation(); goToLzScan(refundActivity)" class="hover:text-accent">Explorer</span>
            </span>
        </div>

        <div class="ml-auto rounded-full border border-jacarta-100 p-3 dark:border-jacarta-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 group-hover:fill-white">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path d="M22 7h1v10h-1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v3zm-2 10h-6a5 5 0 0 1 0-10h6V5H4v14h16v-2zm1-2V9h-7a3 3 0 0 0 0 6h7zm-7-4h3v2h-3v-2z"></path>
            </svg>
        </div>
    </a>
</div>
<!-- end of refunds activity  -->

<!-- Refunds activity -->
<div *ngIf="selectedActivityType == 'CLAIM_EARNED'" class="flex flex-col space-y-5 justify-center w-full">
    <a *ngFor="let claimEarnedActivity of userActivity.CLAIM_EARNED || []"
       class="w-full relative flex items-center rounded-2.5xl border border-jacarta-100 bg-white p-8 transition-shadow hover:shadow-lg dark:border-jacarta-700 dark:bg-jacarta-700">
        <div *ngIf="claimEarnedActivity.metadata">
            <h3 class="mb-1 font-display text-lg font-semibold text-jacarta-700 dark:text-white">
                {{claimEarnedActivity.metadata.collectionName}}
            </h3>
            <span [ngClass]="{'success': claimEarnedActivity.status === 'SUCCESS', 'info': claimEarnedActivity.status === 'PENDING', 'accent': claimEarnedActivity.status === 'ERROR'}"
                  class="mb-3 badge-blured small px-4 py-4 block text-sm text-white">{{claimEarnedActivity.status | lowercase | titlecase}}</span>

            <span class="flex items-center space-x-2 text-xs text-jacarta-300">
                <span>{{getHumanizedDateFromTimestamp(claimEarnedActivity.lzMessage.updated) || ''}}</span>
                <span>⦾</span>
                <span>{{claimEarnedActivity.metadata.price}} {{claimEarnedActivity.metadata.assetName}}</span>
                <span>⦾</span>
                <span (click)="$event.stopImmediatePropagation(); goToLzScan(claimEarnedActivity)" class="hover:text-accent">Explorer</span>
            </span>
        </div>

        <div class="ml-auto rounded-full border border-jacarta-100 p-3 dark:border-jacarta-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-jacarta-700 group-hover:fill-white">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM5.003 8L5 20h10V8H5.003zM7 16h4.5a.5.5 0 1 0 0-1h-3a2.5 2.5 0 1 1 0-5H9V9h2v1h2v2H8.5a.5.5 0 1 0 0 1h3a2.5 2.5 0 1 1 0 5H11v1H9v-1H7v-2z"></path>
            </svg>
        </div>
    </a>
</div>
<!-- end of refunds activity  -->
