<div class="flex w-full relative p-0">
    <!-- Preview -->
    <section class="w-full relative">
        <app-collection-preview
                [collection]="collectionPreview"
                [nfts]="nfts"
                [onBackgroundImageChange$]="onBackgroundImageChange$"
                [onSquareImageChange$]="onSquareImageChange$"
                [onUpdated$]="onUpdatePreview$"
                [collectionForm]="collectionForm"
                (propertyEditStart)="onCollectionEditStart($event)"
                (advancedOptionsEditStart)="onCollectionAdvancedOptionsEditStart()"
                (addNFTsStart)="openAddNFTsModal()"
                (removeNFT)="onRemoveNFT($event)"
                (nftEditStart)="openEditNFTsModal($event)"
                (launchStart)="onSubmit()"
        ></app-collection-preview>
    </section>
    <!-- end of preview -->

    <!-- Open edit collection modal button -->
    <button class="group hidden dark:bg-jacarta-700 hover:bg-accent border-accent text-accent hover:text-white flex h-12 w-36 shrink-0 items-center justify-center rounded-lg border bg-white hover:border-transparent"
            type="button"
            id="editCollectionButton"
            hidden
            data-bs-toggle="modal"
            data-bs-target="#editCollectionModal">
    </button>

    <div class="modal fade" id="editCollectionModal" tabindex="-1" aria-labelledby="editCollectionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog max-w-2xl">
            <div *ngIf="editCollectionData || isAdvancedOptionsVisible" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCollectionModalLabel">
                        Edit {{editCollectionData?.label || 'advanced options'}}</h5>

                    <button #editCollectionCloseBtn (click)="closeCollectionEditModal()"
                            type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                            />
                        </svg>
                    </button>
                </div>

                <!-- Background image file Upload -->
                <input
                        (change)="onBackgroundFileChange($event)"
                        type="file"
                        hidden
                        accept="image/*"
                        id="backgroundImagePicker"
                        class="hidden"
                />

                <!-- Square image file Upload -->
                <input
                        (change)="onSquareFileChange($event)"
                        type="file"
                        hidden
                        accept="image/*"
                        id="squareFilePicker"
                        class="hidden"
                />

                <!-- Body -->
                <div [formGroup]="collectionForm" class="modal-body relative p-6">
                    <!-- Name -->
                    <div *ngIf="editCollectionData?.id === 'collectionName'" class="mb-6">
                        <label for="collectionNameItem"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">
                            {{editCollectionData.label}}<span class="text-red">*</span>
                        </label>
                        <input
                                required
                                formControlName="collectionName"
                                type="text"
                                id="collectionNameItem"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        />
                    </div>

                    <!-- Mint Price -->
                    <div *ngIf="editCollectionData?.id === 'mintPrice' || editCollectionData?.id === 'assetName'"
                         class="mb-6">
                        <label for="mintPriceItem" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                            {{editCollectionData.label}}
                        </label>
                        <input
                                formControlName="mintPrice"
                                type="number"
                                id="mintPriceItem"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        />
                    </div>

                    <!-- Description -->
                    <div *ngIf="editCollectionData?.id === 'description'" class="mb-6">
                        <label for="item-description" class="font-display text-jacarta-700 mb-2 block dark:text-white">Description</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-3">
                            The description will be included on the item's detail page underneath its image. Markdown
                            syntax is
                            supported.
                        </p>
                        <p *ngIf="collectionForm.get('description').value > 1000" class="text-red text-sm mb-3">
                            Maximum 1000 characters.
                        </p>
                        <textarea
                                formControlName="description"
                                id="item-description"
                                maxlength="1000"
                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                rows="4"
                                placeholder="Provide a detailed description of your item."
                        ></textarea>
                    </div>

                    <!-- External Link -->
                    <div *ngIf="editCollectionData?.id === 'external_link'" class="mb-6">
                        <label for="itemExternalLink" class="font-display text-jacarta-700 mb-2 block dark:text-white">External link</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-3">
                            We will include a link to this URL on this item's detail page, so that users can click to
                            learn more about it. You are welcome to link to your own webpage with more details.
                        </p>
                        <input
                                formControlName="externalLink"
                                type="url"
                                id="itemExternalLink"
                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                placeholder="https://yoursite.io/item/123"
                        />
                    </div>

                    <!-- IPFS - CID - OPTIONAL -->
                    <div *ngIf="editCollectionData?.id === 'tokensURI'" class="mb-6">
                        <div class="text-jacarta-500 font-light text-sm mt-2 mb-2">
                            Valid IPFS source contains of 46 or 59 characters CID, e.g.: QmfYAbXdH2VPobsJqVpEDV1wGwyV9rXFbRK4nDHfGL6Khj (V0 IPFS) or bafybeigdyrzt5sfp7udm7hu76uh7y26nf3efuylqabf3oclgtqy55fbzdi (V1 IPFS). It must point to a directory with tokenId.json files where tokenId starts from 0, e.g. 0.json, 1.json, 2.json, etc.
                        </div>
                        <div class="text-jacarta-500 font-light text-sm mt-2 mb-4">
                            Example of QmfYAbXdH2VPobsJqVpEDV1wGwyV9rXFbRK4nDHfGL6Khj: <a class="text-accent font-bold" target="_blank" href="https://omnisea.infura-ipfs.io/ipfs/QmfYAbXdH2VPobsJqVpEDV1wGwyV9rXFbRK4nDHfGL6Khj">here</a>
                        </div>

                        <label for="tokensURIItem"
                               class="font-display text-jacarta-700 mb-2 mt-4 block dark:text-white">
                            IPFS CID (46 or 59 characters!)<span class="text-red">*</span>
                        </label>
                        <input
                                formControlName="tokensURI"
                                type="text"
                                maxlength="59"
                                id="tokensURIItem"
                                placeholder="e.g. QmfYAbXdH2VPobsJqVpEDV1wGwyV9rXFbRK4nDHfGL6Khj"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        />
                    </div>

                    <!-- IPFS first token ID index -->
                    <div *ngIf="editCollectionData?.id === 'tokensURI'" class="mb-6 flex items-center space-x-2">
                        <input
                                formControlName="isCustomFirstTokenId"
                                required
                                type="checkbox"
                                id="isCustomFirstTokenId"
                                class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0"
                        />
                        <label for="isCustomFirstTokenId" class="dark:text-jacarta-200 text-sm">The first token ID equals 1 (by default and unchecked is 0)</label>
                    </div>

                    <!-- IPFS - Max Supply - OPTIONAL -->
                    <div *ngIf="editCollectionData?.id === 'tokensURI'" class="mb-6">
                        <label for="totalSupplyItem"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">
                            Maximum Supply - Number of tokens<span class="text-red">*</span>
                        </label>
                        <input
                                formControlName="totalSupply"
                                type="number"
                                min="1"
                                id="totalSupplyItem"
                                placeholder="How many NFTs do your import from your IPFS directory?"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        />
                    </div>

                    <!-- Asset -->
                    <div *ngIf="(editCollectionData?.id === 'mintPrice' || editCollectionData?.id === 'assetName') && !isConnectedToIsolatedChain"
                         class="mb-6">
                        <label for="assetName"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">Currency</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-2">
                            Choose currency (token) which will be used to pay for minting from your Collection.
                        </p>
                        <input id="assetName" formControlName="chainSymbol" type="hidden">
                        <div class="dropdown relative mb-4 cursor-pointer">
                            <div
                                    class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                                    role="button"
                                    id="filterAssetName"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                  <span class="font-display flex items-center">
                                    <img [src]="'/assets/img/currencies/'+selectedAssetName+'.svg'"
                                         class="mr-2 h-5 w-5 rounded-full"/>
                                      {{selectedAssetName}}
                                  </span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                                </svg>
                            </div>

                            <div
                                    class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                    aria-labelledby="filterPriceBlockchain"
                            >
                                <button (click)="onAssetChange(asset)"
                                        *ngFor="let asset of supportedAssets"
                                        class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                        [ngClass]="{'bg-accent-lighter': asset === selectedAssetName}"
                                >
                                    <span class="flex items-center">
                                      <img [src]="'/assets/img/currencies/'+asset+'.svg'"
                                           class="mr-2 h-5 w-5 rounded-full"/>
                                        {{asset}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Drop Date From -->
                    <div *ngIf="editCollectionData?.id === 'dropFrom' || editCollectionData?.id === 'dropTo'" class="mb-6">
                        <label for="itemDateFrom"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">Start from</label>

                        <div class="mb-3 flex items-center space-x-2">
                            <div class="flex flex-col w-full gap-3">
                                <p class="dark:text-jacarta-300 text-2xs">
                                    Default is unlimited.
                                </p>
                                <div>
                                    <p class="dark:text-jacarta-300 text-2xs">
                                        If set, minting will be enabled for selected period of time.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <input formControlName="dateFrom"
                                   [owlDateTimeTrigger]="dtPicker2"
                                   [owlDateTime]="dtPicker2"
                                   [min]="today"
                                   selectMode="single"
                                   class="shadow-lg dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                   id="itemDateFrom">
                            <owl-date-time
                                    pickerType="both"
                                    #dtPicker2>
                            </owl-date-time>
                        </div>
                    </div>

                    <!-- Drop's End Date -->
                    <div *ngIf="editCollectionData?.id === 'dropTo' || editCollectionData?.id === 'dropFrom'" class="mb-6">
                        <label for="itemDurationInDays"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">Drop's Duration (in days)</label>

                        <div class="mb-3 flex items-center space-x-2">
                            <p class="dark:text-jacarta-300 text-2xs">
                                Set if you want to establish the end time of minting.
                            </p>
                        </div>

                        <input formControlName="durationInDays"
                               type="number"
                               step="1"
                               min="1"
                               id="itemDurationInDays"
                               class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                               placeholder="1 day"
                        />
                    </div>

                    <!-- Blockchain -->
                    <div *ngIf="isAdvancedOptionsVisible && !isConnectedToIsolatedChain" class="mb-6">
                        <label for="chainSymbol" class="font-display text-jacarta-700 mb-2 block dark:text-white">Blockchain</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-2">
                            Collection and minted NFTs will be created on the selected chain, but of course minting will
                            be possible from any supported chain.
                        </p>
                        <input id="chainSymbol" formControlName="chainSymbol" type="hidden">
                        <div class="dropdown relative mb-4 cursor-pointer">
                            <div
                                    class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                                    role="button"
                                    id="filterPriceBlockchain"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                  <span class="font-display flex items-center">
                                    <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[selectedChainName]+'.png'"
                                         class="mr-2 h-5 w-5 rounded-full"/>
                                      {{selectedChainName}}
                                  </span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                                </svg>
                            </div>

                            <div
                                    class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                    aria-labelledby="filterPriceBlockchain"
                            >
                                <button (click)="onTargetChainChange(mapChainNameToEnum(chainItem.key))"
                                        *ngFor="let chainItem of chainNameToSymbolMap | keyvalue"
                                        class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                        [ngClass]="{'bg-accent-lighter': chainItem.key === selectedChainName}"
                                >
                                    <span class="flex items-center">
                                      <img [src]="'/assets/img/chains/'+chainNameToSymbolMap[chainItem.key]+'.png'"
                                           [alt]="chainItem.key" class="mr-2 h-5 w-5 rounded-full"/>
                                        {{chainItem.key}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Visibility -->
                    <div *ngIf="isAdvancedOptionsVisible" class="mb-6 flex flex-col">
                        <label for="isPublic" class="font-display text-jacarta-700 mb-2 block dark:text-white">Visibility</label>

                        <div class="flex items-center mb-4 w-full">
                            <input formControlName="isPublic" type="checkbox" id="isPublic" name="isPublic"
                                   class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0 mr-4">
                            <label for="isPublic" class="dark:text-jacarta-200 text-sm">Public (visible) immediately
                                after creation</label>
                        </div>
                        <p class="dark:text-jacarta-300 text-2xs mb-2 w-full">
                            If set public (default), the collection will be visible for other users for example on the
                            Explore page.
                            You can switch the collection public/private later as well. Setting as private means that
                            the collection is created but hidden for others.
                        </p>
                    </div>

                    <!-- Secondary Sales Royalties -->
                    <div *ngIf="isAdvancedOptionsVisible" class="mb-6">
                        <label for="itemRoyalty" class="font-display text-jacarta-700 mb-2 block dark:text-white">Secondary
                            Sale Royalties</label>

                        <div class="mb-3 flex items-center space-x-2">
                            <p class="dark:text-jacarta-300 text-2xs">
                                Royalty you will earn from each NFT sale on Marketplaces (like OpenSea).
                            </p>
                            <p *ngIf="collectionForm.get('royalty').value > 50" class="text-2xs text-accent">
                                Maximum 50%
                            </p>
                            <span
                                    class="inline-block"
                                    ngxTippy
                                    data-tippy-content="The value is expressed as a percentage">
                                  <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 24 24"
                                          width="24"
                                          height="24"
                                          class="dark:fill-jacarta-300 fill-jacarta-500 h-4 w-4">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"></path>
                                </svg>
                            </span>
                        </div>

                        <input
                                formControlName="royalty"
                                type="number"
                                step="1"
                                min="0"
                                max="50"
                                id="itemRoyalty"
                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                placeholder="Maximum 50%"
                        />
                    </div>

                    <!-- Licence -->
                    <div *ngIf="isAdvancedOptionsVisible" class="mb-6">
                        <label for="licence" class="font-display text-jacarta-700 mb-2 block dark:text-white">NFT
                            Commercial Rights</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-2">
                            Legally determines the underlying Commercial Rights (licence) related with the NFT and its
                            linked data as such file (e.g. image or audio) and metadata.
                        </p>
                        <input id="licence" formControlName="licence" type="hidden">
                        <div class="dropdown relative mb-4 cursor-pointer">
                            <div
                                    class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                                    role="button"
                                    id="filterLicence"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                  <span class="font-display flex items-center">
                                      {{selectedLicence | lowercase | titlecase}}
                                  </span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                                </svg>
                            </div>

                            <div
                                    class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                    aria-labelledby="filterPriceBlockchain"
                            >
                                <button (click)="onLicenceTypeChange(mapLicenceTypeToEnum(licenceItem))"
                                        *ngFor="let licenceItem of licences"
                                        class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                        [ngClass]="{'bg-accent-lighter': licenceItem === selectedLicence}"
                                >
                                    <span class="flex items-center">
                                        {{licenceItem | lowercase | titlecase}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Content Type TODO: Enable after music supported again -->
<!--                    <div *ngIf="isAdvancedOptionsVisible" class="mb-6">-->
<!--                        <label for="contentType" class="font-display text-jacarta-700 mb-2 block dark:text-white">Content Type</label>-->
<!--                        <p class="dark:text-jacarta-300 text-2xs mb-2">-->
<!--                            What is your content?-->
<!--                        </p>-->
<!--                        <input id="contentType" formControlName="contentType" type="hidden">-->
<!--                        <div class="dropdown relative mb-4 cursor-pointer">-->
<!--                            <div-->
<!--                                    class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"-->
<!--                                    role="button"-->
<!--                                    id="contentTypeSelect"-->
<!--                                    data-bs-toggle="dropdown"-->
<!--                                    aria-expanded="false"-->
<!--                            >-->
<!--                                  <span class="font-display flex items-center">-->
<!--                                      <svg *ngIf="selectedContentType === 'ART'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">-->
<!--                                          <path fill="none" d="M0 0h24v24H0z"></path>-->
<!--                                          <path d="M12 2c5.522 0 10 3.978 10 8.889a5.558 5.558 0 0 1-5.556 5.555h-1.966c-.922 0-1.667.745-1.667 1.667 0 .422.167.811.422 1.1.267.3.434.689.434 1.122C13.667 21.256 12.9 22 12 22 6.478 22 2 17.522 2 12S6.478 2 12 2zm-1.189 16.111a3.664 3.664 0 0 1 3.667-3.667h1.966A3.558 3.558 0 0 0 20 10.89C20 7.139 16.468 4 12 4a8 8 0 0 0-.676 15.972 3.648 3.648 0 0 1-.513-1.86zM7.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm9 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM12 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>-->
<!--                                      </svg>-->
<!--                                      <svg *ngIf="selectedContentType === 'MUSIC'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">-->
<!--                                          <path fill="none" d="M0 0h24v24H0z"></path>-->
<!--                                          <path d="M12 13.535V3h8v3h-6v11a4 4 0 1 1-2-3.465z"></path>-->
<!--                                      </svg>-->

<!--                                      {{selectedContentType | lowercase | titlecase}}-->
<!--                                  </span>-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"-->
<!--                                >-->
<!--                                    <path fill="none" d="M0 0h24v24H0z"></path>-->
<!--                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>-->
<!--                                </svg>-->
<!--                            </div>-->

<!--                            <div-->
<!--                                    class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"-->
<!--                                    aria-labelledby="contentTypeSelect"-->
<!--                            >-->
<!--                                <button (click)="onContentTypeChange(contentType)"-->
<!--                                        *ngFor="let contentType of contentTypes"-->
<!--                                        class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"-->
<!--                                        [ngClass]="{'bg-accent-lighter': contentType === selectedContentType}"-->
<!--                                >-->
<!--                                    <span class="flex items-center">-->
<!--                                        <svg *ngIf="contentType === 'ART'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">-->
<!--                                          <path fill="none" d="M0 0h24v24H0z"></path>-->
<!--                                          <path d="M12 2c5.522 0 10 3.978 10 8.889a5.558 5.558 0 0 1-5.556 5.555h-1.966c-.922 0-1.667.745-1.667 1.667 0 .422.167.811.422 1.1.267.3.434.689.434 1.122C13.667 21.256 12.9 22 12 22 6.478 22 2 17.522 2 12S6.478 2 12 2zm-1.189 16.111a3.664 3.664 0 0 1 3.667-3.667h1.966A3.558 3.558 0 0 0 20 10.89C20 7.139 16.468 4 12 4a8 8 0 0 0-.676 15.972 3.648 3.648 0 0 1-.513-1.86zM7.5 12a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm9 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM12 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>-->
<!--                                        </svg>-->
<!--                                        <svg *ngIf="contentType === 'MUSIC'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-4 w-4 mr-2 fill-accent">-->
<!--                                          <path fill="none" d="M0 0h24v24H0z"></path>-->
<!--                                          <path d="M12 13.535V3h8v3h-6v11a4 4 0 1 1-2-3.465z"></path>-->
<!--                                        </svg>-->
<!--                                        {{contentType | lowercase | titlecase}}-->
<!--                                    </span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <!-- Category -->
                    <div *ngIf="isAdvancedOptionsVisible" class="mb-6">
                        <label for="category" class="font-display text-jacarta-700 mb-2 block dark:text-white">Category</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-2">
                            The category of your {{selectedContentType | lowercase}} collection
                        </p>
                        <input id="category" formControlName="category" type="hidden">
                        <div class="dropdown relative mb-4 cursor-pointer">
                            <div
                                    class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                                    role="button"
                                    id="categorySelect"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                  <span class="font-display flex items-center">
                                      {{getCategoryName(selectedCategory)}}
                                  </span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        class="fill-jacarta-500 h-4 w-4 dark:fill-white"
                                >
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                                </svg>
                            </div>

                            <div
                                    class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                    aria-labelledby="categorySelect"
                            >
                                <button (click)="onCategoryChange(category)"
                                        *ngFor="let category of availableCategories"
                                        class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                        [ngClass]="{'bg-accent-lighter': category === selectedCategory}"
                                >
                                    <span class="flex items-center">
                                        {{getCategoryName(category)}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end body -->

                <div class="modal-footer">
                    <div class="flex flex-1 w-full text-center justify-center">
                        <button (click)="closeCollectionEditModal()"
                                class="border-accent bg-accent text-white w-48 ml-8 font-display mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all">
                            <span>Confirm</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nftEditModal" tabindex="-1" aria-labelledby="nftEditModalLabel"
         aria-hidden="true">
        <div class="modal-dialog max-w-2xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nftEditModalLabel">Edit NFT</h5>

                    <button #nftModalCloseBtn type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                            />
                        </svg>
                    </button>
                </div>

                <!-- Body -->
                <div [formGroup]="nftForm" class="modal-body relative p-6">
                    <!-- NFT Name -->
                    <div class="mb-6">
                        <label for="nftName"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">
                            Token name
                        </label>
                        <input
                                formControlName="name"
                                type="text"
                                id="nftName"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                        />
                    </div>

                    <div formArrayName="attributes" class="relative my-3 flex flex-col items-center justify-center w-full">
                        <div *ngFor="let attributeControl of attributesForm.controls; let i = index"
                             [formGroupName]="i"
                             class="relative my-3 flex items-end w-full">
                            <button (click)="removeAttribute(i)" class="flex h-12 w-12 shrink-0 items-center justify-center rounded-l-lg border border-r-0 border-jacarta-100 bg-jacarta-50 hover:bg-jacarta-100 dark:border-jacarta-600 dark:bg-jacarta-700">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="h-6 w-6 fill-jacarta-500 dark:fill-jacarta-300">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"></path>
                                </svg>
                            </button>

                            <div class="flex-1 flex">
                                <div class="flex-1 mr-1">
                                    <label class="mb-3 block font-display text-base font-semibold text-jacarta-700 dark:text-white">Type</label>

                                    <div class="dropdown relative cursor-pointer">
                                        <div
                                                class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"
                                                role="button"
                                                id="filterDisplayType"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                              <span class="font-display flex items-center">
                                                  {{getDisplayTypeName(attributeControl.get('display_type').value)}}
                                              </span>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24"
                                                    width="24"
                                                    height="24"
                                                    class="fill-jacarta-500 h-4 w-4 dark:fill-white">
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                                            </svg>
                                        </div>

                                        <div class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"
                                             aria-labelledby="filterDisplayType">
                                            <button (click)="onDisplayTypeChange(i, displayType)"
                                                    *ngFor="let displayType of attributesDisplayTypes"
                                                    class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"
                                                    [ngClass]="{'bg-accent-lighter': displayType === getAttributeDisplayType(i)}">
                                                <span class="flex items-center">
                                                    {{getDisplayTypeName(displayType)}}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-1 mr-1">
                                    <label class="mb-3 block font-display text-base font-semibold text-jacarta-700 dark:text-white">Name</label>
                                    <input formControlName="trait_type" type="text" class="h-12 w-full border border-r-0 border-jacarta-100 focus:ring-inset focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white dark:placeholder-jacarta-300" placeholder="Set attribute name">
                                </div>

                                <div class="flex-1">
                                    <label class="mb-3 block font-display text-base font-semibold text-jacarta-700 dark:text-white">Value</label>
                                    <input formControlName="value" type="text" class="h-12 w-full rounded-r-lg border border-jacarta-100 focus:ring-inset focus:ring-accent dark:border-jacarta-600 dark:bg-jacarta-700 dark:text-white dark:placeholder-jacarta-300" placeholder="Set attribute value">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button (click)="addAttribute()"
                            class="mt-2 rounded-full border-2 border-accent py-2 px-8 text-center text-sm font-semibold text-accent transition-all hover:bg-accent hover:text-white">
                        Add Attribute
                    </button>
                </div>
                <!-- end body -->

                <div class="modal-footer">
                    <div class="flex flex-1 w-full text-center justify-center">
                        <button [disabled]="!attributesForm.valid"
                                (click)="onEditNFT()"
                                [ngClass]="{'bg-jacarta-100': !attributesForm.valid, 'border-jacarta-100': !attributesForm.valid, 'no-pointer-events': !attributesForm.valid, 'border-accent': attributesForm.valid, 'bg-accent': attributesForm.valid}"
                                class="w-48 ml-8 font-display hover:bg-white border-accent text-white mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-accent">
                            <span>Confirm</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="group hidden dark:bg-jacarta-700 hover:bg-accent border-accent text-accent hover:text-white flex h-12 w-36 shrink-0 items-center justify-center rounded-lg border bg-white hover:border-transparent"
        type="button"
        id="introModalButton"
        hidden
        data-bs-toggle="modal"
        data-bs-target="#introModal">
    </button>

    <div class="modal fade" id="introModal" tabindex="-1" aria-labelledby="introModalLabel"
         aria-hidden="true">
        <div class="modal-dialog max-w-2xl">
            <div class="modal-content">
                <div class="modal-header text-center justify-center flex">
                    <h5 class="modal-title text-center self-center" id="Modal">Welcome in the Creator Studio!</h5>

                    <button #introModalCloseBtn type="button" class="btn-close hidden" data-bs-dismiss="modal" aria-label="Close">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                        >
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                            />
                        </svg>
                    </button>
                </div>

                <!-- Body -->
                <div class="modal-body relative p-6">
                    <div [ngClass.xs]="['flex-col', 'space-y-5']"
                         [ngClass.gt-xs]="['justify-between', 'items-center']"
                         class="w-full flex">
                        <div class="feature-box p-4 text-white rounded-lg hover:shadow-accent-volume flex flex-col justify-between">
                            <img src="/assets/icons/spiral/1.svg" class="mb-8">

                            <span class="w-full text-white flex flex-col items-center text-center space-y-2">
                                <span class="text-xl font-bold text-accent-dark">Connect</span>
                                <span class="text-sm font-medium text-jacarta-300">Log in using your wallet.</span>
                            </span>
                        </div>

                        <div class="feature-box p-4 text-white rounded-lg hover:shadow-accent-volume flex flex-col justify-between">
                            <img src="/assets/icons/spiral/4.svg" class="mb-8">

                            <span class="w-full text-white flex flex-col items-center text-center space-y-2">
                                <span class="text-xl font-bold text-accent-dark">Design</span>
                                <span class="text-sm font-medium text-jacarta-300">Click on elements or hint.</span>
                            </span>
                        </div>

                        <div class="feature-box p-4 text-white rounded-lg hover:shadow-accent-volume flex flex-col justify-between">
                            <img src="/assets/icons/spiral/3.svg" class="mb-8">

                            <span class="w-full text-white flex flex-col items-center text-center space-y-2">
                                <span class="text-xl font-bold text-accent-dark">Create</span>
                                <span class="text-sm font-medium text-jacarta-300">Launch your minting page.</span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end body -->

                <div class="modal-footer">
                    <div class="flex w-full text-center justify-center items-center m-auto">
                        <button (click)="closeIntroModal()"
                                class="badge-blured accent flex justify-center items-center font-display">
                            <span>Start</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create -->
    <!--        <section-->
    <!--                hidden-->
    <!--                ngClass.gt-sm="w-one-third"-->
    <!--                class="relative py-24 scroll-y hidden">-->
    <!--            <div class="container">-->
    <!--                <h1 class="font-display text-jacarta-700 py-16 text-center text-4xl font-medium dark:text-white">Launch Collection</h1>-->

    <!--                <div *ngIf="!isSupportedNetworkOrDisconnected()" class="flex flex-1 justify-center mb-12 font-medium mb-6 text-red">-->
    <!--                    Connect with one of the supported networks: {{supportedNetworksAsText}}-->
    <!--                </div>-->

    <!--                <div *ngIf="!isWalletConnected()" class="flex flex-1 justify-center mb-12">-->
    <!--                    <button (click)="connectWallet()"-->
    <!--                            class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">-->
    <!--                        <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-6 w-6"-->
    <!--                             alt="connect with web3 wallet">-->
    <!--                        <span>Connect</span>-->
    <!--                    </button>-->
    <!--                </div>-->

    <!--                <div *ngIf="collectionForm" [formGroup]="collectionForm" class="mx-auto max-w-[48.125rem]">-->

    <!--                    &lt;!&ndash; NFTs &ndash;&gt;-->
    <!--                    <div class="mb-6">-->
    <!--                        <div class="flex w-full">-->
    <!--                        <span>-->
    <!--                            <label class="font-display text-jacarta-700 mb-2 block dark:text-white flex items-center">NFTs-->
    <!--                                <span-->
    <!--                                        class="inline-block ml-2"-->
    <!--                                        ngxTippy-->
    <!--                                        data-tippy-content="The amount of added NFTs will automatically set the Collection's maximum supply.">-->
    <!--                                  <svg xmlns="http://www.w3.org/2000/svg"-->
    <!--                                       viewBox="0 0 24 24"-->
    <!--                                       width="24"-->
    <!--                                       height="24"-->
    <!--                                       class="dark:fill-jacarta-300 fill-jacarta-500 h-4 w-4">-->
    <!--                                        <path fill="none" d="M0 0h24v24H0z"></path>-->
    <!--                                        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z"></path>-->
    <!--                                 </svg>-->
    <!--                                </span>-->
    <!--                            </label>-->

    <!--                            <div class="mb-3 flex flex-col justify-center space-x-2">-->
    <!--                                <p *ngIf="selectedContentType === 'MUSIC'" class="font-bold dark:text-jacarta-300 text-2xs mb-2">-->
    <!--                                    Each NFT is a song that is part of your music album.-->
    <!--                                </p>-->

    <!--                                <p class="dark:text-jacarta-300 text-2xs">-->
    <!--                                    If you don't specify the Collection's NFTs, the supply will be unlimited. Here you can add NFTs with their files.-->
    <!--                                </p>-->
    <!--                            </div>-->
    <!--                        </span>-->
    <!--                        </div>-->

    <!--                        <div *ngFor="let nft of nfts; let i = index;" class="dark:border-jacarta-600 border-jacarta-100 relative border-b py-6">-->
    <!--                            <div class="flex items-center justify-between">-->
    <!--                                <div class="flex">-->
    <!--                                    <div>-->
    <!--                                        <label class="font-display text-jacarta-700 block dark:text-white">#{{i + 1}}</label>-->
    <!--                                        <p class="dark:text-jacarta-300 flex text-sm mt-2">-->
    <!--                                            <span *ngIf="nft.file" class="nft-trait">File: {{(nft.file.size / 1024 / 1024) | number : '1.2-2' }} MB</span>-->
    <!--                                            <span *ngIf="nft.attributes" class="nft-trait">{{(getAttributesCount(nft)) }} properties</span>-->
    <!--                                            <span (click)="onRemoveNFT(i)" *ngIf="nft.attributes" class="nft-trait text-accent cursor-pointer">Remove</span>-->
    <!--                                        </p>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                    &lt;!&ndash; Mint Price &ndash;&gt;-->
    <!--                    <div class="mb-6">-->
    <!--                        <label for="itemMintPrice"-->
    <!--                               class="font-display text-jacarta-700 mb-2 block dark:text-white">Mint Price</label>-->

    <!--                        <div class="mb-3 flex items-center space-x-2">-->
    <!--                        <span class="flex flex-col space-y-1">-->
    <!--                           <p class="dark:text-jacarta-300 text-2xs">-->
    <!--                                The price for mint in selected currency. Users will be able to mint tokens for this fixed price. Empty (or 0) means Free Mint.-->
    <!--                            </p>-->
    <!--                            <p class="text-2xs font-bold">-->
    <!--                                The 2% minting fee will be charged from each mint.-->
    <!--                            </p>-->
    <!--                            <p *ngIf="!isMintPriceInteger" class="text-2xs font-bold text-accent">-->
    <!--                                Please, use integer value. Decimals will be supported in the future version.-->
    <!--                            </p>-->
    <!--                        </span>-->
    <!--                        </div>-->

    <!--                        <input-->
    <!--                                formControlName="mintPrice"-->
    <!--                                type="number"-->
    <!--                                step="1"-->
    <!--                                min="0"-->
    <!--                                id="itemMintPrice"-->
    <!--                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"-->
    <!--                                [placeholder]="collectionForm.get('assetName').value + ' integer only'"-->
    <!--                        />-->
    <!--                    </div>-->

    <!--                        &lt;!&ndash; Asset &ndash;&gt;-->
    <!--                        <div class="mb-6">-->
    <!--                            <label for="assetName" class="font-display text-jacarta-700 mb-2 block dark:text-white">Currency</label>-->
    <!--                            <p class="dark:text-jacarta-300 text-2xs mb-2">-->
    <!--                                Choose currency (token) which will be used to pay for minting from your Collection.-->
    <!--                            </p>-->
    <!--                            <input id="assetName" formControlName="chainSymbol" type="hidden">-->
    <!--                            <div class="dropdown relative mb-4 cursor-pointer">-->
    <!--                                <div-->
    <!--                                        class="dark:bg-jacarta-700 bg-white dropdown-toggle border-jacarta-100 dark:border-jacarta-600 flex items-center justify-between rounded-lg border py-3.5 px-3 text-sm dark:text-white"-->
    <!--                                        role="button"-->
    <!--                                        id="filterAssetName"-->
    <!--                                        data-bs-toggle="dropdown"-->
    <!--                                        aria-expanded="false"-->
    <!--                                >-->
    <!--                                  <span class="font-display flex items-center">-->
    <!--                                    <img [src]="'/assets/img/currencies/'+selectedAssetName+'.svg'"-->
    <!--                                         class="mr-2 h-5 w-5 rounded-full"/>-->
    <!--                                      {{selectedAssetName}}-->
    <!--                                  </span>-->
    <!--                                    <svg-->
    <!--                                            xmlns="http://www.w3.org/2000/svg"-->
    <!--                                            viewBox="0 0 24 24"-->
    <!--                                            width="24"-->
    <!--                                            height="24"-->
    <!--                                            class="fill-jacarta-500 h-4 w-4 dark:fill-white"-->
    <!--                                    >-->
    <!--                                        <path fill="none" d="M0 0h24v24H0z"></path>-->
    <!--                                        <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>-->
    <!--                                    </svg>-->
    <!--                                </div>-->

    <!--                                <div-->
    <!--                                        class="dropdown-menu z-max dark:bg-jacarta-800 z-10 hidden min-w-[252px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl"-->
    <!--                                        aria-labelledby="filterPriceBlockchain"-->
    <!--                                >-->
    <!--                                    <button (click)="onAssetChange(asset)"-->
    <!--                                            *ngFor="let asset of supportedAssets"-->
    <!--                                            class="dropdown-item font-display text-jacarta-700 dark:hover:bg-jacarta-600 hover:bg-jacarta-50 flex w-full items-center justify-between rounded-xl px-5 py-2 text-left text-sm transition-colors dark:text-white"-->
    <!--                                            [ngClass]="{'bg-accent-lighter': asset === selectedAssetName}"-->
    <!--                                    >-->
    <!--                                    <span class="flex items-center">-->
    <!--                                      <img [src]="'/assets/img/currencies/'+asset+'.svg'"-->
    <!--                                           class="mr-2 h-5 w-5 rounded-full"/>-->
    <!--                                        {{asset}}-->
    <!--                                    </span>-->
    <!--                                    </button>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->

    <!--                    &lt;!&ndash; Submit &ndash;&gt;-->
    <!--                    <button-->
    <!--                            [disabled]="isCreateButtonDisabled()"-->
    <!--                            [ngClass]="{'bg-jacarta-300': isCreateButtonDisabled(), 'cursor-default': isCreateButtonDisabled()}"-->
    <!--                            (click)="onSubmit()"-->
    <!--                            data-bs-toggle="modal"-->
    <!--                            data-bs-target="#confirmCreateStepper"-->
    <!--                            type="button"-->
    <!--                            class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">-->
    <!--                        {{isConnectedToWallet ? 'Create' : 'Connect'}}-->
    <!--                    </button>-->

    <!--                    <p *ngIf="isConnectedToWallet && collectionForm.invalid && collectionForm.get('name').value < 3" class="text-red text-sm mt-4">-->
    <!--                        Name: (min. 3 characters) is required.-->
    <!--                    </p>-->
    <!--                    <p *ngIf="isConnectedToWallet && collectionForm.invalid && !file" class="text-red text-sm mt-4">-->
    <!--                        Collection cover file is required.-->
    <!--                    </p>-->
    <!--                    <p *ngIf="isConnectedToWallet && collectionForm.invalid && collectionForm.get('description').value > 2000" class="text-red text-sm mt-4">-->
    <!--                        Description: maximum 2000 characters.-->
    <!--                    </p>-->
    <!--                    <p *ngIf="isConnectedToWallet && selectedContentType === 'MUSIC' && nfts?.length === 0" class="text-red text-sm mt-4">-->
    <!--                        NFTs: Music album requires at least 1 NFT (song).-->
    <!--                    </p>-->
    <!--                    <p *ngIf="!isSupportedNetworkOrDisconnected()" class="text-red mt-4 text-sm">-->
    <!--                        Switch to one of the currently supported network: {{ supportedNetworksAsText }}.-->
    <!--                    </p>-->
    <!--                    <p *ngIf="!isMintPriceInteger" class="text-red mt-4 text-sm">-->
    <!--                        Please, use integer value. Decimals will be supported in the future version.-->
    <!--                    </p>-->

    <!--                    <m-web3-modal-->
    <!--                            title="Connect your wallet"-->
    <!--                            [description]="'Connect to one of the supported networks: Ethereum, Polygon, Moonbeam, Avalanche, BNB Chain, Fantom, Optimism, Arbitrum, or Harmony. In case of a connection problem, refresh the app.'"-->
    <!--                    ></m-web3-modal>-->

    <!-- Open edit NFT modal button -->
    <button class="group hidden dark:bg-jacarta-700 hover:bg-accent border-accent text-accent hover:text-white flex h-12 w-36 shrink-0 items-center justify-center rounded-lg border bg-white hover:border-transparent"
            type="button"
            id="nftEditButton"
            hidden
            data-bs-toggle="modal"
            data-bs-target="#nftEditModal">
    </button>

    <div class="modal fade" id="confirmCreateStepper" tabindex="-1" aria-labelledby="confirmCreateStepperLabel"
         aria-hidden="true">
        <div class="modal-dialog max-w-2xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCreateStepperLabel">Creating Collection</h5>
                    <button #createStepperCloseBtn (click)="stopCreatingCollection()" type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                                class="fill-jacarta-700 h-6 w-6 dark:fill-white">
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path
                                    d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                            />
                        </svg>
                    </button>
                </div>

                <!-- Body -->
                <div *ngIf="stepper && stepper[activeStep]" class="modal-body relative pt-28 pb-10">
                    <ngx-ui-loader loaderId="confirmStepperLoader"
                                   bgsPosition="top-center"
                    ></ngx-ui-loader>

                    <p [ngClass]="{'text-red': stepper[activeStep].status === 'ERROR'}"
                       class="text-xl text-jacarta-700 text-center">{{stepper[activeStep].title}}</p>
                    <p class="text-jacarta-400 mt-3 text-center">{{stepper[activeStep].subtitle || "Please, wait and don't close this window."}}</p>
                </div>
                <!-- end body -->

                <div class="modal-footer">
                    <div class="steps space-x-4">
                        <span *ngFor="let step of stepper; let stepIndex = index" class="step"
                              [ngClass]="{'active': activeStep === stepIndex}">
                            <span class="step-icon">{{stepIndex + 1}}</span>
                            <span *ngIf="stepper[stepIndex].iconText" class="step-title">{{stepper[stepIndex].iconText}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input
            (change)="onAddNFTsFiles($event)"
            type="file"
            multiple="true"
            hidden
            accept="image/*,audio/*"
            id="nftFilePicker"
            class="hidden"
    />
</div>
