$box-shadow-material: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

.input-image-preview {
  background-repeat: no-repeat;
  background-position: center;
  max-height: 350px;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  .step-icon {
    background-color: #C4C5CF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 100%;
    font-weight: 700;
    height: 36px;
    width: 36px;
  }

  .step-title {
    margin-top: 4px;
    color: #C4C5CF;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
  }

  &.active {
    .step-icon {
      cursor: pointer;
      background-color: #EC255A;
    }

    .step-title {
      cursor: pointer;
      color: darken(#EC255A, 40%);
    }
  }
}

.nft-trait {
  padding: 0 8px;
  border: none;
  border-right: 1px solid #e7e8ec;

  &:first-of-type {
    padding-left: 0;
  }
}

.file-input-selected {
  padding: 0;
  width: 100%;
}

#introModal {
  .modal-dialog {
    color: #fff;
    border: none;

    .modal-content {
      border: none;
    }

    .modal-title {
      text-align: center;
    }

    .modal-header {
      border: none;
      justify-content: center !important;
    }

    .modal-body {
      color: #fff;
      width: 100%;

      .feature-box {
        width: calc(33.3333% - 32px);
        height: 166px;
        box-shadow: $box-shadow-material;
        transition: all 500ms ease-in-out;
        overflow: hidden;

        img {
          height: 4rem;
          width: auto;
          display: flex;
          align-self: center;
          justify-self: center;
          transition: all 500ms ease-in-out;
        }

        &:hover {
          img {
            transform: scale(1.4) rotate(90deg);
          }
        }

        @media (max-width: 575px) {
          width: 100%;
          height: fit-content;
        }
      }
    }
    
    .modal-footer {
      border: none;
    }
  }
}
