$color-light-base: #F5F8FA;
$gradient-accent-vertical-cross: linear-gradient(135deg, rgba(236,37,90,1) 0%, rgba(242,102,140,1) 50%, rgba(255,255,255,1) 100%);

.feature-card {
  transition: all 300ms ease-in-out;
  position: relative;
  width: 100%;
  min-width: 66vw;
  height: 66vh;
  border-radius: 12px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: $gradient-accent-vertical-cross;
    object-fit: cover;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    &::before {
      filter: blur(5px);
    }
  }

  &.active {
    &::before {
      filter: blur(10px);
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  @media (max-width: 1024px) {
    height: 90vh;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
