$color-accent: #ec255a;
$color-light-base: #F5F8FA;

.item-image-cover-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .cover-inner-details {
    text-align: center;
    align-items: center;
    z-index: 2;
  }

  .cover-inner-more-button {
    position: absolute;
    width: max-content;
    bottom: 5%;
    right: 5%;
    z-index: 2;

    @media (max-width: 575px) {
      right: unset;
      bottom: -5%;
    }

    @media (max-height: 400px) {
      bottom: -20%;
    }

    @media (max-height: 370px) {
      bottom: -25%;
    }

    .button-round {
      height: 56px;
      width: 56px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      z-index: 2;
    }

    @media (min-width: 1202px) {
      transform: translateY(50%);
      bottom: 0;
    }
  }

  .cover-inner-actions-card {
    position: fixed;
    width: 16rem;
    top: 20%;
    right: 10%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    border-radius: 8px;
    outline: none;

    .actions-card-section-title {
      width: 100%;
      padding: .5rem 0;
      border: none;
      border-bottom: 1px solid $color-light-base;
    }

    .actions-card-actions {
      border: none;

      .actions-card-action-box {
        padding: 1rem;
        border: none;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

    .cover-inner-info-card {
    position: absolute;
    width: max-content;
    bottom: 5%;
    z-index: 2;

    @media (min-width: 1202px) {
      margin-left: 2rem;
      transform: translateY(50%);
      bottom: 0;
    }

    @media (max-height: 400px) {
      bottom: -15%;
    }

    @media (max-height: 370px) {
      bottom: -20%;
    }

    .info-tiles {
      padding: 24px;
      border: none;

      @media (max-width: 767px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;

        .info-value {
          font-size: 1rem !important;
        }

        .info-label {
          font-size: .7rem !important;
        }
      }

      @media (max-width: 320px) {
        gap: 8px;
      }
    }
  }

  @media (min-width: 1202px) {
    height: 90vh;
    justify-content: start;

    .cover-inner-details {
      align-items: start;
      padding-left: 2rem;
      text-align: left;
    }
  }

  figure {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    z-index: 1;
    filter: brightness(.5);
  }
}

.actionable-hover {
  &:hover {
    background-color: $color-accent;
    color: #fff;
    border-radius: 4px;
    border: none;
    border-left: 2px solid $color-accent;
    border-right: 2px solid $color-accent;
    cursor: pointer;

    * {
     color: #fff !important;
    }
  }
}

#nfts {
  .item-card {
    @media (max-width: 768px) {
      max-width: 100vw;
    }
  }
}

#collectionActions {
  box-shadow: none;
}

.square-image {
  width: 8rem !important;
  height: 8rem !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #fff;
  object-fit: cover;
  outline: none;
  cursor: pointer;
}

.bounce {
  animation: bounce 6s infinite forwards;
}

.bounce-small {
  animation: bounce-small 6s infinite forwards;
}

@keyframes bounce {
  0%, 70%, 80%, 90%, 100% {transform: translateY(0);}
  75% {transform: translateY(-15px);}
  85% {transform: translateY(-5px);}
}

@keyframes bounce-small {
  0%, 70%, 80%, 90%, 100% {transform: translateY(0);}
  75% {transform: translateY(-6px);}
  85% {transform: translateY(-2px);}
}
