<!-- Collection Image -->
<div class="item-image-cover-container flex items-center justify-center relative">
    <div *ngIf="this.hints && !isCollectionRequiredDataFilled" class="bounce cover-inner-actions-card flex flex-col bg-white">
        <div class="actions-card-section-title text-base font-semibold text-center text-jacarta-700">
            Hint {{completedRequiredHints + 1}}/{{hints.required.length}}
        </div>

        <div (click)="onCollectionEdit(currentRequiredHint.editData)"
             class="actions-card-actions flex justify-center items-center w-full">
            <span class="actions-card-action-box flex justify-center items-center text-center text-base text-jacarta-500">
                {{currentRequiredHint.text}} {{currentRequiredHint.icon}}
            </span>
        </div>
    </div>

    <div *ngIf="this.hints && isCollectionRequiredDataFilled" class="bounce cover-inner-actions-card flex flex-col bg-white">
        <div class="actions-card-section-title text-base font-semibold text-center text-jacarta-700">
            Optional
        </div>

        <div *ngIf="!nfts.length" (click)="onAddNFTs()"
             class="actions-card-actions flex justify-center items-center w-full">
            <span class="actions-card-action-box flex justify-center items-center text-center text-base text-jacarta-500">
                Add NFTs 🪅
            </span>
        </div>

        <div *ngIf="!isCollectionOptionalDataFilled && nfts.length" (click)="onCollectionEdit(currentOptionalHint?.editData)"
             class="actions-card-actions flex justify-center items-center w-full">
            <span class="actions-card-action-box flex justify-center items-center text-center text-base text-jacarta-500">
                {{currentOptionalHint?.text}} {{currentOptionalHint?.icon}}
            </span>
        </div>

        <div *ngIf="isAdvancedOptionsHintActive" (click)="onCollectionAdvancedOptionsEdit()"
             class="actions-card-actions flex justify-center items-center w-full">
            <span class="actions-card-action-box flex justify-center items-center text-center text-base text-jacarta-500">
                Set advanced options 🪄
            </span>
        </div>

        <div *ngIf="nfts.length && isCollectionOptionalDataFilled && isCollectionAdvancedOptionsFilled && isValid && isConnectedToWallet"
             (click)="onLaunch()"
             data-bs-toggle="modal"
             data-bs-target="#confirmCreateStepper"
             class="actions-card-actions flex justify-center items-center w-full">
            <span class="actions-card-action-box flex justify-center items-center text-center text-base text-jacarta-500">
                Launch collection 🎉
            </span>
        </div>

        <div *ngIf="nfts.length && isCollectionOptionalDataFilled && isCollectionAdvancedOptionsFilled && isValid && !isConnectedToWallet"
             (click)="connectWallet()"
             class="actions-card-actions flex justify-center items-center w-full">
            <span class="actions-card-action-box flex justify-center items-center text-center text-base text-jacarta-500">
                <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-4 w-4"/>
                <span>Connect wallet</span>
            </span>
        </div>
    </div>

    <div class="cover-inner-details flex flex-col">
        <span *ngIf="squareImagePreviewSrc"
                (click)="onCollectionEdit(getHintById('squareImageURI'))"
                [style.background-image]="'url(\''+(squareImagePreviewSrc)+'\')'"
                class="square-image">
            <img hidden
                 [src]="squareImagePreviewSrc"
                 class="hidden"
                 loading="eager"
            />
        </span>

        <span *ngIf="!squareImagePreviewSrc"
                (click)="onCollectionEdit(getHintById('squareImageURI'))"
                [style.background-image]="'url(\''+('/assets/img/gradient-background-min.png')+'\')'"
                [ngClass]="{'bounce': currentRequiredHint.id === 'squareImageURI'}"
                class="square-image"></span>

        <h1 ngxTippy="Click to change the collection name"
            (click)="onCollectionEdit(getHintById('collectionName'))"
            [ngClass]="{'bounce': currentRequiredHint.id === 'collectionName'}"
            class="actionable-hover text-white font-display text-center mt-6 mb-6 text-5xl md:text-left lg:text-6xl xl:text-7xl">
            {{collection?.collectionName || 'Your Collection'}}
        </h1>

        <div class="flex justify-start items-center">
            <span *ngIf="!isConnectedToWallet"
                  (click)="connectWallet()"
                  class="badge-blured accent flex justify-center items-center mr-4">
                Connect
            </span>

            <span *ngIf="isConnectedToWallet && isValid && isCollectionRequiredDataFilled"
                  (click)="onLaunch()"
                  data-bs-toggle="modal"
                  data-bs-target="#confirmCreateStepper"
                  class="badge-blured accent flex justify-center items-center mr-4">
                Launch 🎉
            </span>

            <span *ngIf="isConnectedToWallet" class="badge-blured flex justify-center items-center">
                By: {{getCreatorAlias()}}
            </span>
        </div>
    </div>

    <figure (click)="onCollectionEdit(getHintById('fileURI'))"
            *ngIf="backgroundImagePreviewSrc"
            [style.background-image]="'url(\''+(backgroundImagePreviewSrc ? backgroundImagePreviewSrc : '/assets/img/backgrounds/mesh-755.png')+'\')'"
            class="relative">
        <img hidden
             [src]="backgroundImagePreviewSrc"
             class="hidden"
             loading="eager"
        />
    </figure>

    <figure (click)="onCollectionEdit(getHintById('fileURI'))"
            *ngIf="!backgroundImagePreviewSrc"
            [style.background-image]="'url(\''+('/assets/img/backgrounds/mesh-755.png')+'\')'"
            class="relative"></figure>

    <div *ngIf="collection" class="cover-inner-info-card">
        <div *ngIf="collection.totalSupply !== undefined"
             class="info-tiles shadow-md border-jacarta-100 inline-flex flex-wrap items-center justify-center rounded-xl border bg-white">
            <a class="dark:border-jacarta-600 border-jacarta-100 w-1/2 rounded-l-xl py-4 sm:w-32">
                <div class="font-display text-jacarta-700 mb-1 text-xl font-bold dark:text-white info-value">{{collection.totalSupply > 0 ? collection.totalSupply : 'Unlimited'}}</div>
                <div class="font-display text-jacarta-300 text-lg tracking-tight info-label">Items</div>
            </a>
            <a *ngIf="collection.mintPrice !== undefined"
               (click)="onCollectionEdit(getOptionalHintById('mintPrice'))"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div [ngClass]="{'bounce': ['assetName', 'mintPrice'].includes(currentOptionalHint?.id)}"
                     class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <img ngxTippy="Click to change minting currency"
                         [src]="'/assets/img/currencies/'+collection.assetName+'.svg'" class="h-6 w-6 mr-1"/>
                    <span ngxTippy="Click to change minting price"
                          class="actionable-hover font-display font-bold text-xl info-value">
                        {{collection.mintPrice > 0 ? mintPriceTruncated : 'Free'}}
                    </span>
                </div>
                <div ngxTippy="Click to change minting price"
                     [ngClass]="{'bounce': ['assetName', 'mintPrice'].includes(currentOptionalHint?.id)}"
                     class="actionable-hover font-display text-jacarta-300 text-lg xs:text-md tracking-tight info-label">
                    Mint Price
                </div>
            </a>

            <a (click)="onCollectionEdit(getOptionalHintById('dropFrom'))"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div [ngClass]="{'bounce': ['dropFrom', 'dropTo'].includes(currentOptionalHint?.id)}"
                     class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <span ngxTippy="Click to change the minting start date"
                          class="actionable-hover font-display font-bold text-xl info-value">{{dateFrom ? (dateFrom | titlecase) : 'Today'}}</span>
                </div>
                <div ngxTippy="Click to change the minting start date"
                     [ngClass]="{'bounce': ['dropFrom', 'dropTo'].includes(currentOptionalHint?.id)}"
                     class="font-display text-jacarta-300 text-lg tracking-tight info-label">
                    <span class="actionable-hover">Start</span>
                </div>
            </a>

            <a (click)="onCollectionEdit(getOptionalHintById('dropTo'))"
               class="dark:border-jacarta-600 border-jacarta-100 w-1/2 py-4 sm:w-32">
                <div [ngClass]="{'bounce': ['dropFrom', 'dropTo'].includes(currentOptionalHint?.id)}"
                     class="text-jacarta-700 mb-1 flex items-center justify-start text-base font-medium dark:text-white">
                    <span ngxTippy="Click to change the minting end date"
                          class="actionable-hover font-display font-bold text-xl info-value">{{dateTo ? (dateTo | titlecase) : 'Any'}}</span>
                </div>
                <div [ngClass]="{'bounce': ['dropFrom', 'dropTo'].includes(currentOptionalHint?.id)}"
                     ngxTippy="Click to change the minting end date"
                     class="actionable-hover font-display text-jacarta-300 text-lg tracking-tight info-label">
                    <span class="actionable-hover">End</span>
                </div>
            </a>
        </div>
    </div>
</div>

<section *ngIf="collection" class="bg-light-base relative pb-24 pt-12 ph-15">
    <div class="w-full">
        <!-- Tabs -->
        <div class="scrollbar-custom mt-14 overflow-x-auto overflow-y-hidden rounded-lg">
            <div class="min-w-fit">
                <!-- Tabs Nav -->
                <ul class="nav nav-tabs flex items-center justify-start overflow-x-auto overflow-y-hidden mb-12"
                    role="tablist">
                    <!-- NFTs -->
                    <li [ngClass]="{'active': selectedTab === 'nfts', 'bounce': isNFTsHintActive && selectedTab !== 'nfts'}" class="nav-item"
                        role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'nfts'}"
                                (click)="selectedTab = 'nfts'"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="nfts-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nfts"
                                type="button"
                                role="tab"
                                aria-controls="nfts"
                                aria-selected="false"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="mr-1 h-5 w-5 fill-current"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z"
                                />
                            </svg>
                            <span class="text-lg font-medium">NFTs</span>
                        </button>
                    </li>

                    <!-- Details -->
                    <li [ngClass]="{'active': selectedTab === 'details', 'bounce': (currentOptionalHint?.id === 'external_link' || isAdvancedOptionsHintActive) && selectedTab !== 'details'}"
                        class="nav-item" role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'details'}"
                                (click)="selectedTab = 'details'"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="details-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#details"
                                type="button"
                                role="tab"
                                aria-controls="details"
                                aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                 class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M6.17 18a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2v-2h4.17zm6-7a3.001 3.001 0 0 1 5.66 0H22v2h-4.17a3.001 3.001 0 0 1-5.66 0H2v-2h10.17zm-6-7a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3.001 3.001 0 0 1-5.66 0H2V4h4.17z"></path>
                            </svg>
                            <span class="text-lg font-medium">Details</span>
                        </button>
                    </li>

                    <!-- Description -->
                    <li [ngClass]="{'active': selectedTab === 'description', 'bounce': currentOptionalHint?.id === 'description' && selectedTab !== 'description'}"
                        class="nav-item" role="presentation">
                        <button
                                [ngClass]="{'active': selectedTab === 'description'}"
                                (click)="selectedTab = 'description'"
                                class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                                id="description-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#description"
                                type="button"
                                role="tab"
                                aria-controls="description"
                                aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                 class="mr-1 h-5 w-5 fill-current">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M5 15v4h4v2H3v-6h2zm16 0v6h-6v-2h4v-4h2zm-8.001-9l4.4 11h-2.155l-1.201-3h-4.09l-1.199 3H6.6l4.399-11h2zm-1 2.885L10.752 12h2.492l-1.245-3.115zM9 3v2H5v4H3V3h6zm12 0v6h-2V5h-4V3h6z"></path>
                            </svg>

                            <span class="text-lg font-medium">Description</span>
                        </button>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content">
                    <!-- Details -->
                    <div (click)="selectedTab = 'details'"
                         [ngClass]="{'show': selectedTab === 'details', 'active': selectedTab === 'details'}"
                         class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 rounded-t-2lg rounded-b-2lg rounded-tl-none border bg-white p-6 md:p-10">
                            <div (click)="onCollectionAdvancedOptionsEdit()" class="flex items-center mb-2">
                                <span class="actionable-hover mr-4 min-w-[9rem]">Blockchain:</span>
                                <span class="actionable-hover flex items-center">
                                    <img [src]="'/assets/img/chains/'+collection.chainSymbol+'.png'"
                                         class="mr-2 h-5 w-5 rounded-full"/>
                                    <span class="text-jacarta-700 dark:text-white">
                                        {{collection.chainSymbol}}
                                    </span>
                                </span>
                            </div>

                            <div class="flex items-center mb-2">
                                <span class="dark:text-jacarta-300 mr-4 min-w-[9rem]">Created from:</span>
                                <span class="flex items-center">
                                    <img [src]="'/assets/img/chains/'+collection.srcChain+'.png'"
                                         class="mr-2 h-5 w-5 rounded-full"/>
                                    <span class="text-jacarta-700 dark:text-white">
                                        {{collection.srcChain}}
                                    </span>
                                </span>
                            </div>

                            <div class="flex items-center mb-2">
                                <span (click)="onCollectionAdvancedOptionsEdit()" class="actionable-hover mr-4 min-w-[9rem]">Commercial Rights:</span>
                                <a *ngIf="collection.licence"
                                   (click)="onCollectionAdvancedOptionsEdit()"
                                   target="_blank"
                                   class="actionable-hover text-jacarta-700 hover:text-accent">
                                    {{collection.licence | lowercase | titlecase}}
                                </a>
                            </div>

                            <div class="flex items-center mb-2">
                                <span (click)="onCollectionAdvancedOptionsEdit()" class="actionable-hover mr-4 min-w-[9rem]">Creator Royalties:</span>
                                <a *ngIf="collection.royalties"
                                   (click)="onCollectionAdvancedOptionsEdit()"
                                   target="_blank"
                                   class="actionable-hover text-jacarta-700 hover:text-accent">
                                    {{collection.royalties}}
                                </a>
                            </div>

                            <div (click)="onCollectionEdit(getOptionalHintById('external_link'))" class="flex items-center mb-2">
                                <span [ngClass]="{'bounce-small': getOptionalHintById('external_link') === currentOptionalHint?.id}"
                                      class="actionable-hover mr-4 min-w-[9rem]">Website:</span>
                                <a *ngIf="collection.metadata?.external_link" [href]="collection.metadata.external_link.includes('http') ? collection.metadata.external_link : '//'+collection.metadata.external_link"
                                   target="_blank"
                                   class="actionable-hover text-jacarta-700 hover:text-accent">
                                    {{collection.metadata.external_link}}
                                </a>
                            </div>

                            <div (click)="onCollectionAdvancedOptionsEdit()"
                                 [ngClass]="{'bounce-small': isAdvancedOptionsHintActive}"
                                 class="flex items-center mt-6">
                                <span class="actionable-hover text-accent min-w-[9rem] font-semibold">Set advanced options</span>
                            </div>
                        </div>
                    </div>

                    <!-- NFTs -->
                    <div (click)="selectedTab = 'nfts'"
                         [ngClass]="{'show': selectedTab === 'nfts', 'active': selectedTab === 'nfts'}"
                         class="tab-pane fade" id="nfts" role="tabpanel" aria-labelledby="nfts-tab">
                        <div class="w-full flex items-center space-x-5 mb-8">
                            <button (click)="onAddNFTs()"
                                    class="hover:bg-accent-dark font-display bg-accent rounded-lg px-6 py-2 text-sm text-white flex justify-center items-center">
                                <span>Upload files</span>
                            </button>

                            <button (click)="onCollectionEdit(nftsFromIPFSEditData)"
                                    class="hover:bg-accent hover:text-white hover:border-accent font-display bg-white text-accent border border-accent rounded-lg px-6 py-2 text-sm text-white flex justify-center items-center">
                                <span class="mr-2">Import from IPFS</span>
                                <img src="/assets/img/brands/ipfs.svg" class="h-4 w-4"/>
                            </button>
                        </div>

                        <div *ngIf="nfts.length" class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">
                            <article class="item-card" *ngFor="let nft of nfts; let i = index;">
                                <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 rounded-2.5xl block border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">
                                    <figure *ngIf="collection.contentType !== 'MUSIC' && nft.fileURL" class="relative">
                                        <a>
                                            <img [src]="nft.fileURL" class="rounded-[0.625rem] w-full object-cover h-[50vh]" loading="eager">
                                        </a>
                                    </figure>

<!--                                    <vm-player *ngIf="collection.contentType === 'MUSIC' && nft.fileURL"-->
<!--                                               style="&#45;&#45;vm-player-theme: #EC255A">-->
<!--                                        <vm-audio>-->
<!--                                            <source [attr.data-src]="nft.fileURL" type="audio/mp3"/>-->
<!--                                        </vm-audio>-->
<!--                                        <vm-ui>-->
<!--                                            <vm-scrim></vm-scrim>-->
<!--                                            <vm-skeleton></vm-skeleton>-->
<!--                                            <vm-controls pin="bottomLeft" active-duration="2750" full-width>-->
<!--                                                <vm-click-to-play></vm-click-to-play>-->
<!--                                                <vm-playback-control></vm-playback-control>-->
<!--                                                <vm-volume-control></vm-volume-control>-->
<!--                                                <vm-time-progress></vm-time-progress>-->
<!--                                            </vm-controls>-->
<!--                                        </vm-ui>-->
<!--                                    </vm-player>-->

                                    <div class="mt-7 flex items-center justify-between">
                                        <a>
                                            <span class="font-display text-jacarta-700 hover:text-accent text-base dark:text-white">
                                                {{collection.collectionName}} #{{nft.name || (isCustomFirstTokenId ? (i + 1) : i)}}</span>
                                        </a>

                                        <div class="flex items-center space-x-2">
                                            <span *ngIf="nftSourceType === 'file'"
                                                  (click)="onEditNFT(i)"
                                                  class="actionable-hover text-sm text-jacarta-700 font-semibold">
                                                {{getAttributesCount(nft) > 0 ? getAttributesCount(nft) + ' attributes' : 'Edit attributes'}}
                                            </span>
                                            <span *ngIf="nftSourceType === 'file'" class="text-xs">⦾</span>
                                            <div (click)="onCollectionEdit(getOptionalHintById('mintPrice'))" class="text-sm flex items-center">
                                                <span ngxTippy="Click to change the minting price"
                                                      class="actionable-hover dark:text-jacarta-200 text-jacarta-700 mr-2 font-semibold">
                                                    {{collection.mintPrice > 0 ? mintPriceTruncated : 'Free'}}
                                                </span>
                                                <img ngxTippy="Click to change the minting currency"
                                                     [src]="'/assets/img/currencies/'+collection.assetName+'.svg'" class="h-4 w-4 mr-2"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- Description -->
                    <div (click)="selectedTab = 'description'"
                         [ngClass]="{'show': selectedTab === 'description', 'active': selectedTab === 'description'}"
                         class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <div (click)="onCollectionEdit(getOptionalHintById('description'))" class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 rounded-t-2lg rounded-b-2lg rounded-tl-none border bg-white p-6 md:p-10">
                            <div *ngIf="collection?.metadata?.description" class="actionable-hover text-lg">
                                {{collection.metadata.description}}
                            </div>

                            <div *ngIf="!collection?.metadata?.description"
                                 [ngClass]="{'bounce': currentOptionalHint?.id === 'description'}"
                                 class="actionable-hover text-lg">
                                Add collection description
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
            </div>
        </div>
    </div>
</section>
