<div class="item-image-cover-container flex items-center justify-center relative">
    <div class="cover-inner-details flex flex-col justify-center items-center">
        <span *ngIf="profileAvatar"
             [style.background-image]="'url(\''+profileAvatar+'\')'"
             (load)="isAvatarLoaded = true"
             [ngClass]="{'loaded': isAvatarLoaded}"
             loading="eager"
             class="avatar-image mb-6">
        </span>

        <h1 *ngIf="userAddress && (isProfileLoaded || isProfileError)" class="text-white font-display text-center mb-6 text-5xl md:text-left lg:text-6xl xl:text-7xl">
            {{creatorAlias}}
        </h1>

        <div class="w-full flex justify-center items-center">
            <span *ngIf="isOwner && isProfileLoaded" class="badge-blured flex justify-center items-center accent"
                  data-bs-toggle="modal"
                  data-bs-target="#profileEditModal">
                Edit Profile
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="ml-2 h-4 w-4">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 14.062V20h2v-5.938c3.946.492 7 3.858 7 7.938H4a8.001 8.001 0 0 1 7-7.938zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"></path>
                </svg>
            </span>

            <span *ngIf="!isOwner && isProfileLoaded && this.profile && connectedUserAddress"
                  (click)="toggleFollow()"
                  class="badge-blured flex justify-center items-center accent ml-8">
                {{isFollower ? 'Unfollow' : 'Follow'}}
                <svg *ngIf="!isFollower" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="ml-2 h-4 w-4" fill="none">
                    <path fill="none" d="M0 0H24V24H0z"></path>
                    <path fill="currentColor" d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>
                </svg>
                <svg *ngIf="isFollower" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-accent ml-2 h-4 w-4">
                    <path fill="none" d="M0 0H24V24H0z"></path>
                    <path class="fill-accent" d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>
                </svg>
            </span>
        </div>
    </div>

    <figure [style.background-image]="profileCover ? 'url(\''+profileCover+'\')' : (isProfileLoaded || isProfileError ? 'url(\''+'/assets/img/gradient-background-min.png'+'\')' : 'url(\''+''+'\')')" class="relative"></figure>

    <div *ngIf="userAddress" class="cover-inner-more-button">
        <div class="button-round shadow-md dropdown dark:bg-jacarta-700 border bg-white">
            <a class="dark:bg-jacarta-700 bg-white dropdown-toggle flex items-center justify-between rounded-lg py-3.5 px-3 text-sm dark:text-white"
               role="button" id="collectionActions" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="dark:fill-jacarta-200 fill-jacarta-500">
                    <circle cx="2" cy="2" r="2"></circle>
                    <circle cx="8" cy="2" r="2"></circle>
                    <circle cx="14" cy="2" r="2"></circle>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end dark:bg-jacarta-800 z-10 hidden min-w-[200px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl" aria-labelledby="collectionActions" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-66px, 139.333px, 0px);">
                <button *ngIf="isOwner && isProfileLoaded" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white"
                        data-bs-toggle="modal"
                        data-bs-target="#profileEditModal">
                    <span class="mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="22" height="22">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor" d="M11 14.062V20h2v-5.938c3.946.492 7 3.858 7 7.938H4a8.001 8.001 0 0 1 7-7.938zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"></path>
                        </svg>
                    </span>
                    <span>
                        Edit Profile
                    </span>
                </button>

                <button (click)="goToUserAddressOnExplorer()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg width="22" height="22" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.36444 9.99861C4.36442 9.88134 4.38756 9.76521 4.43254 9.65691C4.47752 9.5486 4.54344 9.45026 4.62652 9.36752C4.70961 9.28478 4.80821 9.21927 4.91668 9.17477C5.02514 9.13026 5.14133 9.10763 5.25856 9.10818L6.74093 9.11304C6.97729 9.11304 7.20397 9.20697 7.3711 9.37416C7.53823 9.54135 7.63212 9.7681 7.63212 10.0045V15.6119C7.79911 15.5624 8.01328 15.5096 8.24789 15.4546C8.41079 15.4162 8.55596 15.3239 8.65988 15.1927C8.76379 15.0615 8.82036 14.899 8.8204 14.7316V7.77617C8.82039 7.65908 8.84344 7.54313 8.88822 7.43495C8.93301 7.32676 8.99866 7.22846 9.08142 7.14566C9.16418 7.06285 9.26243 6.99717 9.37057 6.95235C9.47871 6.90753 9.59461 6.88446 9.71167 6.88445H11.197C11.4333 6.88449 11.66 6.97843 11.8271 7.14561C11.9942 7.31279 12.0881 7.53953 12.0882 7.77596V14.2318C12.0882 14.2318 12.4599 14.0812 12.8222 13.9282C12.9568 13.8713 13.0716 13.776 13.1524 13.6542C13.2331 13.5324 13.2762 13.3895 13.2764 13.2434V5.54701C13.2764 5.42994 13.2994 5.31401 13.3442 5.20585C13.389 5.09768 13.4546 4.99941 13.5373 4.91662C13.6201 4.83384 13.7183 4.76817 13.8265 4.72336C13.9346 4.67856 14.0505 4.6555 14.1675 4.6555H15.6528C15.8891 4.6555 16.1158 4.74942 16.283 4.91661C16.4501 5.0838 16.544 5.31056 16.544 5.54701V11.8845C17.8318 10.951 19.1368 9.82806 20.1725 8.47789C20.3228 8.28191 20.4222 8.05176 20.4619 7.80799C20.5016 7.56421 20.4804 7.31439 20.4002 7.08081C19.6994 5.03788 18.385 3.26132 16.6366 1.99407C14.8882 0.72681 12.7912 0.0307121 10.6323 0.000951922C4.81072 -0.0772794 -0.0005215 4.6766 5.03732e-05 10.501C-0.00566572 12.344 0.475188 14.1558 1.39399 15.7533C1.5207 15.9718 1.70711 16.1496 1.93133 16.2658C2.15554 16.382 2.40825 16.4318 2.65976 16.4093C2.94076 16.3845 3.29061 16.3496 3.7065 16.3007C3.88752 16.2801 4.05464 16.1936 4.17604 16.0577C4.29743 15.9218 4.36461 15.746 4.3648 15.5638V9.99861" fill="currentColor"></path><path d="M4.33235 18.991C5.89799 20.1303 7.74818 20.8142 9.67825 20.967C11.6083 21.1197 13.543 20.7354 15.2683 19.8565C16.9935 18.9776 18.4421 17.6384 19.4538 15.9871C20.4655 14.3357 21.0007 12.4366 21.0004 10.4998C21.0004 10.2581 20.9892 10.019 20.9731 9.78125C17.1385 15.502 10.0584 18.1765 4.33228 18.9912" fill="currentColor"></path></svg>
                    </span>
                    <span>
                        View on Explorer
                    </span>
                </button>
                <hr class="dark:bg-jacarta-600 bg-jacarta-100 my-2 mx-4 h-px border-0">

                <button *ngIf="profile?.twitter" (click)="goToUserTwitter()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                            <path
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            ></path>
                        </svg>
                    </span>
                    <span>
                        Twitter
                    </span>
                </button>

                <button *ngIf="profile?.instagram" (click)="goToUserInstagram()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg viewBox="0 0 24 24" class="group-hover:fill-accent fill-jacarta-300 h-5 w-5 dark:group-hover:fill-white" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.162C15.204 2.162 15.584 2.174 16.849 2.232C18.215 2.294 19.482 2.568 20.457 3.543C21.432 4.518 21.706 5.785 21.768 7.151C21.826 8.416 21.838 8.796 21.838 12C21.838 15.204 21.826 15.584 21.768 16.849C21.706 18.215 21.432 19.482 20.457 20.457C19.482 21.432 18.215 21.706 16.849 21.768C15.584 21.826 15.204 21.838 12 21.838C8.796 21.838 8.416 21.826 7.151 21.768C5.785 21.706 4.518 21.432 3.543 20.457C2.568 19.482 2.294 18.215 2.232 16.849C2.174 15.584 2.162 15.204 2.162 12C2.162 8.796 2.174 8.416 2.232 7.151C2.294 5.785 2.568 4.518 3.543 3.543C4.518 2.568 5.785 2.294 7.151 2.232C8.416 2.174 8.796 2.162 12 2.162ZM12 0C8.741 0 8.332 0.014 7.052 0.072C5.102 0.161 3.389 0.639 2.014 2.014C0.639 3.389 0.161 5.102 0.072 7.052C0.014 8.332 0 8.741 0 12C0 15.259 0.014 15.668 0.072 16.948C0.161 18.898 0.639 20.611 2.014 21.986C3.389 23.361 5.102 23.839 7.052 23.928C8.332 23.986 8.741 24 12 24C15.259 24 15.668 23.986 16.948 23.928C18.898 23.839 20.611 23.361 21.986 21.986C23.361 20.611 23.839 18.898 23.928 16.948C23.986 15.668 24 15.259 24 12C24 8.741 23.986 8.332 23.928 7.052C23.839 5.102 23.361 3.389 21.986 2.014C20.611 0.639 18.898 0.161 16.948 0.072C15.668 0.014 15.259 0 12 0Z" fill="currentColor"></path><path d="M12.0018 5.83594C8.59884 5.83594 5.83984 8.59494 5.83984 11.9979C5.83984 15.4009 8.59884 18.1599 12.0018 18.1599C15.4048 18.1599 18.1638 15.4009 18.1638 11.9979C18.1638 8.59494 15.4048 5.83594 12.0018 5.83594ZM12.0018 15.9979C9.79284 15.9979 8.00184 14.2069 8.00184 11.9979C8.00184 9.78894 9.79284 7.99794 12.0018 7.99794C14.2108 7.99794 16.0018 9.78894 16.0018 11.9979C16.0018 14.2069 14.2108 15.9979 12.0018 15.9979Z" fill="currentColor"></path><path d="M18.4048 7.03625C19.2001 7.03625 19.8448 6.39154 19.8448 5.59625C19.8448 4.80096 19.2001 4.15625 18.4048 4.15625C17.6096 4.15625 16.9648 4.80096 16.9648 5.59625C16.9648 6.39154 17.6096 7.03625 18.4048 7.03625Z" fill="currentColor"></path></svg>
                    </span>
                    <span>
                        Instagram
                    </span>
                </button>

                <button *ngIf="profile?.discord" (click)="goToUserDiscord()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="discord" class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"></path>
                        </svg>
                    </span>
                    <span>
                        Discord
                    </span>
                </button>

                <button *ngIf="profile?.ens" (click)="goToUserENS()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                       <svg viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg" width="32" height="20" style="display: block; position: relative;"><rect width="36" height="22" rx="5" fill="currentColor"></rect><path d="M5.938 16H12.616V14.39H7.786V11.772H11.538V10.176H7.786V7.796H12.462V6.2H5.938V16ZM14.0591 16H15.9071V9.098L20.1631 16H22.1511V6.2H20.3031V13.116L16.0611 6.2H14.0591V16ZM27.2459 16.112C29.4019 16.112 30.8999 15.006 30.8999 13.186C30.8999 9.364 25.5659 10.988 25.5659 8.818C25.5659 8.132 26.1679 7.684 27.1339 7.684C28.1699 7.684 28.8419 8.258 28.9259 9.112H30.6899C30.6059 7.278 29.2059 6.088 27.1339 6.088C25.1459 6.088 23.7599 7.208 23.7599 8.818C23.7599 12.57 29.0239 11.114 29.0239 13.214C29.0239 14.082 28.2959 14.502 27.2459 14.502C26.0699 14.502 25.3419 13.802 25.2439 12.71H23.4659C23.5639 14.768 25.0199 16.112 27.2459 16.112Z" fill="white"></path></svg>
                    </span>
                    <span>
                        ENS
                    </span>
                </button>

                <button *ngIf="profile?.externalLink" (click)="goToUserWebsite()" class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">
                    <span class="mr-2">
                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-accent fill-current h-5 w-5 dark:group-hover:fill-white"><path d="M15.0008 0H8.00078V2H12.6008L6.30078 8.3L7.70078 9.7L14.0008 3.4V8H16.0008V1C16.0008 0.4 15.6008 0 15.0008 0Z"></path><path d="M14 16H1C0.4 16 0 15.6 0 15V2C0 1.4 0.4 1 1 1H5V3H2V14H13V11H15V15C15 15.6 14.6 16 14 16Z"></path></svg>
                    </span>
                    <span>
                        Website
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Profile &ndash;&gt;-->
<!--<section class="dark:bg-jacarta-800 bg-light-base relative pb-12 pt-28">-->
<!--    <div class="container">-->
<!--        <div class="text-center">-->
<!--            <h2 class="font-display text-jacarta-700 mb-2 text-4xl font-medium dark:text-white">User's Collections</h2>-->
<!--            <div-->
<!--                    class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 mb-8 inline-flex items-center justify-center rounded-full border bg-white py-1.5 px-4"-->
<!--            >-->
<!--              <span data-tippy-content="EVM address">-->
<!--                <svg-->
<!--                        version="1.1"-->
<!--                        xmlns="http://www.w3.org/2000/svg"-->
<!--                        x="0"-->
<!--                        y="0"-->
<!--                        viewBox="0 0 1920 1920"-->
<!--                        xml:space="preserve"-->
<!--                        class="mr-1 h-4 w-4"-->
<!--                >-->
<!--                  <path fill="#8A92B2" d="M959.8 80.7L420.1 976.3 959.8 731z"></path>-->
<!--                  <path fill="#62688F" d="M959.8 731L420.1 976.3l539.7 319.1zm539.8 245.3L959.8 80.7V731z"></path>-->
<!--                  <path fill="#454A75" d="M959.8 1295.4l539.8-319.1L959.8 731z"></path>-->
<!--                  <path fill="#8A92B2" d="M420.1 1078.7l539.7 760.6v-441.7z"></path>-->
<!--                  <path fill="#62688F" d="M959.8 1397.6v441.7l540.1-760.6z"></path>-->
<!--                </svg>-->
<!--              </span>-->
<!--                <button *ngIf="userAddress"-->
<!--                        (click)="copyCreatorAddress()"-->
<!--                        class="js-copy-clipboard dark:text-jacarta-200 max-w-[10rem] select-none overflow-hidden text-ellipsis whitespace-nowrap"-->
<!--                        ngxTippy-->
<!--                        data-tippy-content="Copy">-->
<!--                    <span>{{userAddress}}</span>-->
<!--                </button>-->
<!--            </div>-->

<!--            <div></div>-->

<!--            <span *ngIf="createdCollections?.length && areCreatedCollectionsLoaded" class="text-jacarta-400">Created {{createdCollections.length}} collections</span>-->
<!--            <span *ngIf="!areCreatedCollectionsLoaded" class="text-jacarta-400">Loading all collections</span>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; end profile &ndash;&gt;-->

<!-- Collection -->
<section class="relative py-24 pt-20 ph-15">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient_light.jpg" class="h-full w-full"/>
    </picture>
    <div class="w-full">
        <!-- Tabs Nav -->
        <ul class="nav nav-tabs scrollbar-custom dark:border-jacarta-600 border-jacarta-100 mb-12 flex items-center justify-start overflow-x-auto overflow-y-hidden border-b pb-px"
                role="tablist">
            <li class="nav-item" role="presentation">
                <button
                        [ngClass]="{'active' : selectedTab === 'creating'}"
                        class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                        id="creating-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#creating"
                        type="button"
                        role="tab"
                        aria-controls="creating"
                        aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M5 5v3h14V5H5zM4 3h16a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm2 9h6a1 1 0 0 1 1 1v3h1v6h-4v-6h1v-2H5a1 1 0 0 1-1-1v-2h2v1zm11.732 1.732l1.768-1.768 1.768 1.768a2.5 2.5 0 1 1-3.536 0z"></path>
                    </svg>
                    <span class="font-display text-lg font-medium">Collections</span>
                </button>
            </li>

<!--            <li *ngIf="isOwner" class="nav-item" role="presentation">-->
<!--                <button-->
<!--                        [ngClass]="{'active' : selectedTab === 'minted'}"-->
<!--                        class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"-->
<!--                        id="minted-tab"-->
<!--                        data-bs-toggle="tab"-->
<!--                        data-bs-target="#minted"-->
<!--                        type="button"-->
<!--                        role="tab"-->
<!--                        aria-controls="minted"-->
<!--                        aria-selected="true">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg"-->
<!--                            viewBox="0 0 24 24"-->
<!--                            width="24"-->
<!--                            height="24"-->
<!--                            class="mr-1 h-5 w-5 fill-current">-->
<!--                        <path fill="none" d="M0 0h24v24H0z" />-->
<!--                        <path d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z"/>-->
<!--                    </svg>-->
<!--                    <span class="font-display text-lg font-medium">NFTs</span>-->
<!--                </button>-->
<!--            </li>-->

            <li class="nav-item" role="presentation">
                <button
                        [ngClass]="{'active' : selectedTab === 'following'}"
                        class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                        id="following-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#following"
                        type="button"
                        role="tab"
                        aria-controls="following"
                        aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         width="24"
                         height="24"
                         class="mr-1 h-5 w-5 fill-current">
                        <path fill="none" d="M0 0H24V24H0z"></path>
                        <path d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>
                    </svg>
                    <span class="font-display text-lg font-medium">Creators</span>
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button
                        [ngClass]="{'active' : selectedTab === 'followers'}"
                        class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                        id="followers-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#followers"
                        type="button"
                        role="tab"
                        aria-controls="followers"
                        aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         width="24"
                         height="24"
                         class="mr-1 h-5 w-5 fill-current">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M11 14.062V20h2v-5.938c3.946.492 7 3.858 7 7.938H4a8.001 8.001 0 0 1 7-7.938zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z"></path>
                    </svg>
                    <span class="font-display text-lg font-medium">Followers</span>
                </button>
            </li>

            <li *ngIf="isOwner" class="nav-item" role="presentation">
                <button
                        [ngClass]="{'active' : selectedTab === 'activity'}"
                        class="nav-link hover:text-jacarta-700 text-jacarta-400 relative flex items-center whitespace-nowrap py-3 px-6 dark:hover:text-white"
                        id="activity-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#activity"
                        type="button"
                        role="tab"
                        aria-controls="activity"
                        aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="mr-1 h-5 w-5 fill-current">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M16.05 12.05L21 17l-4.95 4.95-1.414-1.414 2.536-2.537L4 18v-2h13.172l-2.536-2.536 1.414-1.414zm-8.1-10l1.414 1.414L6.828 6 20 6v2H6.828l2.536 2.536L7.95 11.95 3 7l4.95-4.95z"></path>
                    </svg>
                    <span class="font-display text-lg font-medium">Activity</span>
                </button>
            </li>
        </ul>

        <div class="tab-content">
            <div (click)="selectedTab = 'creating'" [ngClass]="{'show' : selectedTab === 'creating', 'active' : selectedTab === 'creating'}"
                 class="tab-pane fade" id="creating" role="tabpanel" aria-labelledby="creating-tab">
                <!-- Grid -->
                <div *ngIf="userCollections?.length"
                     class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">
                    <article *ngFor="let collection of userCollections; let i = index"
                             (click)="goToCollection(collection)"
                             [ngClass]="{'hidden': isCollectionHidden(collection)}">
                        <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">
                            <figure *ngIf="collection.fileURI" class="relative">
                                <a>
                                    <img *ngIf="collection.imageURL"
                                         [src]="collection.imageURL"
                                         (load)="onImageLoad(collection)"
                                         class="w-full rounded-[0.625rem] max-h-72 object-cover"
                                         loading="eager"
                                    />
                                </a>
                            </figure>

                            <ngx-skeleton-loader
                                    *ngIf="!collection.isImageLoaded"
                                    count="1"
                                    [theme]="{
                              'border-radius': '5px',
                              height: '18rem',
                              border: '1px solid white'
                            }"
                            ></ngx-skeleton-loader>

                            <div class="mt-7 flex items-center justify-between text-nowrap">
                                <a>
                                    <span class="font-display text-jacarta-700 hover:text-accent text-lg dark:text-white">
                                        {{collection.collectionName}}
                                    </span>
                                </a>

                                <span class="flex items-center">
                                    <img [src]="'/assets/img/chains/'+collection.chainSymbol+'.png'" class="h-6 w-6 rounded-full"/>
                                </span>

<!--                                <span class="relative flex items-center">-->
<!--                                    <ngx-ui-loader-->
<!--                                            [ngxTippy]="collection.isPublic ? 'Checking collection\'s status. When it\'ll be created on chain, it\'ll be visible for others.' : 'Checking collection\'s status. When it\'ll be created on chain, you\'ll be able to set it Public for others to see.'"-->
<!--                                            [loaderId]="'creatingCollectionLoader_' + collection.id"-->
<!--                                            bgsSize="20"-->
<!--                                            bgsColor="#4E8DFD"-->
<!--                                            class="mr-[5rem]"-->
<!--                                    ></ngx-ui-loader>-->

<!--                                    <span class="om-badge" [ngClass]="{'info': collection.status === 'CREATING', 'success': collection.status === 'CREATED', 'error': ['ERROR', 'DELETED'].includes(collection.status)}">-->
<!--                                        {{collection.status | titlecase}}-->
<!--                                    </span>-->
<!--                                </span>-->
                            </div>
                            <div class="mt-2 text-sm flex justify-between">
                                <span *ngIf="collection.mintPrice"
                                      class="dark:text-jacarta-200 text-jacarta-700 mr-1 flex items-center">
                                    <img [src]="'/assets/img/currencies/'+collection.assetName+'.svg'" class="h-5 w-5 mr-1"/>
                                    <span class="dark:text-jacarta-200 text-jacarta-700">
                                        {{collection.mintPrice | number : '1.2-3'}}
                                    </span>
                                </span>
                                <span *ngIf="!collection.mintPrice" class="dark:text-jacarta-200 text-jacarta-700 mr-1">Free mint</span>

                                <span *ngIf="collection.totalSupply" class="dark:text-jacarta-300 text-jacarta-500">
                                    {{collection.totalSupply}} items
                                </span>
                            </div>

                            <div *ngIf="isCollectionCreated(collection) && isOwner" class="flex justify-end items-center mt-4">
                                <span *ngIf="collection.isPublic === false"
                                      class="text-accent cursor-pointer flex text-sm"
                                      (click)="$event.stopImmediatePropagation(); setCollectionPublic(collection)"
                                      ngxTippy
                                      data-tippy-content="Public collection is visible for others (for example on the Explore page).">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" class="fill-current mr-1">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path d="M13 9h8L11 24v-9H4l9-15v9zm-2 2V7.22L7.532 13H13v4.394L17.263 11H11z"></path>
                                    </svg>
                                    Set public
                                </span>
                                <span *ngIf="collection.isPublic === true"
                                      class="cursor-pointer text-sm flex"
                                      (click)="$event.stopImmediatePropagation(); setCollectionPrivate(collection)"
                                      ngxTippy
                                      data-tippy-content="Private collection is invisible for others.">

                                    <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5303 4.53033C20.8232 4.23744 20.8232 3.76256 20.5303 3.46967C20.2374 3.17678 19.7626 3.17678 19.4697 3.46967L3.46967 19.4697C3.17678 19.7626 3.17678 20.2374 3.46967 20.5303C3.76256 20.8232 4.23744 20.8232 4.53033 20.5303L7.37723 17.6834C8.74353 18.3266 10.3172 18.75 12 18.75C14.684 18.75 17.0903 17.6729 18.8206 16.345C19.6874 15.6797 20.4032 14.9376 20.9089 14.2089C21.4006 13.5003 21.75 12.7227 21.75 12C21.75 11.2773 21.4006 10.4997 20.9089 9.79115C20.4032 9.06244 19.6874 8.32028 18.8206 7.65503C18.5585 7.45385 18.2808 7.25842 17.989 7.07163L20.5303 4.53033ZM16.8995 8.16113L15.1287 9.93196C15.5213 10.5248 15.75 11.2357 15.75 12C15.75 14.0711 14.0711 15.75 12 15.75C11.2357 15.75 10.5248 15.5213 9.93196 15.1287L8.51524 16.5454C9.58077 16.9795 10.7621 17.25 12 17.25C14.2865 17.25 16.3802 16.3271 17.9073 15.155C18.6692 14.5703 19.2714 13.9374 19.6766 13.3536C20.0957 12.7497 20.25 12.2773 20.25 12C20.25 11.7227 20.0957 11.2503 19.6766 10.6464C19.2714 10.0626 18.6692 9.42972 17.9073 8.84497C17.5941 8.60461 17.2571 8.37472 16.8995 8.16113ZM11.0299 14.0307C11.3237 14.1713 11.6526 14.25 12 14.25C13.2426 14.25 14.25 13.2426 14.25 12C14.25 11.6526 14.1713 11.3237 14.0307 11.0299L11.0299 14.0307Z" fill="black"/>
                                        <path d="M12 5.25C13.0323 5.25 14.0236 5.40934 14.9511 5.68101C15.1296 5.73328 15.1827 5.95662 15.0513 6.0881L14.2267 6.91265C14.1648 6.97451 14.0752 6.99928 13.99 6.97967C13.3506 6.83257 12.6839 6.75 12 6.75C9.71345 6.75 7.61978 7.67292 6.09267 8.84497C5.33078 9.42972 4.72857 10.0626 4.32343 10.6464C3.90431 11.2503 3.75 11.7227 3.75 12C3.75 12.2773 3.90431 12.7497 4.32343 13.3536C4.67725 13.8635 5.18138 14.4107 5.81091 14.9307C5.92677 15.0264 5.93781 15.2015 5.83156 15.3078L5.12265 16.0167C5.03234 16.107 4.88823 16.1149 4.79037 16.0329C4.09739 15.4517 3.51902 14.8255 3.0911 14.2089C2.59937 13.5003 2.25 12.7227 2.25 12C2.25 11.2773 2.59937 10.4997 3.0911 9.79115C3.59681 9.06244 4.31262 8.32028 5.17941 7.65503C6.90965 6.32708 9.31598 5.25 12 5.25Z" fill="black"/>
                                        <path d="M12 8.25C12.1185 8.25 12.2357 8.25549 12.3513 8.26624C12.5482 8.28453 12.6194 8.51991 12.4796 8.6597L11.2674 9.87196C10.6141 10.0968 10.0968 10.6141 9.87196 11.2674L8.6597 12.4796C8.51991 12.6194 8.28453 12.5482 8.26624 12.3513C8.25549 12.2357 8.25 12.1185 8.25 12C8.25 9.92893 9.92893 8.25 12 8.25Z" fill="black"/>
                                    </svg>
                                    <span class="text-sm">Hide</span>
                                </span>
                                <ngx-skeleton-loader
                                        *ngIf="collection.isPublic === undefined"
                                        count="1"
                                        [theme]="{
                                          'border-radius': '5px',
                                          border: '1px solid white'
                                        }"
                                ></ngx-skeleton-loader>

                                <span *ngIf="collection.chainSymbol !== 'Sui'" class="text-accent cursor-pointer flex text-sm ml-4"
                                      (click)="$event.stopImmediatePropagation(); onCollectionEditStart(collection)"
                                      ngxTippy
                                      data-tippy-content="Set whitelist, maximum allocation, and other minting rules."
                                      [id]="'collectionEditButton_' + i"
                                      data-bs-toggle="modal"
                                      data-bs-target="#collectionEditModal">
                                    Set Whitelist
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- end grid -->

                <!-- Skeleton Grid -->
                <div *ngIf="(!areUserCollectionsLoaded && !userCollections.length)"
                     class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">
                    <article *ngFor="let item of placeholderItems">
                        <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg"
                        >
                            <ngx-skeleton-loader
                                    count="1"
                                    [theme]="{
                              'border-radius': '5px',
                              height: '18rem',
                              border: '1px solid white'
                            }"
                            ></ngx-skeleton-loader>
                        </div>
                    </article>
                </div>
                <!-- end skeleton grid -->

                <!-- empty -->
                <div *ngIf="areUserCollectionsLoaded && !userCollections.length" class="mx-auto max-w-lg text-center">
                    <h1 class="text-jacarta-700 font-display mb-6 text-4xl dark:text-white md:text-6xl">No collections yet</h1>
                    <p class="dark:text-jacarta-300 mb-12 text-lg leading-normal">
                        You haven't created any collection yet. Create it, and check its status here.
                    </p>
                    <a (click)="goToCreate()"
                       class="font-display bg-accent hover:bg-white border-accent text-white hover:border-1 hover:text-accent inline-block rounded-full py-3 px-8 text-center transition-all">Create</a>
                </div>
            </div>

<!--            <div (click)="selectedTab = 'minted'" [ngClass]="{'show' : selectedTab === 'minted', 'active' : selectedTab === 'minted'}"-->
<!--                 class="tab-pane fade" id="minted" role="tabpanel" aria-labelledby="minted-tab">-->
<!--                &lt;!&ndash; Grid &ndash;&gt;-->
<!--                <div *ngIf="mintedNFTs?.length"-->
<!--                     class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">-->
<!--                    <article *ngFor="let nft of mintedNFTs; let i = index">-->
<!--                        <div *ngIf="nft.contentType !== 'MUSIC'" class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">-->
<!--                            <figure (click)="goToNFTCollection(nft)" class="relative">-->
<!--                                <a>-->
<!--                                    <img *ngIf="nft.fileURL"-->
<!--                                         [src]="nft.fileURL"-->
<!--                                         (load)="nft.isFileLoaded = true;"-->
<!--                                         class="w-full rounded-[0.625rem] max-h-72 object-cover"-->
<!--                                         loading="eager"-->
<!--                                    />-->
<!--                                </a>-->
<!--                            </figure>-->

<!--                            <ngx-skeleton-loader-->
<!--                                    (click)="goToNFTCollection(nft)"-->
<!--                                    *ngIf="!nft.isFileLoaded"-->
<!--                                    count="1"-->
<!--                                    [theme]="{-->
<!--                                      'border-radius': '5px',-->
<!--                                      height: '18rem',-->
<!--                                      border: '1px solid white'-->
<!--                                    }"-->
<!--                            ></ngx-skeleton-loader>-->

<!--                            <div class="mt-7 flex items-center justify-between w-full text-nowrap">-->
<!--                                <a (click)="goToNFTCollection(nft)">-->
<!--                                    <span class="font-display text-jacarta-700 hover:text-accent text-lg dark:text-white">-->
<!--                                        {{nft.collectionName}} #{{nft.tokenId}}-->
<!--                                    </span>-->
<!--                                </a>-->
<!--                                <span class="flex items-center space-x-4">-->
<!--                                    <img [ngxTippy]="'Minted on ' + nft.chainSymbol"-->
<!--                                         [src]="'/assets/img/chains/'+nft.chainSymbol+'.png'"-->
<!--                                         class="h-6 w-6 rounded-full"/>-->

<!--                                    <div class="button-round h-6 w-6 shadow-md dropdown dark:bg-jacarta-700 border bg-white">-->
<!--                                        <a class="dark:bg-jacarta-700 bg-white dropdown-toggle flex items-center justify-between rounded-lg py-3.5 px-3 text-sm dark:text-white"-->
<!--                                           role="button" [id]="'nft-'+i" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                            <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="dark:fill-jacarta-200 fill-jacarta-500">-->
<!--                                                <circle cx="2" cy="2" r="2"></circle>-->
<!--                                                <circle cx="8" cy="2" r="2"></circle>-->
<!--                                                <circle cx="14" cy="2" r="2"></circle>-->
<!--                                            </svg>-->
<!--                                        </a>-->
<!--                                        <div class="dropdown-menu dropdown-menu-end dark:bg-jacarta-800 z-10 hidden min-w-[200px] whitespace-nowrap rounded-xl bg-white py-4 px-2 text-left shadow-xl" [attr.aria-labelledby]="'nft-'+i" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-66px, 139.333px, 0px);">-->
<!--                                            <button (click)="goToMarketplace(nft)"-->
<!--                                                    class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 text-left text-sm transition-colors dark:text-white">-->
<!--                                                <span class="mr-2">-->
<!--                                                    <img [src]="'/assets/img/brands/'+getMarketplaceName(nft.chainSymbol)+'.svg'"-->
<!--                                                         style="height: 22px; width: 22px;" class="object-cover">-->
<!--                                                </span>-->
<!--                                                <span>-->
<!--                                                    Sell-->
<!--                                                </span>-->
<!--                                            </button>-->
<!--                                            <button class="flex justify-start items-center dark:hover:bg-jacarta-600 font-display hover:bg-jacarta-50 block w-full rounded-xl px-5 py-3 mt-2 text-left text-sm transition-colors dark:text-white">-->
<!--                                                <span class="mr-2">-->
<!--                                                    <svg width="22" height="22" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.36444 9.99861C4.36442 9.88134 4.38756 9.76521 4.43254 9.65691C4.47752 9.5486 4.54344 9.45026 4.62652 9.36752C4.70961 9.28478 4.80821 9.21927 4.91668 9.17477C5.02514 9.13026 5.14133 9.10763 5.25856 9.10818L6.74093 9.11304C6.97729 9.11304 7.20397 9.20697 7.3711 9.37416C7.53823 9.54135 7.63212 9.7681 7.63212 10.0045V15.6119C7.79911 15.5624 8.01328 15.5096 8.24789 15.4546C8.41079 15.4162 8.55596 15.3239 8.65988 15.1927C8.76379 15.0615 8.82036 14.899 8.8204 14.7316V7.77617C8.82039 7.65908 8.84344 7.54313 8.88822 7.43495C8.93301 7.32676 8.99866 7.22846 9.08142 7.14566C9.16418 7.06285 9.26243 6.99717 9.37057 6.95235C9.47871 6.90753 9.59461 6.88446 9.71167 6.88445H11.197C11.4333 6.88449 11.66 6.97843 11.8271 7.14561C11.9942 7.31279 12.0881 7.53953 12.0882 7.77596V14.2318C12.0882 14.2318 12.4599 14.0812 12.8222 13.9282C12.9568 13.8713 13.0716 13.776 13.1524 13.6542C13.2331 13.5324 13.2762 13.3895 13.2764 13.2434V5.54701C13.2764 5.42994 13.2994 5.31401 13.3442 5.20585C13.389 5.09768 13.4546 4.99941 13.5373 4.91662C13.6201 4.83384 13.7183 4.76817 13.8265 4.72336C13.9346 4.67856 14.0505 4.6555 14.1675 4.6555H15.6528C15.8891 4.6555 16.1158 4.74942 16.283 4.91661C16.4501 5.0838 16.544 5.31056 16.544 5.54701V11.8845C17.8318 10.951 19.1368 9.82806 20.1725 8.47789C20.3228 8.28191 20.4222 8.05176 20.4619 7.80799C20.5016 7.56421 20.4804 7.31439 20.4002 7.08081C19.6994 5.03788 18.385 3.26132 16.6366 1.99407C14.8882 0.72681 12.7912 0.0307121 10.6323 0.000951922C4.81072 -0.0772794 -0.0005215 4.6766 5.03732e-05 10.501C-0.00566572 12.344 0.475188 14.1558 1.39399 15.7533C1.5207 15.9718 1.70711 16.1496 1.93133 16.2658C2.15554 16.382 2.40825 16.4318 2.65976 16.4093C2.94076 16.3845 3.29061 16.3496 3.7065 16.3007C3.88752 16.2801 4.05464 16.1936 4.17604 16.0577C4.29743 15.9218 4.36461 15.746 4.3648 15.5638V9.99861" fill="currentColor"></path><path d="M4.33235 18.991C5.89799 20.1303 7.74818 20.8142 9.67825 20.967C11.6083 21.1197 13.543 20.7354 15.2683 19.8565C16.9935 18.9776 18.4421 17.6384 19.4538 15.9871C20.4655 14.3357 21.0007 12.4366 21.0004 10.4998C21.0004 10.2581 20.9892 10.019 20.9731 9.78125C17.1385 15.502 10.0584 18.1765 4.33228 18.9912" fill="currentColor"></path></svg>-->
<!--                                                </span>-->
<!--                                                <span>-->
<!--                                                    View on Explorer-->
<!--                                                </span>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div *ngIf="nft.contentType === 'MUSIC'" class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">-->
<!--                            <vm-player style="&#45;&#45;vm-player-theme: #EC255A; max-width: 80%;">-->
<!--                                <vm-audio>-->
<!--                                    <source [attr.data-src]="nft.fileURL" type="audio/mp3" />-->
<!--                                </vm-audio>-->
<!--                                <vm-ui>-->
<!--                                    <vm-skeleton></vm-skeleton>-->
<!--                                    <vm-controls pin="bottomLeft" active-duration="2750" full-width>-->
<!--                                        <vm-click-to-play></vm-click-to-play>-->
<!--                                        <vm-playback-control></vm-playback-control>-->
<!--                                        <vm-volume-control></vm-volume-control>-->
<!--                                        <vm-time-progress></vm-time-progress>-->
<!--                                    </vm-controls>-->
<!--                                </vm-ui>-->
<!--                            </vm-player>-->

<!--                            <div class="mt-7 flex items-center justify-between w-full text-nowrap">-->
<!--                                <a (click)="goToNFTCollection(nft)">-->
<!--                                    <span class="font-display text-jacarta-700 hover:text-accent text-lg dark:text-white">-->
<!--                                        {{nft.collectionName}} #{{nft.tokenId}}-->
<!--                                    </span>-->
<!--                                </a>-->

<!--                                <span [ngxTippy]="'Minted on ' + nft.chainSymbol" class="flex items-center">-->
<!--                                    <img [src]="'/assets/img/chains/'+nft.chainSymbol+'.png'" class="h-6 w-6 rounded-full"/>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </article>-->

<!--                    <article *ngIf="!areNFTsLoaded">-->
<!--                        <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg">-->
<!--                            <ngx-skeleton-loader-->
<!--                                    count="1"-->
<!--                                    [theme]="{-->
<!--                              'border-radius': '5px',-->
<!--                              height: '18rem',-->
<!--                              border: '1px solid white'-->
<!--                            }"-->
<!--                            ></ngx-skeleton-loader>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--                &lt;!&ndash; end grid &ndash;&gt;-->

<!--                &lt;!&ndash; Skeleton Grid &ndash;&gt;-->
<!--                <div *ngIf="!areNFTsLoaded && !mintedNFTs.length"-->
<!--                     class="grid grid-cols-1 gap-[1.875rem] md:grid-cols-2 lg:grid-cols-3">-->
<!--                    <article *ngFor="let item of placeholderItems">-->
<!--                        <div class="dark:bg-jacarta-700 dark:border-jacarta-700 border-jacarta-100 block rounded-[1.25rem] border bg-white p-[1.1875rem] transition-shadow hover:shadow-lg"-->
<!--                        >-->
<!--                            <ngx-skeleton-loader-->
<!--                                    count="1"-->
<!--                                    [theme]="{-->
<!--                                      'border-radius': '5px',-->
<!--                                      height: '18rem',-->
<!--                                      border: '1px solid white'-->
<!--                                    }"-->
<!--                            ></ngx-skeleton-loader>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--                &lt;!&ndash; end skeleton grid &ndash;&gt;-->

<!--                &lt;!&ndash; empty &ndash;&gt;-->
<!--                <div *ngIf="areNFTsLoaded && !mintedNFTs.length" class="mx-auto max-w-lg text-center">-->
<!--                    <h1 class="text-jacarta-700 font-display mb-6 text-4xl dark:text-white md:text-6xl">No minted NFTs</h1>-->
<!--                    <p class="dark:text-jacarta-300 mb-12 text-lg leading-normal">-->
<!--                        You didn't mint any NFT yet. All your minted Omnichain NFTs will be visible here.-->
<!--                    </p>-->
<!--                    <a (click)="goToExplore()"-->
<!--                       class="font-display bg-accent hover:bg-white border-accent text-white hover:border-1 hover:text-accent inline-block rounded-full py-3 px-8 text-center transition-all">Explore collections</a>-->
<!--                </div>-->
<!--            </div>-->

            <div (click)="selectedTab = 'followers'" [ngClass]="{'show' : selectedTab === 'followers', 'active' : selectedTab === 'followers'}"
                 class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <!-- Grid -->
                <div *ngIf="followers?.length" class="flex justify-center w-full">
                    <article (click)="goToUser(follower)" *ngFor="let follower of followers" class="follow-container hover:shadow-lg flex justify-between items-center w-full">
                        <div class="flex items-center">
                            <span *ngIf="follower.avatar && follower.avatarLoaded"
                                  [style.background-image]="'url(\''+follower.avatar+'\')'"
                                  class="avatar-image small mr-8">
                            </span>

                            <span class="text-lg font-bold font-display">{{follower.name}}</span>
                        </div>

<!--                        <button *ngIf="isProfileLoaded && this.profile && connectedUserAddress"-->
<!--                                (click)="$event.stopImmediatePropagation(); follower.isFollowed ? unfollow(follower) : follow(follower)"-->
<!--                                [ngClass]="{'active': follower.isFollowed}"-->
<!--                                class="follow-btn flex justify-center items-center hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">-->
<!--                            {{follower.isFollowed ? 'Unfollow' : 'Follow'}}-->

<!--                            <svg *ngIf="!follower.isFollowed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="ml-2 h-4 w-4" fill="none">-->
<!--                                <path fill="none" d="M0 0H24V24H0z"></path>-->
<!--                                <path fill="currentColor" d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>-->
<!--                            </svg>-->
<!--                            <svg *ngIf="follower.isFollowed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-accent ml-2 h-4 w-4">-->
<!--                                <path fill="none" d="M0 0H24V24H0z"></path>-->
<!--                                <path class="fill-accent" d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>-->
<!--                            </svg>-->
<!--                        </button>-->
                    </article>
                </div>
            </div>

            <div (click)="selectedTab = 'following'" [ngClass]="{'show' : selectedTab === 'following', 'active' : selectedTab === 'following'}"
                 class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                <!-- Grid -->
                <div *ngIf="following?.length" class="flex justify-center w-full">
                    <article (click)="goToUser(followed)" *ngFor="let followed of following" class="follow-container hover:shadow-lg flex justify-between items-center w-full">
                        <div class="flex items-center">
                            <span *ngIf="followed.avatar && followed.avatarLoaded"
                                  [style.background-image]="'url(\''+followed.avatar+'\')'"
                                  class="avatar-image small mr-8">
                            </span>

                            <span class="text-lg font-bold font-display">{{followed.name}}</span>
                        </div>

<!--                        <button *ngIf="isProfileLoaded && this.profile && connectedUserAddress"-->
<!--                                (click)="$event.stopImmediatePropagation(); followed.isFollowed ? unfollow(followed) : follow(followed)"-->
<!--                                [ngClass]="{'active': followed.isFollowed}"-->
<!--                                class="follow-btn flex justify-center items-center hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">-->
<!--                            {{followed.isFollowed ? 'Unfollow' : 'Follow'}}-->

<!--                            <svg *ngIf="!followed.isFollowed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="ml-2 h-4 w-4" fill="none">-->
<!--                                <path fill="none" d="M0 0H24V24H0z"></path>-->
<!--                                <path fill="currentColor" d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>-->
<!--                            </svg>-->
<!--                            <svg *ngIf="followed.isFollowed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-accent ml-2 h-4 w-4">-->
<!--                                <path fill="none" d="M0 0H24V24H0z"></path>-->
<!--                                <path class="fill-accent" d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"></path>-->
<!--                            </svg>-->
<!--                        </button>-->
                    </article>
                </div>
            </div>

            <div *ngIf="isOwner" (click)="selectedTab = 'activity'" [ngClass]="{'show' : selectedTab === 'activity', 'active' : selectedTab === 'activity'}"
                 class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                <app-user-activity></app-user-activity>
            </div>
        </div>
    </div>
</section>
<!-- end collection -->

<div *ngIf="isOwner" class="modal fade" id="collectionEditModal" tabindex="-1" aria-labelledby="collectionEditModalLabel"
     aria-hidden="true">
    <div [ngClass.lt-md]="['full']" [ngClass.md]="['half']" class="modal-dialog sidebar one-third">
        <div class="modal-content">
            <!-- Body -->
            <div class="modal-body relative p-0 flex flex-col w-full h-full">
                <button #collectionEditModalCloseButton type="button" class="invisible w-0 h-0 opacity-0"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-700 h-6 w-6 dark:fill-white">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path
                                d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        />
                    </svg>
                </button>

                <span class="p-6 flex flex-col space-y-2 items-center mb-4">
                    <span class="text-jacarta-500 font-medium font-display text-lg">Edit minting rules for {{editedCollection?.collectionName}}</span>
                    <span class="text-jacarta-300 font-light font-display text-base">Set whitelist, maximum allocation per wallet, public mint rules, etc.</span>
                </span>

                <div [formGroup]="whitelistForm" class="p-6 flex flex-col w-full h-full shadow-lg">
                    <!-- Addresses -->
                    <div class="mb-6">
                        <label for="item-addresses" class="font-display text-jacarta-700 mb-2 block dark:text-white">Whitelisted addresses</label>
                        <p class="dark:text-jacarta-300 text-2xs mb-3">
                            Comma-seperated {{editedCollection?.chainSymbol}} addresses that will be able to mint before public mint open.
                        </p>
                        <textarea
                                formControlName="addresses"
                                id="item-addresses"
                                class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                rows="6"
                                placeholder="e.g. 0xa823d69e5e50da7b83ab4f3aa21b5f9b679f307624393c359d5124c2d12f5a34,..."
                        ></textarea>
                    </div>

                    <!-- Maximum per whitelisted address -->
                    <div class="mb-6">
                        <label for="maxPerAddress" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                            Maximum mints per whitelisted address.
                        </label>
                        <input
                                formControlName="maxPerAddress"
                                type="number"
                                min="1"
                                step="1"
                                id="maxPerAddress"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"/>
                    </div>

                    <div class="mb-6">
                        <label for="publicFrom"
                               class="font-display text-jacarta-700 mb-2 block dark:text-white">Public Mint date (from)</label>

                        <div class="mb-3 flex items-center space-x-2">
                            <div class="flex flex-col w-full gap-3">
                                <p class="dark:text-jacarta-300 text-2xs">
                                    Date after which everyone can mint (after WL minting).
                                </p>
                                <div>
                                    <p class="dark:text-jacarta-300 text-2xs">
                                        If not set, minting will be available only for the whitelisted addresses.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <input formControlName="publicFrom"
                                   [owlDateTimeTrigger]="dtPicker2"
                                   [owlDateTime]="dtPicker2"
                                   [min]="now"
                                   selectMode="single"
                                   class="shadow-lg dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                   id="publicFrom">
                            <owl-date-time
                                    pickerType="both"
                                    #dtPicker2>
                            </owl-date-time>
                        </div>
                    </div>

                    <!-- Maximum per public address -->
                    <div class="mb-6">
                        <label for="maxPerAddressPublic" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                            Maximum mints per Public Mint address (after whitelisted).
                        </label>
                        <input
                                formControlName="maxPerAddressPublic"
                                type="number"
                                min="1"
                                step="1"
                                id="maxPerAddressPublic"
                                class="box-shadow-full border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"/>
                    </div>

                    <div class="flex justify-start items-end self-end m-0 p-0">
                        <button (click)="onWhitelistSubmit()" [disabled]="whitelistForm.invalid" class="badge-blured accent flex justify-center items-center font-display">
                            <span>Confirm</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end body -->
        </div>
    </div>
</div>

<div *ngIf="isOwner && profileForm" class="modal fade" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel"
     aria-hidden="true">
    <div class="modal-dialog max-w-2xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileEditModalLabel">Edit your Profile</h5>

                <button #profileModalCloseBtn type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            class="fill-jacarta-700 h-6 w-6 dark:fill-white"
                    >
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path
                                d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                        />
                    </svg>
                </button>
            </div>

            <!-- Body -->
            <div [formGroup]="profileForm" class="modal-body relative p-6">
                <!-- Username -->
                <div class="mb-6">
                    <label for="name" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                        Name <span class="text-accent">*</span>
                    </label>
                    <p class="dark:text-jacarta-300 text-2xs mb-2">Your unique name. Will be displayed instead of your wallet address.</p>
                    <p *ngIf="profileForm.get('name').value && !isProfileNameUnique" class="text-accent font-bold text-2xs mb-2">Name is already taken.</p>
                    <p *ngIf="profileForm.get('name').value && profileForm.get('name').value.length > 50"
                       class="text-accent text-2xs mb-2">Name can consist from maximum 50 characters.</p>

                    <input
                            required
                            formControlName="name"
                            max="50"
                            type="text"
                            id="name"
                            class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                            placeholder="Unique Username"
                    />
                </div>

                <!-- Cover Image File Upload -->
                <div class="mb-6">
                    <label for="profileCoverPicker" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                        <span>Background Image</span>
                    </label>
                    <p class="dark:text-jacarta-300 text-2xs">Click and choose your file. Background image should be in a landscape orientation.</p>
                    <p *ngIf="profileCoverFileTooBig" class="text-red text-2xs mt-1">File is too big (max. 20 MB)</p>

                    <div class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100
                group relative flex w-full flex-col items-center justify-center rounded-lg border-2 border-dashed
                bg-white py-20 px-5 mt-3 text-center" [ngClass]="{'file-input-selected': !!profileCoverFile}">
                        <div *ngIf="!profileCoverFile && !profileCover" class="relative z-10 cursor-pointer">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                                />
                            </svg>
                            <p class="dark:text-jacarta-300 mx-auto max-w-xs text-xs">
                                JPG, PNG, GIF, etc. Max size: 20 MB.
                            </p>
                        </div>

                        <div *ngIf="profileCoverFile && !isProfileCoverFileImage()" class="relative z-10 cursor-pointer">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                                />
                            </svg>
                            <p class="mx-auto max-w-xs text-xs text-red">
                                Image only: JPG, PNG, etc.
                            </p>
                        </div>

                        <img *ngIf="profileCoverPreviewSrc" [src]="profileCoverPreviewSrc" class="input-image-preview">
                        <img *ngIf="!profileCoverPreviewSrc && profileCover" [src]="profileCover" class="input-image-preview">

                        <input
                                (change)="onProfileCoverFileChange($event)"
                                type="file"
                                accept="image/*"
                                id="profileCoverPicker"
                                class="absolute inset-0 z-20 cursor-pointer opacity-0"
                        />
                    </div>
                </div>

                <!-- Avatar Image File Upload -->
                <div class="mb-6">
                    <label for="avatarPicker" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                        <span>Avatar</span>
                    </label>
                    <p class="dark:text-jacarta-300 text-2xs">Click and choose your file to upload. Preferably square image.</p>
                    <p *ngIf="profileAvatarFileTooBig" class="text-red text-2xs mt-1">File is too big (Max. 3 MB)</p>

                    <div class="input-avatar-container dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100
                group relative flex max-w-md flex-col items-center justify-center rounded-lg border-2 border-dashed
                bg-white py-20 px-5 mt-3 text-center" [ngClass]="{'file-input-selected': !!profileAvatarFile}">
                        <div *ngIf="!profileAvatarFile && !profileAvatar" class="relative z-10 cursor-pointer">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                                />
                            </svg>
                            <p class="dark:text-jacarta-300 mx-auto max-w-xs text-xs">
                                JPG, PNG, GIF, etc. Max size: 5 MB.
                            </p>
                        </div>

                        <div *ngIf="profileAvatarFile && !isProfileAvatarFileImage()" class="relative z-10 cursor-pointer">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    class="fill-jacarta-500 mb-4 inline-block dark:fill-white"
                            >
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path
                                        d="M16 13l6.964 4.062-2.973.85 2.125 3.681-1.732 1-2.125-3.68-2.223 2.15L16 13zm-2-7h2v2h5a1 1 0 0 1 1 1v4h-2v-3H10v10h4v2H9a1 1 0 0 1-1-1v-5H6v-2h2V9a1 1 0 0 1 1-1h5V6zM4 14v2H2v-2h2zm0-4v2H2v-2h2zm0-4v2H2V6h2zm0-4v2H2V2h2zm4 0v2H6V2h2zm4 0v2h-2V2h2zm4 0v2h-2V2h2z"
                                />
                            </svg>
                            <p class="mx-auto max-w-xs text-xs text-red">
                                Image only: JPG, PNG, etc.
                            </p>
                        </div>

                        <img *ngIf="profileAvatarPreviewSrc" [src]="profileAvatarPreviewSrc" class="input-image-preview">
                        <img *ngIf="!profileAvatarPreviewSrc && profileAvatar" [src]="profileAvatar" class="input-image-preview">

                        <input
                                (change)="onProfileAvatarFileChange($event)"
                                type="file"
                                accept="image/*"
                                id="avatarPicker"
                                class="absolute inset-0 z-20 cursor-pointer opacity-0"
                        />
                    </div>

                    <button (click)="toggleProfileLinks()"
                            class="mt-6 mb-6 hover:bg-accent-dark font-display bg-accent rounded-full px-6 py-2 text-sm text-white">
                        {{isProfileLinksVisible ? 'Hide' : 'Show'}} Profile Links
                    </button>

                    <div *ngIf="isProfileLinksVisible" class="flex flex-col w-full">
                        <!-- Twitter -->
                        <div class="mb-6">
                            <label for="twitter" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                                Twitter
                            </label>
                            <p *ngIf="profileForm.get('twitter').value && profileForm.get('twitter').value.length > 150"
                               class="text-accent text-2xs mb-2">Twitter username can consist from maximum 150 characters.</p>

                            <input
                                    formControlName="twitter"
                                    max="150"
                                    type="text"
                                    id="twitter"
                                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                    placeholder="Twitter username"
                            />
                        </div>

                        <!-- Instagram -->
                        <div class="mb-6">
                            <label for="instagram" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                                Instagram
                            </label>
                            <p *ngIf="profileForm.get('instagram').value && profileForm.get('instagram').value.length > 150"
                               class="text-accent text-2xs mb-2">Instagram username can consist from maximum 150 characters.</p>

                            <input
                                    formControlName="instagram"
                                    max="150"
                                    type="text"
                                    id="instagram"
                                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                    placeholder="Instagram username"
                            />
                        </div>

                        <!-- Discord -->
                        <div class="mb-6">
                            <label for="instagram" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                                Discord (Invite Link)
                            </label>
                            <p *ngIf="profileForm.get('discord').value && profileForm.get('discord').value.length > 150"
                               class="text-accent text-2xs mb-2">Discord link can consist from maximum 150 characters.</p>

                            <input
                                    formControlName="discord"
                                    max="150"
                                    type="text"
                                    id="discord"
                                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                    placeholder="Discord invite link"
                            />
                        </div>

                        <!-- Website -->
                        <div class="mb-6">
                            <label for="externalLink" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                                Website
                            </label>
                            <p *ngIf="profileForm.get('externalLink').value && profileForm.get('externalLink').value.length > 250"
                               class="text-accent text-2xs mb-2">Website link can consist from maximum 250 characters.</p>

                            <input
                                    formControlName="externalLink"
                                    max="150"
                                    type="url"
                                    id="externalLink"
                                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                    placeholder="https://www.example.com"
                            />
                        </div>

                        <!-- ENS -->
                        <div class="mb-6">
                            <label for="ens" class="font-display text-jacarta-700 mb-2 block dark:text-white">
                                ENS
                            </label>
                            <p *ngIf="profileForm.get('ens').value && profileForm.get('ens').value.length > 250"
                               class="text-accent text-2xs mb-2">ENS can consist from maximum 250 characters.</p>

                            <input
                                    formControlName="ens"
                                    max="150"
                                    type="text"
                                    id="ens"
                                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                                    placeholder="Your ENS e.g.: username.eth"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end body -->

            <div class="modal-footer">
                <div class="flex flex-1 w-full text-center justify-center">
                    <button (click)="onProfileEditSubmit()"
                            [disabled]="!isProfileFormValid || isSubmittingProfile"
                            [ngClass]="{'bg-jacarta-100': !isProfileFormValid, 'border-jacarta-100': !isProfileFormValid, 'no-pointer-events': !isProfileFormValid, 'border-accent': isProfileFormValid, 'bg-accent': isProfileFormValid}"
                            class="w-48 ml-8 font-display hover:bg-white border-accent text-white mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-accent">
                        <span>{{isSubmittingProfile ? 'Saving...' : 'Confirm'}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
