<!-- Banner -->
<div class="relative w-full">
    <figure class="w-full h-[7rem] bg-gradient-mesh-accent-1"></figure>
</div>
<!-- end banner -->

<!-- Faucet -->
<section class="dark:bg-jacarta-800 bg-light-base relative pb-12 pt-28">
    <div class="container">
        <div class="text-center">
            <h2 class="font-display text-jacarta-700 mb-2 text-4xl font-medium dark:text-white">Testnet's Faucet</h2>
            <div *ngIf="isConnectedToWallet"
                 class="dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 mb-8 inline-flex items-center justify-center rounded-full border bg-white py-1.5 px-4">
              <span data-tippy-content="EVM address">
                <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0"
                        y="0"
                        viewBox="0 0 1920 1920"
                        xml:space="preserve"
                        class="mr-1 h-4 w-4"
                >
                  <path fill="#8A92B2" d="M959.8 80.7L420.1 976.3 959.8 731z"></path>
                  <path fill="#62688F" d="M959.8 731L420.1 976.3l539.7 319.1zm539.8 245.3L959.8 80.7V731z"></path>
                  <path fill="#454A75" d="M959.8 1295.4l539.8-319.1L959.8 731z"></path>
                  <path fill="#8A92B2" d="M420.1 1078.7l539.7 760.6v-441.7z"></path>
                  <path fill="#62688F" d="M959.8 1397.6v441.7l540.1-760.6z"></path>
                </svg>
              </span>
                <button
                        class="js-copy-clipboard dark:text-jacarta-200 max-w-[10rem] select-none overflow-hidden text-ellipsis whitespace-nowrap"
                >
                    <span>{{userAddress}}</span>
                </button>
            </div>

            <div *ngIf="isConnectedToWallet" class="mb-8 flex items-center justify-center">
                <span (click)="onAssetChange('USDC')" class="select-box shadow-lg" [ngClass]="{'active': assetName === 'USDC'}">
                    <span class="font-display flex items-center">
                        <img src="/assets/img/currencies/USDC.svg" class="mr-2 h-5 w-5 rounded-full"/>
                        USDC
                    </span>
                </span>

                <span (click)="onAssetChange('OSEA')" class="select-box ml-8 shadow-lg" [ngClass]="{'active': assetName === 'OSEA'}">
                    <span class="font-display flex items-center">
                        <img src="/assets/img/currencies/OSEA.svg" class="mr-2 h-5 w-5 rounded-full"/>
                        OSEA
                    </span>
                </span>
            </div>

            <div *ngIf="!isConnectedToWallet" class="mb-8 inline-flex items-center justify-center">
                <button (click)="connectWallet()"
                        class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                    <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-6 w-6"
                         alt="connect with web3 wallet">
                    <span>Connect</span>
                </button>
            </div>

            <p class="dark:text-jacarta-300 mx-auto mb-2 max-w-xl text-lg">
                Get 1000 test tokens for minting testing
            </p>
            <span class="text-jacarta-400">Thank you for your help!</span>
        </div>

        <div *ngIf="isConnectedToWallet" class="mt-16">
            <div class="flex flex-1 w-full text-center justify-center">
                <button (click)="useFaucet()" class="w-48 mr-8 font-display bg-accent hover:bg-white border-accent text-white mb-4 flex w-full items-center justify-center rounded-full border-2 py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-accent">
                    <span>Get tokens</span>
                </button>

                <button (click)="goToExplore()" class="w-48 font-display dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 mb-4 flex w-full items-center justify-center rounded-full border-2 bg-white py-2 px-8 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                    <span>Go Explore</span>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- end faucet -->
