<!-- Banner -->
<div class="relative w-full">
    <figure class="w-full h-[7rem] bg-gradient-mesh-accent-1"></figure>
</div>
<!-- end banner -->

<!-- Intro -->
<section class="dark:bg-jacarta-800 relative py-24">
    <picture class="pointer-events-none absolute inset-0 -z-10 dark:hidden">
        <img src="/assets/img/gradient_light.jpg" alt="gradient" class="h-full w-full"/>
    </picture>
    <div class="container">
        <!-- Info -->
        <div class="text-center w-full flex flex-col items-center justify-center">
            <h2 class="text-jacarta-700 font-display mb-6 text-xxl dark:text-white text-gradient-accent">
                Creator Accelerator
            </h2>
            <button (click)="scrollToForm()"
                    class="badge-blured accent mr-8 flex justify-center items-center">
                Apply
            </button>
        </div>
    </div>
</section>
<!-- End Intro -->

<!-- About -->
<section class="relative py-24">
    <div class="container">
        <div class="mx-auto mb-20 max-w-xl text-center">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-3xl font-medium dark:text-white">
                Learn More
            </h2>
            <p class="dark:text-jacarta-300">
                We have a common goal. Grow fast and create quality art.
            </p>
        </div>

        <div class="grid gap-7 md:grid-cols-3 mt-16">
            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                         class="fill-accent h-12 w-12">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M12 17l-5.878 3.59 1.598-6.7-5.23-4.48 6.865-.55L12 2.5l2.645 6.36 6.866.55-5.231 4.48 1.598 6.7L12 17zm0-2.344l2.817 1.72-.766-3.21 2.507-2.147-3.29-.264L12 7.708l-1.268 3.047-3.29.264 2.507 2.147-.766 3.21L12 14.657z"></path>
                    </svg>
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Create with us!</h3>
                <p class="dark:text-jacarta-300">
                    We can help each other. Omnisea lets you launch your collection mintable from 9 chains.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                         class="fill-accent h-12 w-12">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM7 16v2h2v1h2v-1h.5a2.5 2.5 0 1 0 0-5h-3a.5.5 0 1 1 0-1H13v-2h-2V9H9v1h-.5a2.5 2.5 0 1 0 0 5h3a.5.5 0 1 1 0 1H7z"></path>
                    </svg>
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Earn Rewards</h3>
                <p class="dark:text-jacarta-300">
                    We allocated 1,000,000 OSEA as a gift for the early Creators.
                </p>
            </div>

            <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-12 border bg-white p-8 pt-0 text-center transition-shadow hover:shadow-xl">
                <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-[5.5rem] w-[5.5rem] items-center justify-center border bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                         class="fill-accent h-12 w-12">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M13 9h8L11 24v-9H4l9-15v9zm-2 2V7.22L7.532 13H13v4.394L17.263 11H11z"></path>
                    </svg>
                </div>

                <h3 class="font-display text-jacarta-700 mb-4 text-lg dark:text-white">Post-launch support</h3>
                <p class="dark:text-jacarta-300">
                    We offer our technical support as well as honorable mention among our community.
                </p>
            </div>
        </div>

        <div class="mt-16">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-xl font-medium dark:text-white">
                Get more answers
            </h2>
            <p class="dark:text-jacarta-300 mx-auto mb-10 max-w-md text-center text-lg">
                If you haven't find an answer to your question contact us via e-mail: official@omnisea.org.
            </p>

            <div class="accordion mx-auto max-w-[35rem]" id="accordionFAQ">
                <div class="accordion-item dark:border-jacarta-600 border-jacarta-100 mb-5 overflow-hidden rounded-lg border">
                    <h2 class="accordion-header" id="faq-heading-1">
                        <button class="accordion-button dark:bg-jacarta-700 font-display text-jacarta-700 collapsed relative flex w-full items-center justify-between bg-white px-4 py-3 text-left dark:text-white"
                                type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="false"
                                aria-controls="faq-1">
                            <span>Terms of Creators Accelerator Program</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                 class="accordion-arrow fill-jacarta-700 h-4 w-4 shrink-0 transition-transform dark:fill-white">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"></path>
                            </svg>
                        </button>
                    </h2>
                    <div id="faq-1" class="accordion-collapse collapse" aria-labelledby="faq-heading-1"
                         data-bs-parent="#accordionFAQ">
                        <div class="accordion-body dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 border-t bg-white p-4">
                            <ul class="mt-4">
                                <li class="mt-4">
                                    1) Create a unique Username and add Avatar.
                                </li>
                                <li class="mt-4">2) The user needs to create a collection with a minimum of 50 NFTs.
                                    There is no limit to how many collections the creator can upload, but at least one has to have 50 NFTs.
                                </li>
                                <li class="mt-4">3) The minimum price per mint needs to be set at 5 USDC or 5000 OSEA (in the collection with at least 50 NFTs).
                                </li>
                                <li class="mt-4">4) None of the uploaded NFTs by the user can be plagiarism. The creator can upload NFTs only made by themselves.</li>
                                <li class="mt-4">
                                    5) After creating a username, and avatar, and launching a collection —
                                    a user must fill up the form for the Creator Accelerator Grant Program at Omnisea.org.
                                </li>
                                <li class="mt-4">
                                    6) Grant will be paid out only if all requirements are fulfilled.
                                </li>
                                <li class="mt-4">
                                    7) The selection of winners is the sole and subjective judgment of the Omnisea team.
                                </li>
                                <li class="mt-4">
                                    8) Omnisea reserves the right to refuse or terminate the cooperation undertaken under this program without giving any reason and at any time.
                                </li>
                                <li class="mt-4">
                                    9) The person applying to the Accelerator grants the right to use and distribute the work being the subject of the application for the purposes of marketing, advertising and other forms of external communication.
                                </li>
                                <li class="mt-4">
                                    10) One person (applicant) may receive a grant of up to 10,000 (ten thousand) OSEA.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->

<!-- Form -->
<section id="acceleratorForm" class="relative bg-light-base py-24">
    <div *ngIf="form" [formGroup]="form" class="container">
        <div class="mb-20 w-full flex flex-col items-center text-center">
            <h2 class="font-display text-jacarta-700 mb-6 text-center text-3xl font-medium dark:text-white">
                Apply Now!
            </h2>
            <p *ngIf="!isConnectedToWallet" class="dark:text-jacarta-300">
                It's easy. Connect your wallet to see requirements.
            </p>
            <div *ngIf="isConnectedToWallet" class="flex justify-evenly items-center w-full">
                <span class="flex items-center">
                    <span class="mr-2">{{!!profile ? '✅' : '👉'}}</span>
                    <span>Create a Profile</span>
                </span>

                <span class="flex items-center">
                    <span class="mr-2">{{!!hasRequiredCollection ? '✅' : '👉'}}</span>
                    <span>Collection with min. 50 NFTs and price of min. $5 or 5000 OSEA</span>
                </span>

                <span class="flex items-center">
                    <span class="mr-2">{{!!isSubmitted ? '✅' : '👉'}}</span>
                    <span>Submit this form</span>
                </span>
            </div>
            <div *ngIf="!isConnectedToWallet" class="flex flex-1 justify-center mt-8">
                <button (click)="connectWallet()"
                        class="font-display max-w-[10rem] dark:bg-jacarta-700 dark:border-jacarta-600 border-jacarta-100 dark:hover:bg-accent hover:bg-accent text-jacarta-700 flex items-center justify-center rounded-full border-2 bg-white py-2 px-8 mr-4 text-center font-semibold transition-all hover:border-transparent hover:text-white dark:text-white dark:hover:border-transparent">
                    <img src="/assets/img/wallets/metamask.svg" class="mr-2.5 inline-block h-6 w-6"
                         alt="connect with web3 wallet">
                    <span>Connect</span>
                </button>
            </div>
        </div>

        <!-- Full name -->
        <div class="mb-6 mt-20">
            <label for="fullName" class="font-display text-jacarta-700 mb-2 block dark:text-white">Name and surname</label>
            <input
                    required
                    formControlName="fullName"
                    type="text"
                    id="fullName"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Email -->
        <div class="mb-6">
            <label for="email" class="font-display text-jacarta-700 mb-2 block dark:text-white">E-mail</label>
            <input
                    required
                    formControlName="email"
                    type="email"
                    id="email"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Main Collection URL -->
        <div class="mb-6">
            <label for="mainCollectionURL" class="font-display text-jacarta-700 mb-2 block dark:text-white">Your best
                collection at Omnisea</label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                The preferred collection should contain at least 50 items (NFTs).
            </p>
            <input
                    required
                    formControlName="mainCollectionURL"
                    type="url"
                    id="mainCollectionURL"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
            />
        </div>

        <!-- Experience -->
        <div class="mb-6">
            <label for="experience" class="font-display text-jacarta-700 mb-2 block dark:text-white">Experience</label>
            <p class="dark:text-jacarta-300 text-2xs mb-3">
                If you have something to share - your art, works, portfolio on third party websites - link it here.
            </p>
            <textarea
                    formControlName="experience"
                    id="experience"
                    class="dark:bg-jacarta-700 border-jacarta-100 hover:ring-accent/10 focus:ring-accent dark:border-jacarta-600 dark:placeholder:text-jacarta-300 w-full rounded-lg py-3 hover:ring-2 dark:text-white"
                    rows="4"
                    maxlength="2000"
                    placeholder="OpenSea, Behance, DeviantArt, Dribbble, YouTube, etc."
            ></textarea>
        </div>

        <!-- Terms -->
        <div class="mb-6 flex items-center space-x-2">
            <input
                    formControlName="terms"
                    required
                    type="checkbox"
                    id="terms"
                    class="checked:bg-accent dark:bg-jacarta-600 text-accent border-jacarta-200 focus:ring-accent/20 dark:border-jacarta-500 h-5 w-5 self-start rounded focus:ring-offset-0"
            />
            <label for="terms" class="dark:text-jacarta-200 text-sm">I accept the Terms of Service and Terms of the Accelerator Program.</label>
        </div>

        <p class="text-red" *ngIf="form.get('experience')?.value?.length > 2000">
            Experience field can be max 2000 characters long.
        </p>

        <p class="text-red" *ngIf="!hasRequiredCollection">
            Create collection with at least 50 items (NFTs) and mint price of minimum 5 USDC or 5000 OSEA.
        </p>

        <p class="text-red" *ngIf="!profile">
            Create your profile with unique username and avatar image.
        </p>

        <!-- Submit -->
        <button *ngIf="!isSubmitted && hasRequiredCollection && !!profile"
                [disabled]="form.invalid || isSubmitting"
                (click)="onSubmit()"
                [ngClass]="{'bg-jacarta-300': form.invalid, 'cursor-default': form.invalid}"
                type="button"
                class="bg-accent cursor-pointer rounded-full py-3 px-8 text-center font-semibold text-white transition-all">
            {{isSubmitting ? 'Sending' : 'Submit'}}
        </button>
    </div>
</section>
<!-- End Form -->
