<!-- Hero -->
<section class="overflow-hidden relative pb-10 pt-20 md:pt-32 mb-12 h-100 box-shadow-material">
    <picture class="picture-container-full pointer-events-none absolute inset-x-0 top-0 -z-10 dark:hidden">
        <img loading="lazy" class="shadow-accent" src="/assets/img/backgrounds/mesh-755.png"/>
    </picture>

    <div class="container h-full">
        <div ngClass.lt-sm="flex-col"
             class="flex h-full items-center justify-between md:grid-cols-12">
            <div class="flex h-full w-full flex-col items-center justify-center py-10 md:py-20 md:pt-0">
                <h1 class="text-white font-display mb-6 text-center text-5xl dark:text-white md:text-left lg:text-7xl xl:text-8xl text-3d">
                    NFT Creator Studio
                </h1>
                <p class="text-changing font-display text-white mb-8 text-center text-xl">
                    <span>No-code. Limitless. Omnichain Mint. Automated IPFS. 0% fee.</span>
                </p>
                <div class="flex">
                    <button (click)="goToCreate()"
                            class="badge-blured accent flex justify-center items-center font-display">
                        <span>Create for free</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute w-full flex flex-col justify-center items-center mb-24 -bottom-5">
        <div class="flex items-center">
            <a href="https://layerzero.network/" target="_blank">
                <img src="/assets/img/brands/layer-zero-logo.svg" class="mr-8 h-6">
            </a>

            <a href="https://axelar.network" target="_blank">
                <img src="/assets/img/brands/axelar_full.webp" class="h-6">
            </a>
        </div>

        <div class="flex justify-center space-x-4 mt-8">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Ethereum.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Polygon.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Aptos.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Sui.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Moonbeam.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/BSC.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Avalanche.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Arbitrum.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Optimism.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Fantom.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Harmony.png" class="object-cover">
            <img [ngClass.lt-md]="['h-4']" [ngClass.gt-sm]="['h-6']" src="/assets/img/chains/white/Metis.png" class="object-cover">
        </div>
    </div>
</section>
<!-- end hero -->

<section [ngClass.gt-sm]="['ph-15', 'h-100']" class="flex flex-col justify-center items-center w-full md:pt-16 overflow-x-hidden">
    <div [ngClass.gt-sm]="['pv-15', 'mb-16']" [ngClass.lt-md]="['ph-5', 'mb-12']"
         class="w-full flex flex-col items-center justify-center space-y-2 text-center">
        <h1 [ngClass.gt-sm]="['text-xxl']" [ngClass.lt-md]="['text-2xl']" class="font-display text-jacarta-700">Create in minutes.</h1>
        <h1 [ngClass.gt-sm]="['text-6xl']" [ngClass.lt-md]="['text-xl']" class="font-medium text-jacarta-700">Everything you and your community need.</h1>
    </div>

    <div [ngClass.gt-sm]="['ph-45']" class="grid gap-7 md:grid-cols-3">
        <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-4 border bg-white p-8 pt-0 transition-shadow hover:shadow-xl">
            <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-6 w-6 items-center justify-center border bg-white">
                <img class="feature-icon" src="/assets/icons/verified.png">
            </div>

            <span class="flex items-center text-lg">
                <span class="p-0 m-0"><span class="font-display p-0 m-0">Creator Studio.</span> No-code required, easily customize and launch any collection.</span>
            </span>
        </div>

        <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-4 border bg-white p-8 pt-0 transition-shadow hover:shadow-xl">
            <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-6 w-6 items-center justify-center border bg-white">
                <img class="feature-icon" src="/assets/icons/settings.png">
            </div>

            <span class="flex items-center text-lg">
                <span class="p-0 m-0"><span class="font-display p-0 m-0">Mint Page.</span> Get your dedicated URL and share it with your community.</span>
            </span>
        </div>

        <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-4 border bg-white p-8 pt-0 transition-shadow hover:shadow-xl">
            <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-6 w-6 items-center justify-center border bg-white">
                <img class="feature-icon" src="/assets/icons/connect.png">
            </div>

            <span class="flex items-center text-lg">
                <span class="p-0 m-0"><span class="font-display p-0 m-0">Omnichain Mint.</span> We innovate. Build chain-agnostic community able to mint from anywhere.</span>
            </span>
        </div>

        <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-4 border bg-white p-8 pt-0 transition-shadow hover:shadow-xl">
            <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-6 w-6 items-center justify-center border bg-white">
                <img class="feature-icon" src="/assets/icons/square.png">
            </div>

            <span class="flex items-center text-lg">
                <span class="p-0 m-0"><span class="font-display p-0 m-0">0% fee.</span> Set price, earn 100% of your revenue on-chain. That's right.</span>
            </span>
        </div>

        <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-4 border bg-white p-8 pt-0 transition-shadow hover:shadow-xl">
            <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-6 w-6 items-center justify-center border bg-white">
                <img class="feature-icon" src="/assets/icons/chains.png">
            </div>

            <span class="flex items-center text-lg">
                <span class="p-0 m-0"><span class="font-display p-0 m-0">Unlimited possibilities.</span> No size limits, batch minting, whitelists, gas optimized.</span>
            </span>
        </div>

        <div class="feature-card dark:bg-jacarta-700 border-transparent rounded-3xl mb-4 border bg-white p-8 pt-0 transition-shadow hover:shadow-xl">
            <div class="dark:bg-jacarta-700 border-transparent mb-9 -mt-8 inline-flex h-6 w-6 items-center justify-center border bg-white">
                <img class="feature-icon" src="/assets/icons/storage.png">
            </div>

            <span class="flex items-center text-lg">
                <span class="p-0 m-0"><span class="font-display p-0 m-0">Automated IPFS.</span> Create NFTs from your files or use existing IPFS link (like Pinata).</span>
            </span>
        </div>
    </div>
</section>

<section [ngClass.gt-sm]="['ph-5']" class="flex flex-col w-full pb-24 md:pt-32 overflow-x-hidden">
    <div [ngClass.lt-md]="['flex-col', 'w-full']" [ngClass.gt-sm]="['rounded-3xl']" class="box-shadow-material h-[75vh] bg-accent-gradient-vertical-cross flex mt-8">
        <div [ngClass.gt-sm]="['flex-col', 'w-half']" [ngClass.lt-md]="['w-full', 'flex-col']" class="flex justify-between h-full pt-12 pb-12 pl-4">
            <span [ngClass.gt-sm]="['text-6xl']" [ngClass.lt-md]="['text-3xl']"
                  class="flex flex-col flex-nowrap text-white font-bold font-display space-y-2">
                <span>Interactive Creator Studio.</span>
                <span>It's amazingly simple.</span>
            </span>

            <div [ngClass.gt-sm]="['hidden']" class="flex justify-center items-center w-full">
                <img src="/assets/img/features/Creator%20Studio%20mockups.png" class="object-cover">
            </div>

            <span [ngClass.gt-sm]="['text-2xl']" [ngClass.lt-md]="['text-lg']"
                  class="flex flex-col flex-nowrap text-white font-light space-y-2">
                <span>The only thing you need is Your Art.</span>
                <span>See what you get even before publishing.</span>
            </span>
        </div>

        <div [ngClass.lt-md]="['hidden']" class="flex justify-end items-center h-full w-half pr-4">
            <img src="/assets/img/features/Creator%20Studio%20mockups.png" class="object-cover">
        </div>
    </div>

<!--    <div [ngClass.gt-sm]="['mt-8', 'h-100', 'space-x-7', 'justify-between']" [ngClass.lt-md]="['flex-col']" class="w-full flex">-->
<!--        <div [ngClass.gt-sm]="['h-full', 'w-half', 'rounded-3xl']" [ngClass.lt-md]="['w-full', 'h-[75vh]', 'mt-0']"-->
<!--             class="box-shadow-material bg-black-gradient-vertical-cross">-->
<!--            <div class="flex flex-col justify-between h-full w-full pt-12 pb-12 pl-4">-->
<!--                <span [ngClass.gt-sm]="['text-6xl']" [ngClass.lt-md]="['text-3xl']"-->
<!--                      class="flex flex-col flex-nowrap text-white font-bold font-display space-y-2">-->
<!--                    <span>Helping Creators.</span>-->
<!--                    <span>Launch your Mint Page.</span>-->
<!--                </span>-->

<!--                <div class="flex w-full flex-col justify-center space-y-5 mt-4 mb-4">-->
<!--                    <span class="flex items-center space-x-5">-->
<!--                        <img [ngClass.gt-sm]="['h-[25vh]']" [ngClass.lt-md]="['h-[20vh]']"-->
<!--                             class="box-shadow-material object-cover rounded-2lg" src="https://firebasestorage.googleapis.com/v0/b/omnisea-7a88d.appspot.com/o/QmQjVdcuLxGRJ1WNCvkiqYfxobXeqbHxKh42JmydjcwrRD_9166366397319?alt=media&token=4dac7a80-6ac9-41c5-b383-ac7da08de8d2" loading="lazy">-->
<!--                        <img [ngClass.gt-sm]="['h-[25vh]']" [ngClass.lt-md]="['h-[20vh]']"-->
<!--                             class="box-shadow-material object-cover rounded-2lg" src="https://firebasestorage.googleapis.com/v0/b/omnisea-7a88d.appspot.com/o/QmWretfN3cMvNzm5hDXRy5TtQhfmnJB36X8uN3bNWxh5PF_9166366397319?alt=media&token=27210e1f-bd5a-463e-8667-b43a1104b67a" loading="lazy">-->
<!--                    </span>-->

<!--                    <span class="flex items-center space-x-5">-->
<!--                        <img [ngClass.gt-sm]="['h-[25vh]']" [ngClass.lt-md]="['h-[20vh]']"-->
<!--                             class="box-shadow-material object-cover rounded-2lg" src="https://firebasestorage.googleapis.com/v0/b/omnisea-7a88d.appspot.com/o/QmSpVfW9Y4im7phMkkH3bh8pvxyzUFZ14aqXJrexCKcJ65_9166366397319?alt=media&token=15e5b915-ca4d-418a-b3cb-cb0874d96c27" loading="lazy">-->
<!--                        <img [ngClass.gt-sm]="['h-[25vh]']" [ngClass.lt-md]="['h-[20vh]']"-->
<!--                             class="box-shadow-material object-cover rounded-2lg" src="https://firebasestorage.googleapis.com/v0/b/omnisea-7a88d.appspot.com/o/QmQhnDq3kV4mRgJrEKz24VPt5Syf4UERU8QGskzrDNTECh_9166366397319?alt=media&token=d0295503-d836-4944-868f-b15e171ec836" loading="lazy">-->
<!--                    </span>-->
<!--                </div>-->

<!--                <span [ngClass.gt-sm]="['text-2xl']" [ngClass.lt-md]="['text-lg']"-->
<!--                      class="flex flex-col flex-nowrap text-white font-light space-y-2">-->
<!--                    <span>Set minting dates, price, whitelist, limits.</span>-->
<!--                    <span>Earn 100% revenue. Permissionless launch.</span>-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div [ngClass.gt-sm]="['h-full', 'w-half', 'rounded-3xl']" [ngClass.lt-md]="['w-full', 'h-[75vh]', 'mt-0']"-->
<!--             class="box-shadow-material bg-inverse-gradient">-->
<!--            <div class="flex flex-col justify-between h-full w-full pt-12 pb-12 pl-4">-->
<!--                <span [ngClass.gt-sm]="['text-6xl']" [ngClass.lt-md]="['text-3xl']" class="flex flex-col flex-nowrap text-white font-bold font-display space-y-2">-->
<!--                    <span>Innovate the art.</span>-->
<!--                    <span>Omnichain. Eternal. New.</span>-->
<!--                </span>-->

<!--                <span [ngClass.gt-sm]="['text-2xl']" [ngClass.lt-md]="['text-lg']" class="flex flex-col flex-nowrap text-white font-light space-y-2">-->
<!--                    <span>Powered by the Web3 pioneers.</span>-->
<!--                    <span>LayerZero, Axelar, IPFS, 10+ EVM chains, Aptos, Sui.</span>-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>

<section *ngIf="collections.length > 0" [ngClass.lt-md]="['mb-24']" class="md:pt-16">
    <div [ngClass.gt-sm]="['pv-15', 'mb-16']" [ngClass.lt-md]="['ph-5', 'mb-12']"
         class="w-full flex flex-col items-center justify-center space-y-2 text-center">
        <h1 [ngClass.gt-sm]="['text-xxl']" [ngClass.lt-md]="['text-2xl']" class="font-display text-jacarta-700">Launch your Drop.</h1>
        <h1 [ngClass.gt-sm]="['text-6xl']" [ngClass.lt-md]="['text-xl']" class="font-medium text-jacarta-700">Share your Mint Page with Everyone.</h1>
    </div>

    <div class="w-full h-full showcase-triad right">
        <div [ngClass.lt-md]="['flex', 'flex-col']" class="showcase-items-separator">
            <span (click)="goToCollection(collections[0])" [ngClass.lt-md]="['h-[50vh]']" class="item-secondary">
                <span class="item-image" [style.background-image]="'url(\''+(collections[0].imageURL)+'\')'"></span>
                <span class="item-avatar" [style.background-image]="'url(\''+(collections[0].squareImageURI)+'\')'"></span>

                <div class="flex justify-between items-end h-full p-10">
                    <span class="w-full h-full flex flex-col justify-end">
                        <span *ngIf="isMintActive(collections[0])" class="badge-blured accent small text-white text-sm">Live</span>
                        <span *ngIf="!isMintActive(collections[0]) && collections[0].dropFrom > 0 && !isEnded(collections[0])"
                              class="badge-blured small text-white text-sm">
                            {{getHumanizedStartCounter(collections[0].dropFrom) | titlecase}}
                        </span>
                        <span *ngIf="isEnded(collections[0])" class="badge-blured small text-white text-sm">
                            Ended
                        </span>

                        <span [ngClass.xs]="['text-xl']" [ngClass.gt-xs]="['text-5xl']" class="text-white font-bold mt-2">{{collections[0].collectionName}}</span>
                        <span class="flex items-center text-white text-base font-semibold mt-2">
                            <span>{{collections[0].totalSupply}} NFTs</span>
                        </span>
                    </span>

                    <button fxHide.xs class="badge-blured flex justify-center items-center font-display">
                        <span>{{isMintActive(collections[0]) ? 'Mint' : 'See'}}</span>
                    </button>
                </div>
            </span>
                <span (click)="goToCollection(collections[1])" [ngClass.lt-md]="['h-[50vh]']" class="item-secondary">
                <span class="item-image" [style.background-image]="'url(\''+(collections[1].imageURL)+'\')'"></span>
                <span class="item-avatar" [style.background-image]="'url(\''+(collections[1].squareImageURI)+'\')'"></span>

                <div class="flex justify-between items-end h-full p-10">
                    <span class="w-full h-full flex flex-col justify-end">
                        <span *ngIf="isMintActive(collections[1])" class="badge-blured accent small text-white text-sm">Live</span>
                        <span *ngIf="!isMintActive(collections[1]) && collections[1].dropFrom > 0 && !isEnded(collections[1])"
                              class="badge-blured small text-white text-sm">
                            {{getHumanizedStartCounter(collections[1].dropFrom) | titlecase}}
                        </span>
                        <span *ngIf="isEnded(collections[1])" class="badge-blured small text-white text-sm">
                            Ended
                        </span>

                        <span [ngClass.xs]="['text-xl']" [ngClass.gt-xs]="['text-5xl']" class="text-white font-bold mt-2">{{collections[1].collectionName}}</span>
                        <span class="flex items-center text-white text-base font-semibold mt-2">
                            <span>{{collections[1].totalSupply}} NFTs</span>
                        </span>
                    </span>

                    <button fxHide.xs class="badge-blured flex justify-center items-center font-display">
                        <span>{{isMintActive(collections[1]) ? 'Mint' : 'See'}}</span>
                    </button>
                </div>
            </span>
            </div>

            <span (click)="goToCollection(collections[2])" [ngClass.lt-md]="['h-[50vh]']" class="item-square-big">
            <span class="item-image" [style.background-image]="'url(\''+(collections[2].squareImageURI)+'\')'"></span>
            <span [ngClass.gt-sm]="['hidden']" class="item-avatar" [style.background-image]="'url(\''+(collections[2].imageURL)+'\')'"></span>

            <div class="flex justify-between items-end h-full w-full p-10">
                <span class="w-full h-full flex flex-col justify-end">
                    <span *ngIf="isMintActive(collections[2])" class="badge-blured accent small text-white text-sm">Live</span>
                    <span *ngIf="!isMintActive(collections[2]) && collections[2].dropFrom > 0 && !isEnded(collections[2])"
                          class="badge-blured small text-white text-sm">
                        {{getHumanizedStartCounter(collections[2].dropFrom) | titlecase}}
                    </span>
                    <span *ngIf="isEnded(collections[2])" class="badge-blured small text-white text-sm">
                        Ended
                    </span>

                    <span [ngClass.xs]="['text-xl']" [ngClass.gt-xs]="['text-5xl']" class="text-white font-bold mt-2">{{collections[2].collectionName}}</span>
                    <span class="flex items-center text-white text-base font-semibold mt-2">
                        <span>{{collections[2].totalSupply}} NFTs</span>
                    </span>
                </span>

                <button fxHide.xs class="badge-blured flex justify-center items-center font-display">
                    <span>{{isMintActive(collections[2]) ? 'Mint' : 'See'}}</span>
                </button>
            </div>
        </span>
    </div>
</section>

<section [ngClass.lt-md]="['hidden']" class="flex flex-col w-full ph-0 mt-24">
    <div class="flex flex-col justify-center items-center w-full h-100 ph-0 pv-15 text-jacarta-500">
        <span class="font-bold text-center text-gradient-accent"
              [ngClass.lt-md]="['text-2xl']"
              [ngClass.gt-sm]="['text-xxl']">Best of Web3</span>

        <span (click)="goToCreate()" class="badge-blured accent mt-4">
            Create together
        </span>

        <div class="w-full flex flex-col justify-center items-center mt-24 ph-45">
            <span class="flex justify-evenly items-center w-full">
                <img class="h-10 object-cover" src="/assets/img/brands/LayerZero_Logo_Full.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/brands/axelar-logo.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="https://moonbeam.network/wp-content/uploads/2020/03/Moonbeam-Logo-Final-500px.png" loading="lazy"/>
                <img class="h-10 object-cover" src="https://sui.io/img/sui-logo2.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/brands/aptos_full_black.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="https://filecoin.io/images/filecoin-logo.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="https://images.ctfassets.net/6g6hg01fg28j/2HWwXVPZCAnllpy4N2cQQA/77d22c742d77a469d80b15e2aa1f1039/icon-eth.svg" loading="lazy"/>
            </span>

            <span class="flex justify-evenly items-center w-full mt-14">
                <img class="h-10 object-cover" src="https://dka575ofm4ao0.cloudfront.net/pages-transactional_logos/retina/65338/ah-logo.png" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/brands/ipfs.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/wallets/metamask_24.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/wallets/ethos.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/wallets/petra.jpg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/wallets/suiet.svg" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/wallets/martian.png" loading="lazy"/>
                <img class="h-10 object-cover" src="/assets/img/wallets/torus_24.svg" loading="lazy"/>
            </span>
        </div>
    </div>
</section>

<section [ngClass.gt-sm]="['pv-15']" class="flex justify-center items-center w-full ph-0">
    <div [ngClass.lt-md]="['flex-col', 'space-y-5', 'w-full', 'mb-12']" [ngClass.gt-sm]="['w-[74.5%]']"
         class="h-[33vh] bg-accent-gradient-vertical-cross flex justify-between items-center rounded-3xl pv-15 ph-15 box-shadow-material">
        <h1 class="text-3xl text-white font-display">Have a question?</h1>

        <button (click)="goToLearn()" class="badge-blured white flex justify-center items-center font-display">
            <span>Learn</span>
        </button>
    </div>
</section>
