$color-accent-rgb: rgba(236, 37, 90, 0.1);
$color-white: #fff;
$box-shadow-material: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

.box-shadow-material {
  box-shadow: $box-shadow-material;
}

.feature-img {
  object-fit: contain;
}

.picture-container-full {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    filter: brightness(0.8) blur(1px);
    transition: all 3s ease-in-out;
    animation: bg-floating 30s infinite linear;
  }
}

.m-w-40 {
  max-width: 40%;
}

.slider-container {
  @supports (-moz-appearance:none) {
    margin-top: 12rem;
  }
}

.text-changing {
  @media (max-width: 575px) {
    height: 10vh;
  }
}

@keyframes bg-floating {
  0% {
    filter: brightness(0.8) blur(1px);
    transition: all 3s ease-in-out;
  }

  50% {
    filter: brightness(0.85) blur(0px);
    transform: scale(1.5) rotate(5deg) skew(5deg, 5deg);
  }

  100% {
    filter: brightness(0.8) blur(1px);
    transform: scale(1) rotate(0deg) skew(0deg, 0deg);
  }
}

.feature-box-right {
  span, img, button {
    align-self: flex-end !important;
    text-align: right !important;
  }
}

.feature-section {
  position: relative;

  .abstract-icon-big {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 50vw;
    filter: blur(3px) opacity(0);
    transition: all 1000ms ease-in-out;
    z-index: -20;

    &.left {
      left: -75%;
    }

    &.right  {
      right: -75%;
    }
  }

  &:hover {
    .abstract-icon-big {
      filter: blur(0px) opacity(1);
      transform: scale(1.5) rotate(90deg);

      &.left {
        left: -40%;
      }

      &.right  {
        right: -40%;
      }
    }
  }
}


/// Showcase

.showcase-triad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  gap: 2rem;
  width: 100%;
  padding: 1rem 2rem;

  .item-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(.8);
    z-index: -10;
  }

  //&.left {
  //  .item-avatar {
  //    left: 2rem;
  //  }
  //}
  //
  //&.right {
  //  .item-avatar {
  //    right: 2rem;
  //  }
  //}

  .item-square-big {
    width: 100%;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    position: relative;
    box-shadow: $box-shadow-material;
    border-radius: 1rem;

    .item-avatar {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 6rem;
      height: 6rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      border: 2px solid #fff;
      object-fit: cover;
      outline: none;
      cursor: pointer;
    }

    @media (min-width: 1202px) {
      height: 100%;
      width: 50%;

      .item-avatar {
        width: 12rem;
        height: 12rem;
      }
    }
  }

  .showcase-items-separator {
    height: auto;
    width: 100%;
    margin-top: 1rem;

    @media (min-width: 1202px) {
      height: 100%;
      width: 50%;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .item-secondary {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    object-fit: cover;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: $box-shadow-material;

    .item-avatar {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 6rem;
      height: 6rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 1rem;
      border: 2px solid #fff;
      object-fit: cover;
      outline: none;
      cursor: pointer;
    }

    &:first-child {
      margin-bottom: 2rem;
    }

    @media (min-width: 1202px) {
      height: 50%;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }

  @media (min-width: 1202px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90vh;
    gap: 2rem;
  }
}
