.wkit-button {
  background-color: unset !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  padding: 0 !important;
}
